<div><font face="arial" style="font:x-small" color="#000000"><br/></font></div>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
</head>
<body><table width="598" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
      <td width="598" style="border-collapse:collapse;"><!-- start PREHEADER TABLE -->
  <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td width="60%" style="border-collapse:collapse; padding-bottom:10px; font-family:verdana,arial; font-size:10px; text-align:left; line-height:13px; color:#999999;">
Skip the e-mail! Just go straight to 
<a href="http://www.greatcollections.com/main.php?referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; text-decoration:underline; font-size:10px; color:#999999;">GreatCollections.com</a>.
<br /><br />Having problems viewing this email? <a href="http://www.greatcollections.com/emails/121411.html" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; text-decoration:underline; font-size:10px; color:#999999;">View it in your browser.</a>
</td>
<td width="40%" style="border-collapse:collapse; padding-bottom:10px; font-family:verdana,arial; font-size:10px; text-align:right; line-height:13px; color:#999999;">
{VR_SOCIAL_SHARING}<br /><a href="{VR_F2AF_LINK}">Forward to a Friend</a>
</td>
</tr>
</table> 
  <!-- end PREHEADER TABLE --></td>
    </tr>
    <tr>
      <td width="598" height="17" style="border-collapse:collapse;"><!-- start GLOBAL NAV TABLE -->
  <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="background-color:#DEE7EC; background:url('http://www.greatcollections.com/images/gc/globalnavbg.gif') center left repeat-x #DEE7EC;">
    <tr>
      <td width="350" height="17" align="center" style="border:1px solid #B0C4CF; border-bottom:none; border-collapse:collapse; background-color:#DEE7EC; background:url('http://www.greatcollections.com/images/gc/globalnavbg.gif') center left repeat-x #DEE7EC; color:#555555;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign="middle" style="background-color:#DEE7EC; background:url('http://www.greatcollections.com/images/gc/globalnavbg.gif') center left repeat-x #DEE7EC;">

          <tr>
            <td align="center" style="border-collapse:collapse;"><a href="http://www.greatcollections.com/main.php?referal_name=email01" style="margin:0; padding:0 3px 0 7px; color:#336699; font-family:verdana,arial; font-size:10px; font-weight:bold; text-decoration:none;">GreatCollections.com</a></td>
            <td align="center" style="border-collapse:collapse;"><a href="http://www.greatcollections.com/main.php?cmd=about&referal_name=email01" style="margin:0; padding:0 3px 0 7px; color:#336699; font-family:verdana,arial; font-size:10px; font-weight:bold; text-decoration:none;">About Us</a></td>
            <td align="center" style="border-collapse:collapse;"><a href="http://www.greatcollections.com/main.php?cmd=sell&referal_name=email01" style="margin:0; padding:0 3px 0 7px; color:#336699; font-family:verdana,arial; font-size:10px; font-weight:bold; text-decoration:none;">Consign</a></td>
            <td align="center" style="border-collapse:collapse;"><a href="http://www.greatcollections.com/main.php?cmd=contact&referal_name=email01" style="margin:0; padding:0 3px 0 7px; color:#336699; font-family:verdana,arial; font-size:10px; font-weight:bold; text-decoration:none;">Contact Us</a></td>
          </tr>
        </table>

      </td>
      <td width="250" bgcolor="#FFFFFF" style="border-collapse:collapse;"></td>
    </tr>
  </table>
<!-- end GLOBAL NAV TABLE -->
</td>
</tr>
</table>
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="border:1px solid #B0C4CF; background:#FFF;">
<tr>
<td width="600" height="90" valign="middle" style="border-collapse:collapse; background:#fafaf3">
<!-- start HEADER TABLE -->
  <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">

    <tr>
      <td width="200" height="90" align="left" style="border-collapse:collapse;"><a href="http://www.greatcollections.com/main.php?referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none;"><img src="http://www.greatcollections.com/images/gc/logoBLUE_275px_x.gif" width="275" height="60" alt="GreatCollections Coin Auctions" title="GreatCollections Coin Auctions" border="0" style="display:block;" /></a></td>
      <td width="400" height="90" style="text-align:center;">
        <span style="border-collapse:collapse; text-align:center; font-family:verdana,arial; font-size:15px; color:#2c5987;">Auctions Ending This Week!<br /><a href="http://www.greatcollections.com/main.php?referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:15px; text-decoration:none;">www.greatcollections.com</a></span></span><br />
        <span style="border-collapse:collapse; text-align:center; font-family:verdana,arial; font-size:11px; color:#2c5987;">24-Hour Coin Deals</span><br />
      </td>
    </tr>

  </table>
<!-- end HEADER TABLE -->
</td>
</tr>
<tr>
<td width="600" height="20" valign="middle" style="border-collapse:collapse;">
<!-- start NAV TABLE -->
  <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="background-color:#2C5987; background:url('http://www.greatcollections.com/images/gc/nav-bg.jpg') center left repeat-x #2C5987;">
    <tr>
      <td width="600" height="21" align="center" style="background-color:#2C5987; background:url('http://www.greatcollections.com/images/gc/nav-bg.jpg') center left repeat-x #2C5987;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign="middle" style="background-color:#2C5987; background:url('http://www.greatcollections.com/images/gc/nav-bg.jpg') center left repeat-x #2C5987;">
          <tr>

  <td align="center" style="border-collapse:collapse;"><a href="http://www.greatcollections.com/merch.php?cmd=listings&referal_name=email01" style="padding:0 6px; font-family:verdana,arial; font-size:11px; color:#fff; text-decoration:none; text-transform:none;">Browse Coins</a></td>
  <td align="center" style="border-left:1px solid #fff; border-collapse:collapse;"><a href="http://www.greatcollections.com/search.php?mode=product&series=55&referal_name=email01" style="padding:0 6px; font-family:verdana,arial; font-size:11px; color:#fff; text-decoration:none; text-transform:none;">Silver Dollars</a></td>
  <td align="center" style="border-left:1px solid #fff; border-collapse:collapse;"><a href="http://www.greatcollections.com/24hours.php?referal_name=email01" style="padding:0 6px; font-family:verdana,arial; font-size:11px; color:#fff; text-decoration:none; text-transform:none;">24-Hour Deals</a></td>
  <td align="center" style="border-left:1px solid #fff; border-collapse:collapse;"><a href="http://www.greatcollections.com/search.php?mode=product&q=&series=&sort=12&referal_name=email01" style="padding:0 6px; font-family:verdana,arial; font-size:11px; color:#fff; text-decoration:none; text-transform:none;">$1,000+ Certified Coins</a></td>
  <td align="center" style="border-left:1px solid #fff; border-collapse:collapse;"><a href="http://www.greatcollections.com/search.php?mode=product&q=&series=&sort=11&referal_name=email01" style="padding:0 6px; font-family:verdana,arial; font-size:11px; color:#fff; text-decoration:none; text-transform:none;">$1-$100 Certifed Coins</a></td>

</tr>

        </table>
      </td>
    </tr>
  </table>
<!-- end NAV TABLE --></td>
    </tr>
    <tr>
      <td width="598" style="border-collapse:collapse; padding:14px;"> <table width="570" border="0" cellpadding="0" cellspacing="0">

  <tr>
    <td style="border-collapse:collapse;">
      <table width="570" border="0" cellpadding="0" cellspacing="0">
       <tr> <td width="190" align="center" style="line-height:16px;">
<br />
            <a href="http://www.greatcollections.com/merch.php?id=30480&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;">
            <b>24-Hour Deal</b><br /><br />
            <img width="114" height="150"   border="0" style="display:block;" alt=" " title=" " src="http://www.greatcollections.com/email2/30480-1.jpg" ><br>2011 25th Anniversary $1<br />Silver Eagle Set First Strike<br>PCGS MS-70/Proof-70<br />(Mercanti Labels) (5 Coins)<br />Buy Now $1,290<br />(Limit 3 Per Client)
          </a>
        </td><td align=left width="380">
            
            
                       <p style="margin:0; padding:10px 0; font-family:verdana,arial; font-size:12px; color:555555;" align="center">
                                              
                       <strong>Browse Over 3,000 Coin Auctions
                        <br />
                        No Hidden Reserves - Items Bid from $1 to $25,000+
                        </strong>

                       <br /><Br />
                       
                       <strong>Great</strong>Collections offers:<br />
                     	<strong>Value:</strong>  The lowest fees, whether buying or selling.
           				<br />
                        <strong>Selection:</strong>  Over 3,000 certified coins currently listed.
                        <br />
                        <strong>Service:</strong>  Fast, professional customer service.
           				<br /><br />

 <strong>All first-time U.S. auction winners receive free shipping.</strong>
         <br /><br />
         <A href="https://www.greatcollections.com/registration.php?referal_name=email01"><strong style="color:#336699;">Register to Bid and Be Part of the Action</strong></A><br />
         Its fast and free, and gives you instant access to bid, our auction archives, your personal watchlist and more.    
         
         <br /><br />

           Ian Russell, Raeleen Endo and the <strong>Great</strong>Collections Team        
            </td></tr> </table> </td> </tr><tr>
  <td width="570" style="padding-top:10px; border-collapse:collapse;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="padding-top:10px; padding-bottom:20px;"><tr><td>&nbsp;</td></tr><tr><TD width="190"><P style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; font-weight:bold;">Auction Highlights</P></TD></tr><tr><td>&nbsp;</td></tr><tr><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=24045&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="105" height="150" border="0" style="display:block;" alt="1889 $1 " title="1889 $1 " src="http://www.greatcollections.com/email2/24045-1.jpg"><br />1889-CC Morgan Silver Dollar<br />NGC AU-58<br />Current Bid $9,000</span>
          </a>
        </td><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=24039&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="114" height="150" border="0" style="display:block;" alt="1908 $20 " title="1908 $20 " src="http://www.greatcollections.com/email2/24039-1.jpg"><br />1908 Saint-Gaudens Double Eagle No Motto<br />PCGS MS-65+<br />Current Bid $2,050</span>
          </a>
        </td><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=29083&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="170" height="110" border="0" style="display:block;" alt="2007 " title="2007 " src="http://www.greatcollections.com/email2/29083-1.jpg"><br />2007-W American Eagle Gold Set<br />PCGS MS-70 (4 Coins, MultiCoin Holder)<br />Current Bid $2,600</span>
          </a>
        </td><tr><td>&nbsp;</td></tr><tr><TD width="190"><P style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; font-weight:bold;">Proof Silver Eagles</P></TD></tr><tr><td>&nbsp;</td></tr><tr><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=28875&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="105" height="150" border="0" style="display:block;" alt="1988 $1 " title="1988 $1 " src="http://www.greatcollections.com/email2/28875-1.jpg"><br />1988-S $1 Silver Eagle<br />NGC Proof-70 UC<br />Current Bid $411</span>
          </a>
        </td><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=28872&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="104" height="150" border="0" style="display:block;" alt="1996 $1 " title="1996 $1 " src="http://www.greatcollections.com/email2/28872-1.jpg"><br />1996-P $1 Silver Eagle<br />NGC Proof-70 UC<br />Current Bid $85</span>
          </a>
        </td><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=23519&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="114" height="150" border="0" style="display:block;" alt="2006 $1 " title="2006 $1 " src="http://www.greatcollections.com/email2/23519-1.jpg"><br />2006-P $1 Silver Eagle 20th Anniversary Reverse Proof<br />PCGS Proof-69<br />Current Bid $52</span>
          </a>
        </td><tr><td>&nbsp;</td></tr><tr><TD width="190"><P style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; font-weight:bold;">Silver Commemoratives</P></TD></tr><tr><td>&nbsp;</td></tr><tr><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=23617&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="114" height="150" border="0" style="display:block;" alt="1991 $1 " title="1991 $1 " src="http://www.greatcollections.com/email2/23617-1.jpg"><br />1991-P Korean War Memorial Silver Dollar<br />PCGS Proof-69 DCAM<br />Current Bid $4</span>
          </a>
        </td><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=23631&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="114" height="150" border="0" style="display:block;" alt="1993 50c" title="1993 50c" src="http://www.greatcollections.com/email2/23631-1.jpg"><br />1993-W James Madison and Bill of Rights Silver Half Dollar<br />PCGS MS-69<br />Current Bid $1</span>
          </a>
        </td><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=23755&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="113" height="150" border="0" style="display:block;" alt="2002 $1 " title="2002 $1 " src="http://www.greatcollections.com/email2/23755-1.jpg"><br />2002-P Salt Lake City Olympic Games Silver Dollar<br />PCGS Proof-69 DCAM<br />Current Bid $1</span>
          </a>
        </td><tr><td>&nbsp;</td></tr><tr><TD width="190"><P style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; font-weight:bold;">Morgan Dollars</P></TD></tr><tr><td>&nbsp;</td></tr><tr><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=24049&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="123" height="150" border="0" style="display:block;" alt="1878 $1 " title="1878 $1 " src="http://www.greatcollections.com/email2/24049-1.jpg"><br />1878-S Morgan Silver Dollar Redfield Collection (Redfield/Paramount Holder)<br />Current Bid $450</span>
          </a>
        </td><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=22083&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="114" height="150" border="0" style="display:block;" alt="1880 $1 " title="1880 $1 " src="http://www.greatcollections.com/email2/22083-1.jpg"><br />1880-S Morgan Silver Dollar<br />PCGS MS-65<br />Current Bid $86</span>
          </a>
        </td><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=22097&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="105" height="150" border="0" style="display:block;" alt="1881 $1 " title="1881 $1 " src="http://www.greatcollections.com/email2/22097-1.jpg"><br />1881-S Morgan Silver Dollar<br />NGC MS-66<br />Current Bid $170</span>
          </a>
        </td><tr><td>&nbsp;</td></tr><tr><TD width="190"><P style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; font-weight:bold;">CC Dollars</P></TD></tr><tr><td>&nbsp;</td></tr><tr><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=24047&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="105" height="150" border="0" style="display:block;" alt="1879 $1 " title="1879 $1 " src="http://www.greatcollections.com/email2/24047-1.jpg"><br />1879-CC Morgan Silver Dollar Capped Die VAM-3 Top-100<br />NGC MS-62<br />Current Bid $3,705</span>
          </a>
        </td><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=23739&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="93" height="150" border="0" style="display:block;" alt="1881 $1 " title="1881 $1 " src="http://www.greatcollections.com/email2/23739-1.jpg"><br />1881-CC Morgan Silver Dollar<br />NGC MS-64 GSA Holder<br />Current Bid $295</span>
          </a>
        </td><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=23738&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="94" height="150" border="0" style="display:block;" alt="1882 $1 " title="1882 $1 " src="http://www.greatcollections.com/email2/23738-1.jpg"><br />1882-CC Morgan Silver Dollar<br />NGC MS-65 GSA Holder<br />Current Bid $260</span>
          </a>
        </td><tr><td>&nbsp;</td></tr><tr><TD width="190"><P style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; font-weight:bold;">Half Dollars</P></TD></tr><tr><td>&nbsp;</td></tr><tr><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=22041&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="115" height="150" border="0" style="display:block;" alt="1946 50c" title="1946 50c" src="http://www.greatcollections.com/email2/22041-1.jpg"><br />1946-D Walking Half Dollar<br />PCGS MS-65<br />Current Bid $57</span>
          </a>
        </td><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=22047&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="114" height="150" border="0" style="display:block;" alt="1942 50c" title="1942 50c" src="http://www.greatcollections.com/email2/22047-1.jpg"><br />1942 Walking Half Dollar<br />PCGS MS-65<br />Current Bid $46</span>
          </a>
        </td><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=19139&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="114" height="150" border="0" style="display:block;" alt="1937 50c" title="1937 50c" src="http://www.greatcollections.com/email2/19139-1.jpg"><br />1937-D Walking Half Dollar<br />PCGS MS-66<br />Current Bid $600</span>
          </a>
        </td><tr><td>&nbsp;</td></tr><tr><TD width="190"><P style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; font-weight:bold;">CAC Coins</P></TD></tr><tr><td>&nbsp;</td></tr><tr><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=29169&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="115" height="150" border="0" style="display:block;" alt="1882 3cn" title="1882 3cn" src="http://www.greatcollections.com/email2/29169-1.jpg"><br />1882 Nickel Three-Cent Piece<br />PCGS Proof-66 CAC<br />Current Bid $670</span>
          </a>
        </td><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=29175&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="114" height="150" border="0" style="display:block;" alt="1916 10c" title="1916 10c" src="http://www.greatcollections.com/email2/29175-1.jpg"><br />1916 Mercury Dime<br />PCGS MS-66 FB CAC<br />Current Bid $225</span>
          </a>
        </td><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=29435&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="105" height="150" border="0" style="display:block;" alt="1893 $1 " title="1893 $1 " src="http://www.greatcollections.com/email2/29435-1.jpg"><br />1893 Morgan Silver Dollar<br />NGC VF-25 CAC<br />Current Bid $37</span>
          </a>
        </td><tr><td>&nbsp;</td></tr><tr><TD width="190"><P style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; font-weight:bold;">U.S. Mint Products</P></TD></tr><tr><td>&nbsp;</td></tr><tr><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=29084&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="170" height="124" border="0" style="display:block;" alt="1987 $50 " title="1987 $50 " src="http://www.greatcollections.com/email2/29084-1.jpg"><br />1987 $50 and $25 Gold American Eagle Proof Set in Original Government Packaging (2 Coins)<br />Current Bid $1,800</span>
          </a>
        </td><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=29082&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="170" height="112" border="0" style="display:block;" alt="2006 " title="2006 " src="http://www.greatcollections.com/email2/29082-1.jpg"><br />2006-W Platinum Eagle Set<br />Uncirculated in Original Government Packaging (4 Coins)<br />Current Bid $3,225</span>
          </a>
        </td><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=29085&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="170" height="150" border="0" style="display:block;" alt=" " title=" " src="http://www.greatcollections.com/email2/29085-1.jpg"><br />2011 25th Anniversary<br />Silver Eagle Set in Original Government Packaging (5 Coins)<br />Current Bid $575</span>
          </a>
        </td><tr><td>&nbsp;</td></tr><tr><TD width="190"><P style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; font-weight:bold;">Lincoln Cents</P></TD></tr><tr><td>&nbsp;</td></tr><tr><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=21533&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="115" height="150" border="0" style="display:block;" alt="1914 1c" title="1914 1c" src="http://www.greatcollections.com/email2/21533-1.jpg"><br />1914 Lincoln Cent<br />PCGS MS-64 RB<br />Current Bid $100</span>
          </a>
        </td><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=21537&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="114" height="150" border="0" style="display:block;" alt="1917 1c" title="1917 1c" src="http://www.greatcollections.com/email2/21537-1.jpg"><br />1917-S Lincoln Cent<br />PCGS MS-64 RB OGH<br />Current Bid $400</span>
          </a>
        </td><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=21547&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="114" height="150" border="0" style="display:block;" alt="1930 1c" title="1930 1c" src="http://www.greatcollections.com/email2/21547-1.jpg"><br />1930-S Lincoln Cent<br />PCGS MS-66 RD<br />Current Bid $300</span>
          </a>
        </td><tr><td>&nbsp;</td></tr><tr><TD width="190"><P style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; font-weight:bold;">Gold Coins</P></TD></tr><tr><td>&nbsp;</td></tr><tr><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=28930&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="170" height="108" border="0" style="display:block;" alt="2009 $20 " title="2009 $20 " src="http://www.greatcollections.com/email2/28930-1.jpg"><br />2009 MMIX Ultra High Relief $20 Gold in Original Government Packaging with Book<br />Current Bid $2,205</span>
          </a>
        </td><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=29020&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="114" height="150" border="0" style="display:block;" alt="2009 $10 " title="2009 $10 " src="http://www.greatcollections.com/email2/29020-1.jpg"><br />2009-W First Spouse $10 Gold Julia Tyler<br />PCGS Proof-70 DCAM<br />Current Bid $1,600</span>
          </a>
        </td><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=29005&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="113" height="150" border="0" style="display:block;" alt="2009 $10 " title="2009 $10 " src="http://www.greatcollections.com/email2/29005-1.jpg"><br />2009-W First Spouse $10 Gold Margaret Taylor. First Strike<br />PCGS Proof-70 DCAM<br />Current Bid $2,800</span>
          </a>
        </td><tr><td>&nbsp;</td></tr><tr><TD width="190"><P style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; font-weight:bold;">More Silver Dollars</P></TD></tr><tr><td>&nbsp;</td></tr><tr><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=29424&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="114" height="150" border="0" style="display:block;" alt="1873 $1 " title="1873 $1 " src="http://www.greatcollections.com/email2/29424-1.jpg"><br />1873 Seated Liberty Silver Dollar<br />PCGS AU-50 CAC<br />Current Bid $440</span>
          </a>
        </td><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=28011&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="103" height="150" border="0" style="display:block;" alt="1879 $1 " title="1879 $1 " src="http://www.greatcollections.com/email2/28011-1.jpg"><br />1879-S Morgan Silver Dollar<br />NGC MS-66<br />Current Bid $230</span>
          </a>
        </td><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=28016&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="105" height="150" border="0" style="display:block;" alt="1882 $1 " title="1882 $1 " src="http://www.greatcollections.com/email2/28016-1.jpg"><br />1882-S Morgan Silver Dollar<br />NGC MS-67<br />Current Bid $335</span>
          </a>
        </td><tr><td>&nbsp;</td></tr><tr><TD width="190"><P style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; font-weight:bold;">World Coins</P></TD></tr><tr><td>&nbsp;</td></tr><tr><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=27532&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="113" height="150" border="0" style="display:block;" alt=" " title=" " src="http://www.greatcollections.com/email2/27532-1.jpg"><br />China 2000 S300Y Silver Panda<br />NGC Proof-68 UC<br />Current Bid $8,000</span>
          </a>
        </td><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=29415&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="104" height="150" border="0" style="display:block;" alt=" " title=" " src="http://www.greatcollections.com/email2/29415-1.jpg"><br />Australia 2010-P S$1 Silver Kangaroo High Relief<br />NGC Proof-70 UC<br />Current Bid $28</span>
          </a>
        </td><td width="190" align="center" style="line-height:16px;">
		  <a href="http://www.greatcollections.com/merch.php?id=27935&referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none; line-height:16px;text-decoration:underline;"><img width="105" height="150" border="0" style="display:block;" alt=" " title=" " src="http://www.greatcollections.com/email2/27935-1.jpg"><br />Canada 2012 S$5 Silver Cougar<br />NGC MS-68<br />Current Bid $1</span>
          </a>
        </td></tr></table></td></tr></table></td></tr></td>
    </tr>

    <tr>
      <td width="598" style="border-collapse:collapse;"><!-- start FOOTER TABLE -->    
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="border-top:1px dashed #929293; text-align:center; background:#E1E9F3;">
  <tr>
    <td width="600" height="20" valign="bottom" align="center" style="padding:0 15px; border-collapse:collapse; background:#E1E9F3;">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="background:#E1E9F3;">
        <tr>
  <td align="center" style="border-collapse:collapse;"><a href="https://www.greatcollections.com/main.php?cmd=cp&referal_name=email01" style="padding:0 4px; border-left:none; font-family:verdana,arial; font-size:10px; color:#336699; text-decoration:none; font-weight:bold;">MyGC</a></td>
  <td align="center" style="border-left:1px solid #B0C4CF; border-collapse:collapse;"><a href="http://www.greatcollections.com/watchlist.php?referal_name=email01" style="padding:0 4px; border-left:none; font-family:verdana,arial; font-size:10px; color:#336699; text-decoration:none; font-weight:bold;">Watchlist</a></td>

  <td align="center" style="border-left:1px solid #B0C4CF; border-collapse:collapse;"><a href="http://www.greatcollections.com/main.php?cmd=about&referal_name=email01" style="padding:0 4px; border-left:none; font-family:verdana,arial; font-size:10px; color:#336699; text-decoration:none; font-weight:bold;">About Us</a></td>
  <td align="center" style="border-left:1px solid #B0C4CF; border-collapse:collapse;"><a href="http://www.greatcollections.com/kb/" style="padding:0 4px; border-left:none; font-family:verdana,arial; font-size:10px; color:#336699; text-decoration:none; font-weight:bold;">Help</a></td>
  <td align="center" style="border-left:1px solid #B0C4CF; border-collapse:collapse;"><a href="http://www.greatcollections.com/main.php?cmd=contact&referal_name=email01" style="padding:0 4px; border-left:none; font-family:verdana,arial; font-size:10px; color:#336699; text-decoration:none; font-weight:bold;">Contact Us</a></td>
  <td align="center" style="border-left:1px solid #B0C4CF; border-collapse:collapse;"><a href="http://www.greatcollections.com/main.php?cmd=promise&referal_name=email01" style="padding:0 4px; border-left:none; font-family:verdana,arial; font-size:10px; color:#336699; text-decoration:none; font-weight:bold;">Trust</a></td>
  <td align="center" style="border-left:1px solid #B0C4CF; border-collapse:collapse;"><a href="http://www.greatcollections.com/main.php?cmd=shows&referal_name=email01" style="padding:0 4px; border-left:none; font-family:verdana,arial; font-size:10px; color:#336699; text-decoration:none; font-weight:bold;">Coin Shows</a></td>
</tr>
      </table>

    </td>
  </tr>
  <tr>
    <td width="600" height="20" valign="middle" align="center" style="padding:0 10px; border-collapse:collapse; background:#E1E9F3;">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="background:#E1E9F3;">
        <tr>
  <td align="center" style="border-collapse:collapse;"><a href="https://www.greatcollections.com/main.php?cmd=through&referal_name=email01" style="padding:0 4px; border-left:none; font-family:verdana,arial; font-size:10px; color:#336699; text-decoration:none; font-weight:bold;">Bidding/Buying Coins Through GreatCollections</a></td>
  <td align="center" style="border-left:1px solid #B0C4CF; border-collapse:collapse;"><a href="http://www.facebook.com/GreatCollections" style="padding:0 4px; border-left:none; font-family:verdana,arial; font-size:10px; color:#336699; text-decoration:none; font-weight:bold;">Facebook</a></td>

  <td align="center" style="border-left:1px solid #B0C4CF; border-collapse:collapse;"><a href="http://twitter.com/greatcollection" style="padding:0 4px; border-left:none; font-family:verdana,arial; font-size:10px; color:#336699; text-decoration:none; font-weight:bold;">Follow Us On Twitter</a></td>
</tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="600" height="70" valign="top" align="center" style="border-collapse:collapse;">
      <p style="margin:0; padding:10px 0; font-family:verdana,arial; font-size:10px; color:#555555;">This message was sent to <a href="mailto:{EMAIL_ADDRESS}" style="font-family:verdana,arial; font-size:10px; color:#336699; color:#336699; text-decoration:none;">{EMAIL_ADDRESS}</a>.<br />Please add <a href="mailto:info@greatcollections.com" style="font-family:verdana,arial; font-size:10px; color:#336699; color:#336699; text-decoration:none;">info@greatcollections.com</a> to your address book to ensure our emails reach your inbox!</p>

      <p style="margin:0; padding:10px 0; font-family:verdana,arial; font-size:10px; color:#555555;">&#169; 2010 - 2011 <a href="http://www.greatcollections.com/main.php?referal_name=email01" style="font-family:verdana,arial; font-size:11px; color:#555555; text-decoration:none; font-size:10px; color:#336699;">GreatCollections.com</a>, LLC<br />2030 Main Street, Suite 620, Irvine, CA 92614<br />
      Tel: 1.800.44.COINS (+1.949.679.4180)</p>

    </td>
    
  </tr>
</table>
<!-- end FOOTER TABLE --></td>

    </tr>
  </table></body>
</html>