<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
<tr valign="top">
	<td>{v3left_nav}</td>
	<td><div style="width:10px"></div></td>
	<td width="100%">

		        <div class="bigtabs" style="padding-bottom:10px; padding-top:0px">
        <div class="bigtabsheader">
        <ul>
          <!--  <li title="" class=""><a href="{https_server}{ilpage[accounting]}">{_accounting}</a></li>
            <if condition="empty($_SESSION['ilancedata']['user']['active']) OR $_SESSION['ilancedata']['user']['active'] == 'no' OR $ilance->subscription->check_access($_SESSION['ilancedata']['user']['userid'], 'deposit') == 'no'"><else /><li title="" class=""><a href="{https_server}{ilpage[accounting]}?cmd=deposit">{_deposit}</a></li></if>
            <if condition="empty($_SESSION['ilancedata']['user']['active']) OR $_SESSION['ilancedata']['user']['active'] == 'no' OR $ilance->subscription->check_access($_SESSION['ilancedata']['user']['userid'], 'withdraw') == 'no'"><else /><li title="" class=""><a href="{https_server}{ilpage[accounting]}?cmd=withdraw">{_withdraw}</a></li></if>
            <li title="" class=""><a href="{https_server}{ilpage[accounting]}?cmd=transactions">{_transactions}</a></li>-->	            
			  <li title="" class=""><if condition="$ilconfig['globalauctionsettings_seourls']"><a href="Accounting/Com-transactions">{_paid_invoice}</a>
				<else /><a href="{https_server}{ilpage[accounting]}?cmd=com-transactions">{_paid_invoice}</a></if></li>
			
			 <li title="" class="on"><a href="javascript:void(0)">{_scheduled_transactions}</a></li>
        </ul>
        </div>
        </div>
        <div style="clear:both;"></div>
        
        <div class="block-wrapper">
            
            <div class="block2">
            
                    <div class="block2-top">
                            <div class="block2-right">
                                    <div class="block2-left"></div>
                            </div>
                    </div>
                    
                    <div class="block2-header">{_scheduled_transaction_history}</div>
                    <div class="block2-content" style="padding:0px">
                        
                        <table width="100%" border="0" align="center" cellpadding="{table_cellpadding}" cellspacing="{table_cellspacing}">
                        <tr> 
						<!--sekar on pendinf invoice pdf july 19-->
						    <td width="7%" class="alt2">{_invoiceid}</td>
                            <td width="7%" class="alt2">{_from}</td>
                            <td width="7%" class="alt2">{_to_upper}</td>
                            <td width="31%" class="alt2">{_title}</td>
                            <td width="17%" class="alt2">{_created}</td>
                            <td width="12%" class="alt2">{_amount}</td>
                            <td width="13%" class="alt2">{_action}</td>
                            <td width="13%" align="right" class="alt2">{_status}</td>
                        </tr>
                        <loop name="schtransaction_rows"> 
                        <tr class="alt1" valign="top">
						    <td>{invoiceid}</td> 
                            <td>{paysource}</td>
                            <td>{paymethod}</td>
                            <td><div class="blue">{_pending_invoice_text}</div><div class="smaller gray">{transactionid}</div></td>
                            <td><span class="gray">{createdate}</span></td>
                            <td>{amount}</td>
                            <td>{action}</td>
                            <td align="right" nowrap="nowrap">{status}</td>
                        </tr>
                        </loop name="schtransaction_rows">
                        <if condition="isset($show['no_rows_returned']) AND $show['no_rows_returned']"> 
                        <tr> 
                            <td colspan="8" align="center" class="alt1"><div style="padding-top:8px; padding-bottom:8px">{_no_scheduled_transactions_found}</div></td>
                        </tr>
                        </if>
                        <tr>
                            <td colspan="8">{prevnext}</td>
                        </tr>
                        </table>
        
            
                        
                    </div>
                    
                    <div class="block2-footer">
                            <div class="block2-right">
                                    <div class="block2-left"></div>
                            </div>
                    </div>
                    
            </div>
        </div>
	
	</td>
</tr>
</table>
