<style type="text/css">
div.sc_menu_wrapper {
  position: relative;   
  height: 533px;
  width: 195px;
  margin-top: 0px;
  overflow: auto;
}
div.sc_menu {
  padding: 15px 0;
  width: 195px;
}
#open
{
background:none;
color:#E16E19;
font-size:14px;
text-decoration:none;
font-weight:bold;
font-family:Tahoma, Arial, "Times New Roman", Verdana;
text-transform:capitalize;
}
#imgs
{
background-image: url(images/gc/w2.jpg);
width:198px;
height:151px;
}
#textim
{
background-image: url(images/gc/coin_bg.jpg);
width:198px;
height:160px;

}
#amo
{
background:none;
color:#E16E19;
font-size:14px;
text-decoration:none;
font-weight:bold;
font-family:Tahoma, Arial, "Times New Roman", Verdana;
text-transform:capitalize;
}
#fetit
{
background:none;
color:#303030;
font-size:12px;
text-decoration:none;
font-weight:bold;
font-family:Tahoma, Arial, "Times New Roman", Verdana;
text-transform:capitalize;
}		
#titl
{
background:none;
color:#5B6C7E;
font-size:12px;
text-decoration:none;
font-weight:bold;
font-family:Tahoma, Arial, "Times New Roman", Verdana;
text-transform:capitalize;
}
		
		a:focus { outline:none }
		
		img { border: 0 }
		
	
	  
		.slider-wrap { /* This div isn't entirely necessary but good for getting the side arrows vertically centered */
			
			position: relative;
			width: 100%;
		}



		.stripViewer { /* This is the viewing window */
			position: relative;
			overflow: hidden; 
			/*border: 5px solid #000;*/ /* this is the border. should have the same value for the links */
			margin: auto;
			
		}
		
		.stripViewer .panelContainer { /* This is the big long container used to house your end-to-end divs. Width is calculated and specified by the JS  */
			position: relative;
			left: 0; top: 0;
			
			list-style-type: none;
			/* -moz-user-select: none; // This breaks CSS validation but stops accidental (and intentional - beware) panel highlighting in Firefox. Some people might find this useful, crazy fools. */
		}
		
		.stripViewer .panelContainer .panel { /* Each panel is arranged end-to-end */
			float:left;
			height: 100%;
			position: relative;
			width: 700px; /* Also specified in  .stripViewer  above */
		}
		
		.stripViewer .panelContainer .panel .wrapper { /* Wrapper to give some padding in the panels, without messing with existing panel width */
			padding: 10px;
		}
		
		
		
		.stripNavL, .stripNavR { /* The left and right arrows */
			position: absolute;
			top: 80px;
			text-indent: -9000em;
		}
		
		.stripNavL a, .stripNavR a {
			display: block;
			height: 40px;
			width: 40px;
		}
		
		.stripNavL {
			left: 0;
		}
		
		.stripNavR {
			right: 0;
		}
		
		.stripNavL {
			background: url("images/arrow-left.gif") no-repeat center;
		}
		
		.stripNavR {
			background: url("images/arrow-right.gif") no-repeat center;
		}
		 .stripNav ul
		{
		display:none;
		} 
	</style>
<div class="block-wrapper">                
	<div class="block">                            
											 
			
		 <div class="block-top">
                <div class="block-right">
                        <div class="block-left"></div>
                </div>
        </div>                              
		<div class="block-content" style="padding: 6px 0px 6px 6px">
           	
			<div style="" align="center">
				<table width="890"   border="0" cellpadding="3" cellspacing="0">
					<tr></tr>
					<tr>
						<td height="71" colspan="10" bgcolor="#5E4A43" style="text-align:center; font-size:40px; padding-top:5px;font-weight:bold;color:#fff; padding-bottom:5px;">
						The Amadeus Collection of U.S.Gold Coins 
						<span style="text-align:center;font-size:40px;color:#fff; font-weight:bold;"></span><br />
						</td>
					</tr>
					<tr>
						<td height="54" colspan="10" bgcolor="#5E4A43" style="text-align:center;color:#fff;font-size:30px;">
						Presented by <span style="font-weight:bold;">Great</span>Collections<br/>
						in a series of unreserved auctions in early 2013
						</td>
					</tr>

					
					
					<tr>
						<td height="61" colspan="10" bgcolor="#FFFFFF" align="center"><Br><span style="text-align:center; font-size:20px; padding-top:25px; color:#9F1524; ">Highlights will be listed here soon.</span><br /><br><br>
						<span style="text-align:center; font-size:20px; padding-top:20px; color:#1F1F1F; ">
						Consign alonside this important collection at the most favorable commision of any major firm<br/>			
						Instant cash advances available, Call <span style="font-weight:bold;">Ian Russell</span> at <span style="font-weight:bold;">1-800-442-6467 </span></span><br><Br></td>
					</tr>

					<tr >
						<td  colspan="10" bgcolor="#A8121B" valign="top">
							<div align="center">
								<table width="912" border="0" cellpadding="0" cellspacing="0">
									<tr> 
										<td colspan="3"> <div align="center"><span style="text-align:center; font-size:22px; padding-top:20px; color:#fff; "> <span style="font-size:40px; font-weight:bold;">[ </span>To view current auctions or our auction archive, visit www.greatcollections.com<span style="font-size:40px; font-weight:bold;"> ] </span></span></div>      	  </td>
									</tr>
									<tr>
										<td width="212" height="189"><div align="center"><img src="/images/ian_russell.jpg"   /></div>
										</td>
										<td width="237"><div align="center"><img src="/images/raeleen_endo.jpg"  /></div>
										</td>
										<td width="425" rowspan="4"><div align="center" style="font-size:20px;"> <span style="text-align:center;font-size:50px; font-weight:bold;color:#fff;">Great</span><span style="font-size:49px;color:#fff;">Collections</span><br />
										<span style="font-size:22px;color:#fff;"> Certified Coin Auctions &amp; Direct Sales</span><br />
										<span style="margin-top:10px; border-top:#FFF solid 2px; width:500px;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br />
										<span style="font-size:17px;color:#fff;">17500 Red Hill Avenue, Suite 160 - Irvine, CA 92614</span><br />
										<span style="color:#fff;"> Tel: 1.800.44.COINS (+1.949.679.4180)</span><br />
										<span style="font-size:24px;color:#fff;">Email: info@greatcollections.com</span><br />
										<span style="font-size:30px;color:#fff;">www.GreatCollections.com</span><br />
										</div>
										<div align="center"></div>
										<div align="center"></div>
										<div align="center"></div>
										<div align="center"></div>
										</td>
									</tr>
									<tr style="font-size:18px;">
										<td><div align="center" style="font-size:20px;color:#fff;">Ian Russell</div></td>
										<td><div align="center" style="font-size:20px;color:#fff;">Raeleen Endo</div></td>
									</tr>
									<tr>
										<td><div align="center" style="color:#fff;">President</div></td>
										<td><div align="center" style="color:#fff;">Director of Client Services</div></td>
									</tr>
									<tr>
										<td height="18"><div align="center">&nbsp;</div></td>
										<td><div align="center">&nbsp;</div></td>
									</tr>
									<tr> 
										<td>&nbsp; </td>
									</tr>

								</table>
							</div>
						</td>
					</tr>
				</table>
			</div>										
				
		</div> 
		
		<div class="block-footer">
				<div class="block-right">
						<div class="block-left"></div>
				</div>
		</div>                                    
	</div>
</div>