<head>
<style type="text/css">
body
{
margin:0px;
}
#container
{

width:900px;
}



.current
{
color:#E26F1C;
font-size:20px;
}
.dollar
{
color:#6E6E6E;
font-size:18px;
}
.title
{
color:#4A5066;
font-size:12px;
font-family:verdana;
}

.tdf
{
 background-image:url(images/gc/coin_bg.jpg);
 height:160px;
 width:198px;
 
}


</style>
</head>



<div id="control" align="center">
   <div id="container">
	   
	   
	       
		<!--   <div id="first">
		       <div id="current">current <div id="number"><span class="dollar">$</span>{current}</div></div>
			   <div id="bidnow"><img src="images/gc/bid_now_butt.jpg" /></div>
		   
		   </div>
	   -->
	   
<!--	            
    <table border="0" width="197">
	<tr>
	    <td><span class="title">{title}</span></td>
	</tr>	
	<tr>
	    <td><img src="images/gc/coin_bg.jpg" /></td>
	</tr>
	<tr>
	<td>	
<table width="200" border="0">
  <tr>
    <td><span class="dollar">$</span><span class="current">{current}</span></td>
    <td rowspan="2"><img src="images/gc/bid_now_butt.jpg" style="padding-left:24px;" /></td>
  </tr>
</table>
</td>
</tr>

	</table>-->
{detail}
		

   </div>
</div>
