<style type="text/css">
#first
{
width:800px;
height:90px;
margin-left:20px;	
}
#second
{
font:11.5px Verdana,Arial,Helvetica,sans-serif;
padding-top: 1px;
line-height: 18px;
margin-top: 10px;	
}
#third
{
width: 100px;
margin-left: 830px;
height: 100px;
margin-top:-100px;	
}
</style>
<div class="block-wrapper">
	<div class="block">
	
			<div class="block-top">
					<div class="block-right">
							<div class="block-left"></div>
					</div>
			</div>
			
			<div class="block-header">Record Coin Prices at GreatCollections Coin Auctions
</div>
<div class="block-content-yellow"><div id="first"><h2 id="second">At GreatCollections Coin Auctions, we pride ourselves on selling coins of all price ranges, from common Lincoln Cents from the 1990s through to classic rare coins like the 1842-O Liberty Eagle that we sold in June 2011 for over $55,000. All of our coin auction prices are public record and we maintain a complete <a href="{http_server}CoinPrices"><u>Auction Archive</u></a>, which is searchable by coin denomination, series and even grading service/grade. GreatCollections   offers <a href="{http_server}coin_appraisal.php"><u>free coin appraisals</u></a>. For more information, please <A href="{http_server}main-contact"><u>contact us</u></a>.</h2></div>
	<div id="third"><img src="{https_server}images/gc/record_coin_price.png"></div></div>
			<div><div>
	<div class="block$block">	
			<div class="block$block-top">
					<div class="block$block-right">
							<div class="block$block-left"></div>
					</div>
			</div>
            
			<div class="block$block-footer">
					<div class="block$block-right">
							<div class="block$block-left"></div>
					</div>
			</div>			
	</div>
</div></div>
			<div class="block-content" style="padding:0px">

								<table width="100%" cellspacing="0" cellpadding="9" border="0" align="center">
									<tbody>
								
									
										<loop name="famelist">
										<tr class="alt1">
										 <td valign="top" align="center" class="">{imgval}</td>
										 <td>{project_title}<br/>{description}</td>
										 <td>Sold&nbsp;{currentprice}<br/>{hammer}<br/>{date_end}</td>										
										</tr>
										</loop name="famelist">
							
									</tbody>
								</table>
								<div class="block-header" style="padding-top:5px;">Other Recent Coin Prices</div>
								<table width="100%" cellspacing="0" cellpadding="9" border="0" align="center">
									<tbody>
										<tr class="alt2">
											
											<td>Title</td>
											<td>Price</td>								              
											<td>Sold Date</td> 
											
										</tr>
									
										<loop name="famelist_sec">
										<tr class="alt1">
										 
										 <td>{project_title}</td>
										 <td>Sold&nbsp;{currentprice}<br/>{hammer}</td>
																					
                                         <td>{date_end}</td>
										</tr>
										</loop name="famelist_sec">
									
									</tbody>
								</table>
								<div style="margin-top:25px;">
									<div style="margin-left:150px;">To consign your coins to Greatcollections:</div>	
									<div style="margin-top:10px; margin-left:350px;">
						      <div>- <u><a href="newsell_coin.php">Request Coin Auction Estimate</a></u></div>
							  <div>- <u><a href="forms/coins.pdf">Certified Coin Consignment Form</a></u></div>
							  <div>- <u><a href="forms/raw_coins.pdf">New Coin Consignment Form</a></u></div>
							  <div>- <u><a href="main-contact">Contact Greatcollections</a></u></div>
							  </div>
							  </div>
								</div>
						
								
			<div class="block-footer">
					<div class="block-right">
							<div class="block-left"></div>
					</div>
			</div>
			
	</div>
</div>


























