{apihook[item_placebid_preview_start]}

<form method="post" action="{ilpage[rfp]}" name="previewbid" accept-charset="UTF-8" style="margin:0px">
	<input type="hidden" name="cmd" value="_do-bid-submit" />
<input type="hidden" name="subcmd" value="product-bid" />
<input type="hidden" name="bidamount" value="{current_bidamount}" />
<input type="hidden" name="id" value="{id}" />
<input type="hidden" name="project_user_id" value="{project_user_id}" />
<input type="hidden" name="highbidnotify" value="{current_highbidnotify}" />
<input type="hidden" name="lasthournotify" value="{current_lasthournotify}" />
<input type="hidden" name="subscribed" value="{current_subscribed}" />
<input type="hidden" name="bidstate" value="{bidstate}" />
<input type="hidden" name="state" value="product" />
<input type="hidden" name="minimum" value="{min_bidamount}" />
<input type="hidden" name="qty" value="{qty}" />
<if condition="isset($ilance->GPC['shipperid']) AND $ilance->GPC['shipperid'] > 0"><input type="hidden" name="shipperid" value="{shipperid}" /></if>
<div class="block-wrapper">

	<div class="block">
	   <if condition="!empty($_SESSION['ilancedata']['user']['userid']) and $_SESSION['ilancedata']['user']['userid']!='82'">
			<div class="block-top">
					<div class="block-right">
							<div class="block-left"></div>
					</div>
			</div>
			
			<div class="block-header">{_preview_your_bid}</div>
            <div class="block-content-yellow smaller" style="padding:9px">Please review your bid below</div>
			</if>
			<if condition="!empty($_SESSION['ilancedata']['user']['userid']) and $_SESSION['ilancedata']['user']['userid']=='82'">
			<!--bid confirmation  new page create-->
			<div style="font:'Courier New', Courier, monospace; font-size:21px;">Review and Confirm your bid</div>
            <div><hr /></div>
			
			<div style="height:250px; width:200px; margin-top:15px;">{newhead}</div>
			<div style="height:300px; width:680px; margin-left:200px; margin-top:-252px;">
			<table cellpadding="10">
			<tr><td style="font-size:16px; color:#0000FF;">{title}{description}</td></tr></table>
			<table cellpadding="10">
			<tr><td style="width: 100px;" align="right">{_current_bid}</td><td>{project_current_bid_formatted}</td></tr>
			<tr><td align="right">{_your_max_bid}</td><td style="font-size:18px;">{current_bidamountformatted}</td></tr>
			<tr><td align="right">{_shipping}</td>
			    <td>U.S. and International <a href="kb/Shipping-Fees-and-Methods-t86-4.html" style="text-decoration:underline">(view rates)</a>
			</td></tr>
			<tr><td align="right">{_payment}</td><td>PayPal, Credit Card (Visa, MasterCard, Discover, American Express), Check/Money Order, Wire</td></tr>
			<tr><td></td><td><input type="submit" value=" {_bid_now} " class="buttons" style="font-size:15px" /><br /><br />
			
                <span class="blue"><a href="{http_server}{ilpage[rfp]}?cmd=bid&amp;id={id}&amp;state=product&amp;bid_amt={current_bidamount}">
				{_revise_bid_amount}</a><br /><br /></span></td></tr>
			
			</table>
			</div>
			<else />
			
			<div class="block-content" style="padding:9px">
				
                <table border="0" cellpadding="2" cellspacing="0" width="100%" align="center">
				<tr> 
                    <td width="15%" nowrap>{_item_id}:</td>
                    <td width="90%"><span class="blue">{id}</span></td>
                </tr>
				<tr> 
                    <td width="15%" nowrap>{_project_title}:</td>
                    <td width="90%"><span class="blue">{title}{description}</span></td>
                </tr>
                <tr> 
                    <td width="15%" nowrap>{_bid_amount}:</td>
                    <td width="90%"><span class="blue">{current_bidamountformatted}</span></td>
                </tr>
                <tr> 
                    <td width="15%" valign="top"><span style="float:right"></span>{_quantity}:</td>
                    <td width="90%"><strong>x</strong> &nbsp;&nbsp;<span>{qty}</span></td>
                </tr>
                </table>
                
				{apihook[item_placebid_preview_mid1]}
				
			</div>
			</if>
			
			
            <if condition="isset($ilance->GPC['shipperid']) AND $ilance->GPC['shipperid'] > 0">
            <div class="block-content-yellow-top smaller" style="padding:9px">{_shipping_information}</div>
			<div class="block-content" style="padding:9px">
            
            	<div class="smaller gray" style="padding-left:2px; padding-bottom:7px">{_the_seller_will_ship_your_item_using_the_service_youve_selected_below}</div>
            
            	<table border="0" cellpadding="2" cellspacing="0" width="100%" align="center">
                <tr> 
                    <td width="15%" valign="top"><span style="float:right"></span>{_ship_service}:</td>
                    <td width="90%"><span class="blue">{shippingservice}</span></td>
                </tr>
                </table>
                
                {apihook[item_placebid_preview_mid2]}
                
            </div>
            </if>
			
			<if condition="!empty($_SESSION['ilancedata']['user']['userid']) and $_SESSION['ilancedata']['user']['userid']!='82'">
            <div class="block-content-yellow-top smaller" style="padding:9px">{_your_bid_is_contract}</div>
			<div class="block-content" style="padding:9px">
            	
                <if condition="$ilconfig['productbid_enableproxybid'] AND $show['categoryuseproxybid']">
                <div class="smaller">{_proxy_bidding_is_currently_in_effect_our_system_will_automatically}</div>
                <div style="padding-top:9px"><img src="{template_relativeimagepath}{template_imagesfolder}proxybidscale.gif" border="0" alt="" /></div>
                <else /><div class="smaller">{_your_bid_amount_is_a_contract_between_you_and_the_vendor}</div></if>
                
                {apihook[item_placebid_preview_mid3]}
                
            </div>
			
			<div class="block-footer">
					<div class="block-right">
							<div class="block-left"></div>
					</div>
			</div>
			
	</div>
</div>
<div><input type="submit" value=" {_bid_now} " class="buttons" style="font-size:15px" /><br /><br />
<span class="blue"><a href="{http_server}{ilpage[rfp]}?cmd=bid&amp;id={id}&amp;state=product">{_revise_bid_amount}</a><br /><br /></span></div></if>
</form>
<script type="text/javascript">
/* <![CDATA[ */
goog_snippet_vars = function() {
var w = window;
w.google_conversion_id = 978185347;
w.google_conversion_label = "XYEyCM3rjFsQg9m30gM";
w.google_remarketing_only = false;
}
// DO NOT CHANGE THE CODE BELOW.
goog_report_conversion = function(url) {
goog_snippet_vars();
window.google_conversion_format = "3";
window.google_is_call = true;
var opt = new Object();
opt.onload_callback = function() {
if (typeof(url) != 'undefined') {
window.location = url;
}
}
var conv_handler = window['google_trackConversion'];
if (typeof(conv_handler) == 'function') {
conv_handler(opt);
}
}
/* ]]> */
</script>
<script type="text/javascript"
src="//www.googleadservices.com/pagead/conversion_async.js">
</script>
{apihook[item_placebid_preview_end]}