<style type="text/css">

#title_text1

{

color:#333;

height:30px;

font-size:15px;

font-weight:bold;

padding:5px;

border-bottom:#666 dotted thin;

}



#auction_box1

{

min-height:400px;

min-width:660px;

border:#CCC solid 1px;

float:left;

}



#textim{

background-image: url("{https_server}images/gc/coin_bg.jpg");

width:198px;

height:160px;

}



#amo

{

background:none;

color:#E16E19;

font-size:14px;

text-decoration:none;

font-weight:bold;

font-family:Tahoma, Arial, "Times New Roman", Verdana;

text-transform:capitalize;

}



#fetit

{

background:none;

color:#303030;

font-size:12px;

text-decoration:none;

font-weight:bold;

font-family:Tahoma, Arial, "Times New Roman", Verdana;

text-transform:capitalize;

}		



#titl

{

background:none;

color:#5B6C7E;

font-size:12px;

text-decoration:none;

font-weight:bold;

font-family:Tahoma, Arial, "Times New Roman", Verdana;

text-transform:capitalize;

}



a:focus { outline:none }

		

		img { border: 0 }		



#title_text1

{

color:#333;

height:30px;

font-size:20px;

font-weight:bold;

padding:5px;

border-bottom:#666 dotted thin;

}



#themecontain

{

width:960px; 

height:650px; 

}

#blue_01banner

{

height:270px; 

background-image:url("{https_server}images/gc/blue_bg.jpg"); 

background-repeat:repeat-x;

}

#blue_01_left

{

float:left;

height:50px;

font-size:18px;

}

#blue_01_left_text1

{

margin-left:10px; 

margin-right:10px; 

margin-top:15px;

font-family:Tahoma;

color:#ffffff;

font-size:18px;



}

#blue_01_left_text2

{

margin-right:28px;

margin-left:10px; 

margin-top:5px;

font-family:Tahoma;

color:#ffffff;

font-size:18px;

}

#blue_01_left_big

{

margin-left:40px;

margin-top:25px; 

line-height:inherit;

}

#blue_tex01

{

font-size:30px;

}

#blue_tex02

{

font-size:45px; 

font-weight:bold;

}

#bubble01

{

float:right;

width:540px;

background-image:url("{https_server}images/gc/bubble_gc.png"); 

width:529px; 

height:291px;

margin-top:30px;

}

#bubble02

{

margin-top:40px; 

color:#000000;

}

#bubble_text1

{

font-size:30px; 

font-weight:bold; 

margin-bottom:5px;

}

#bubble_text2

{

font-size:16px; 

font-weight:bold; 

margin-bottom:5px;

}

#ever

{

 float:left; 

 margin-left:40px;

 margin-top:-15px;

 background-image:url("{https_server}images/gc/ever_gc.png"); 

 width:262px; 

 height:115px; 

}

#coinsale_01

{

float:right;

width:310px;

}

#coinsale_02

{

height:215px;

width:290px;

border:#CCC solid 1px; 

float:right; 

color:#000000; 

margin-right:10px;

}

#twitter_fshare

{

height:40px; 

float:right; 

width:300px; 

margin-top:10px; 

color:#000000;

}

.met

{

color:#FFFFFF;

}

#ss

{

font-family:Tahoma;

font-size:18px;

}

/*Cufon font call*/

.futura_bkbt

{

color:#FFFFFF;

font-size:13px;

}



/*Cufon font call*/



</style>



<!--Cufon font call-->

<script type="text/javascript" src="{https_server}functions/javascript/cufon-yui.js"></script> 

<script type="text/javascript" src="{https_server}functions/javascript/Futura_Bk_BT_400.font.js"></script>

<!--Cufon font call-->



 <!--Cufon font -->

 <script type="text/javascript">  

   Cufon.replace('.futura_bkbt');  

</script>



 <!--Cufon font -->



<!-- quick registration -->

<script type="text/javascript" language="javascript">



function verify_pass()
{
   var nameRegEx =/^[a-zA-Z0-9]/;
   var emailRegEx =/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
   var fname = document.getElementById("fname").value;
   var lname = document.getElementById("lname").value;
   var email = document.getElementById("email").value;

  if (fname.search(nameRegEx) == -1 || fname=='First name')
  {
				alert('Enter First Name');
				return false;
   }
 else  if (lname.search(nameRegEx) == -1 || lname=='Last name')
 {
				alert('Enter Last Name');
				return false;
   }
else  if(email.search(emailRegEx) == -1) 
{
				alert('Enter Valid Email ID');
				return false;
}
		else
		{
				return true;
		}

}

</script>



<div style="" align="center">



  

   <div id="themecontain">

       <div id="blue_01banner"> <!--Blue-->

       

          <div id="blue_01_left">              

              <div id="blue_01_left_text1">What people love about GreatCollections</div>

              <div id="blue_01_left_text2"> </div>

              

                   <div align="left" id="blue_01_left_big">

                       <div id="blue_tex01"  class="futura_bkbt">Reason #12</div>

                       <div id="blue_tex02" class="futura_bkbt">No Hidden</div>

                       <div id="blue_tex02" class="futura_bkbt">Reserves,</div>

                   </div>                        

          </div>          

        

          <!--bubble Start-->

		 

          <div id="bubble01">

            <div id="bubble02">

            <if condition="empty($_SESSION['ilancedata']['user']['userid']) AND $_SESSION['ilancedata']['user']['userid'] == 0">

            <div align="center" id="bubble_text1">It's Free to Register</div>

			<table><tr><td align="center" valign="top" style="padding-top:8px;">

Register to bid on this page,<br />

 and we'll send you a <br />

free graded Silver Eagle <br />

with your first auction win.  <br />

Limited time only.</td><td><div id="seperator" style="height:150px;"></div></td><td>

          

			<form method="post" action="registration.php" name="quickregister" accept-charset="UTF-8" id="quickregister" style="margin:0px;padding-left:10px;">

			<input type="hidden" name="cmd" value="register" />

			<input type="hidden" name="referal_name" value="LOVE" />

             <input type="hidden" name="step" value="1" />

              <input type="hidden" name="agreement" value="1" />

            <table>

				  <tr><td><input type="text" class="input" name="first_name" id="fname" maxlength="15" value="First name" onblur="if(value=='') value = 'First name'" onfocus="if(value=='First name') value = ''" /><br />
</td></tr>
				   <tr><td><input type="text" class="input"  name="last_name" id="lname"  maxlength="15" value="Last name"   onblur="if(value=='') value = 'Last name'" onfocus="if(value=='Last name') value = ''"  /><br />
</td></tr>
				   <tr><td><input type="text" class="input"  name="email" id="email" maxlength="50" value="Email"    onblur="if(value=='') value = 'Email'" onfocus="if(value=='Email') value = ''" /><br />
</td></tr>

				</tr>

				

				<tr>

						<td><input type="submit" name="button" value="Register Now" accesskey="s" class="buttons" onclick="return verify_pass(this);"style="font-size: 16px; margin-top: 10px;font-weight:bold;" /></td>

				</tr>

				<tr><td>&nbsp;</td></tr>

				</table>

				<input type="hidden" name="subscriptionid" id="subscriptionid" value="1" />

				<input type="hidden" name="subscriptionpaymethod" id="subscriptionpaymethod" value="account" />

				</form>

            

			

			</td></tr></table>

            <else />
			 <div align="center" id="bubble_text1" style="width: 400px; margin-top: 0px; margin-bottom: 0px; padding-top: 40px;">Why do you love GreatCollections? Tell us!<br><div style="font-size:20px;">Email <a href="mailto:feedback@greatcollections.com" style="text-decoration:underline;">feedback@greatcollections.com</a></div></div>

			 </if>

							</div>

           

          </div>

		 

          <!--bubble Close-->

          

       </div>

      

       <!--Ever Image start-->

       <div>        

         <div id="ever">&nbsp;</div><br />               

       </div>            

       <!--Ever Image Close-->          

         

         <br clear="all" />

       

		   

       <div  align="left" style="float:left; color:#000000;height:250px;  width:490px; margin-left:35px; margin-top:20px;">

		   <div id="ss" >We are the only coin auction house in America</div>

           <div id="ss">that discloses minimum bids (or reserves) from the</div>

           <div id="ss">moment a coin lists on our site.</div>

           <div id="ss">If a coin starts at $1, the reserve is $1.</div>

           <div id="ss">No wasting your time chasing a coin with a mystery or secret reserve.</div>

         </div>

         

         

        <!--Coin For sale & Twitter Start-->

        <div id="coinsale_01" style="margin-top:-40px;"> 

           <div id="coinsale_02">

			  <div id="title_text1" align="center">Coins for Sale?</div>

               <br />

          <center><strong>Sell Coins through GreatCollections</strong>

          <br />

           * Receive Top Dollar<br />

           * Lowest Fees of all Major Auction Houses<br />

           * Fast Payment<br />

           

		   <form action="main-sell" name="sell">

			  <input type="submit" name="submit" value="Sell Coins through GreatCollections" accesskey="s" class="buttons"  style="font-size: 16px; margin-top: 20px; width:278px;" />

			  </form>

              

              </center>

			</div>

        <br />

        <div id="twitter_fshare">

          <a href="http://www.facebook.com/greatcollections"><img src="{https_server}images/gc/facebook_button.png" /></a>&nbsp;&nbsp;

          <a href="http://twitter.com/greatcollection"><img src="{https_server}images/gc/twitter_button.png" /></a>

        </div>

        

          

        </div>   <!--Coin For sale & Twitter End-->          

         

        

         

                    

   </div>

   

</div>



	<div style="width:950px;margin-top:-30px;">

	  <div id="auction_box"> 



        		<div id="title_text">Featured Coin Auctions</div>



                <div>&nbsp;</div>



{first_row}        



        </div>

		

	<div id="auction_box"> 



{second_row}        



        </div>

</div>



  <br class="clearfloat" />

