<div class="block-wrapper">        
<div class="block">

        <div class="block-top">
                <div class="block-right">
                        <div class="block-left"></div>
                </div>
        </div>
        <div class="block-header">All Items Are Sold by GreatCollections</div>
        <div class="block-content-yellow" style="padding:9px"><div class="smaller">{_overview}</div></div>
        <div class="block-content" style="background:url({template_relativeimagepath}{template_imagesfolder}icons/bg_gradient_yellow_1x1000.gif) repeat-x; padding:14px">
        
        	<div>
            
            
                                 <span style="float:right"><img style="width: 218px; height: 250px; margin-top: -0px; margin-right: 5px;" src="images/gc/trust_greatcollections2.jpg" alt="Trust GreatCollections"></span>            <b>Great</b>Collections has been built to serve the numismatic community to offer an extensive selection of certified coins for auction and direct sale, without the risks of dealing with unknown people or companies online.
            <br /><br />
<b>Great</b>Collections has physical possession of every coin being offered for sale (by fixed price or auction), which is additional assurance that you are bidding on the actual coin you will receive.
<br /><br />
Other advantages when dealing with <b>Great</b>Collections:         
<br /><br />
<strong>Consistent professional photography:</strong><br />            
            -  Our in-house professional photographers image each item consistently and without image enhancement.<br /><br />
<strong>Confidential transactions:</strong><br />            
            -  All transactions are confidential between buyer and seller; your personal information as a buyer or seller is only disclosed to <strong>Great</strong>Collections.<br /><br />
<strong>GreatCollections is a member of important trade and hobby organizations including</strong><br />
            -  Life Member American Numismatic Association<br />
            -  Life Member Florida United Numismatists<br />
            -  Authorized Dealer PCGS<br />
            -  Authorized Dealer NGC<br />
            -  Authorized Dealer ANACS<br />
            -  Member National Auctioneers Association<br />
            and more...
            
            
            
            
            </div>
            
       	</div>
                
        <div class="block-footer">
                <div class="block-right">
                        <div class="block-left"></div>
                </div>
        </div>
</div>
</div>