<style type="text/css"> 
h1{
margin:0px;
color: #FFFFFF;
font-family: Arial,Helvetica,sans-serif;
font-size: medium;
font-weight: bold;
}
h2{
margin:0px;
font-family: Arial,Helvetica,sans-serif;
font-size: small;
font-weight: bold;
}
h3{
margin:0px;
font-family: Arial,Helvetica,sans-serif;
font-size: small;
font-weight: bold;
}
h4{
margin:0px;
font-family: Arial,Helvetica,sans-serif;
font-size: small;
font-weight: bold;
}
h5{
margin:0px;
font-family: Arial,Helvetica,sans-serif;
font-size: small;
font-weight: bold;
}
</style>
<div class="block-wrapper">        
<div class="block">

        <div class="block-top">
                <div class="block-right">
                        <div class="block-left"></div>
                </div>
        </div>
         <div class="block-header"><h1>Trust <strong>Great</strong>Collections</h1></div>
        <div class="block-content-yellow" style="padding:9px"><div class="smaller">An overview of Trust and <strong>Great</strong>Collections</div></div>
        <div class="block-content" style="background:url({template_relativeimagepath}{template_imagesfolder}icons/bg_gradient_yellow_1x1000.gif) repeat-x; padding:14px">
        
        	<div>

                                 <span style="float:right"><img style="width: 218px; height: 250px; margin-top: -0px; margin-right: 5px;" src="images/gc/trust_greatcollections2.jpg" alt="Trust GreatCollections"></span>            GreatCollections has been built to serve the numismatic community and offer an extensive selection of certified coins for auction and direct sale, without the risks of dealing with unknown people or companies online.
            <br /><br />

            Unlike many other venues online, <strong>Great</strong>Collections takes security and confidentiality very seriously.  Below you can read about some of the measures and advantages we offer all clients, whether buying or selling through <strong>Great</strong>Collections.
         <br /><br />

         
<h2>Physical Possession:</h2>
            -  We have possession of every coin we are offering for direct sale or by auction.<br /><Br />
<h2>Consistent Professional Photography:</h2>           
            -  Our in-house professional photographers image each item consistently and without image enhancement.<br /><br />
<h2>Confidential Transactions:</h2>          
            -  All transactions are confidential between buyer and seller; your personal information as a buyer or seller is only disclosed to <strong>Great</strong>Collections.<br /><br />
            
<h2>Insurance through Lloyd's of London:</h2>             
            -  <strong>Great</strong>Collections holds an extensive insurance policy with Lloyd's of London, protecting consignors and bidders...peace of mind in the unlikely event of something going missing in the postal system or while coins are in <strong>Great</strong>Collections' possession.<br /><br />

<h2>Bidding Transparancy:</h2>  
-  We have no hidden reserves, ever.  You can view in real time when bidders are bidding against you (although usernames are masked to protect identities).  In addition, our software restricts consignors from bidding on their own lots.<br /><br />
            
<h2>Website Security:</h2>  
-  Our website uses the highest level of SSL encryption available, with our Extended Validation SSL Certificate from Thawte USA.  All webpages on this website that ask for personal information (such as our registration and login pages) use SSL encryption, and most browsers will display a green "Trust" symbol confirming our Extended Validation SSL certificate.<br /><br />            
<h3>  Contact Us:</h3>  
            -  If you ever have a question or concern, please do not hesitate to contact us at +1-949-679-4180 or via e-mail to <a href="mailto:info@greatcollections.com" style="text-decoration:underline;">info@greatcollections.com</a>. 
            
            
            <br /><br />
            
            <strong>Great</strong>Collections as a company, and/or Ian Russell as President of <strong>Great</strong>Collections is a member of the following organizations and adheres to their code of ethics:
            <br /><br />
            <h4>Life Member -<span style="font-weight: normal">American Numismatic Association (ANA), Florida United Numismatists (FUN)</h4></h4>
            <h4>Member - <span style="font-weight: normal"> National Auctioneers Association (NAA)</span></h4>
            <h4>Authorized Dealer - <span style="font-weight: normal"> PCGS, NGC, ANACS and CAC</span></h4><br />

          
            <h5>Banking and trade references available on request.</h5>
                
            </div>
            
       	</div>
                
        <div class="block-footer">
                <div class="block-right">
                        <div class="block-left"></div>
                </div>
        </div>
</div>
</div>