<div class="block-wrapper">        
<div class="block">

        <div class="block-top">
                <div class="block-right">
                        <div class="block-left"></div>
                </div>
        </div>
        <div class="block-header">About GreatCollections Coin Auctions</div>
        <div class="block-content-yellow" style="padding:9px"><div class="smaller">{_main_about_content_yellow}</div></div>
        <div class="block-content" style="background:url({template_relativeimagepath}{template_imagesfolder}icons/bg_gradient_yellow_1x1000.gif) repeat-x; padding:14px">
        
		<div>
		{_main_about_gc_description}
		<strong><!-- {_founders_of_greatcollections} -->The GreatCollections Team:</strong>
		<br /><br />

				<table>
					<TR>
					<TD valign=top width=140><img src="/images/ian_russell.jpg" width="120" height="167" alt="Ian Russell at GreatCollections.com"></TD>
					{_main_about_gc_ian}
					</TR>
				</table>
				<br /><br />
				
				
				<table>
					<TR>
					<TD valign=top width=140>

					<img src="/images/raeleen_endo.jpg" width="120" height="156" alt="Raeleen Endo at GreatCollections.com"></TD>

					{_main_about_gc_Raeleen}
					</TR>
				</table>
				<br /><br />

				<table>
					<TR>
					<TD valign=top width=140>

					<!-- <img src="/images/raeleen_endo.jpg" width="120" height="156" alt="Raeleen Endo at GreatCollections.com"> --></TD>

					<TD><P><strong>Todd McKenna - Numismatist / Consignment Director</strong><br>

Todd began his career in numismatics in 2011, focusing on world coins, while employed by a leading world coin auction house. In particular, Todd researched machine-struck Chinese coins, British coinage of nearly all types and Crown-sized coins of Europe. At <b>Great</b>Collections, Todd researches coin values and appraises U.S. and Foreign coins for collectors and dealers, values estates for law firms and accountants, processes uncertified coins for grading and works with consignors directly throughout the consignment process. He is always available to share his knowledge about numismatics.<br><br>

Todd is Southern California native and in his spare time enjoys attending comic conventions to expand his collection of 1960s sci-fi and horror comics as well as playing large-format board game with friends.<br><br>

Contact Todd McKenna at 1.800.44.COINS (+1.949.679.4180) or via e-mail <a href="mailto:todd@greatcollections.com" style="text-decoration:underline;">todd@greatcollections.com</a></p></TD>
					</TR>
				</table>
				<br /><br />
				
				<table>
					<TR>
					<TD valign=top width=140>
					<!--
					<img src="/images/raeleen_endo.jpg" width="120" height="156" alt="Raeleen Endo at GreatCollections.com">--></TD>

					{_main_about_gc_Juliann}
					</TR>
				</table>
				<br /><br />
				<table>
					<TR>
					<TD valign=top width=140>
					<!--
					<img src="/images/raeleen_endo.jpg" width="120" height="156" alt="Raeleen Endo at GreatCollections.com">--></TD>

					<TD><P><strong>Ami Thai - Client Services</strong><br /> Ami joined <b>Great</b>Collections after spending almost 10 years at Teletrade. She is responsible for the "Grade & Auction" program at <b>Great</b>Collections, as well as private client viewing, customer service and special projects.
<br /><br />
Contact Ami Thai at 1.800.44.COINS (+1.949.679.4180) or via e-mail <a href="mailto:ami@greatcollections.com" style="text-decoration:underline;">
ami@greatcollections.com</a></p></TD>
					</TR>
				</table>
				<br /><br />

		</div>
           
       	</div>
                
        <div class="block-footer">
                <div class="block-right">
                        <div class="block-left"></div>
                </div>
        </div>
</div>
</div>
