<meta name="description" content="Information on Selling Coins, Coin Values and Coin Grading. Free Coin Appraisals. Sell by Auction at GreatCollections Coin Auctions">

<script type="text/javascript">

$(document).ready(function()
{
	//slides the element with class "menu_body" when paragraph with class "menu_head" is clicked 
	$("#firstpane h3.menu_head").click(function()
    {
		$(this).css({backgroundImage:"url()"}).next("div.menu_body").slideToggle(300).siblings("div.menu_body").slideUp("slow");
       	/*$(this).siblings().css({backgroundImage:"url(left1.png)"});*/
		var h=document.getElementById("ccc").value;
		if(h==1)
		{
		
		var a=document.getElementById("check").value;
		if(!a)
		{
		document.getElementById("check").value=1;
		document.getElementById("img1").src="images/down1.png";
		document.getElementById("check1").value="";
		document.getElementById("img2").src="images/left1.png";
		document.getElementById("check2").value="";
		document.getElementById("img3").src="images/left1.png";
		document.getElementById("check3").value="";
		document.getElementById("img4").src="images/left1.png";
		
		}
		else
		{
		document.getElementById("check").value="";
		document.getElementById("img1").src="images/left1.png";
		document.getElementById("check1").value="";
		document.getElementById("img2").src="images/left1.png";
		document.getElementById("check2").value="";
		document.getElementById("img3").src="images/left1.png";
		document.getElementById("check3").value="";
		document.getElementById("img4").src="images/left1.png";
		}
		}
		if(h==2)
		{
		
		var b=document.getElementById("check1").value;
		if(!b)
		{
		document.getElementById("check1").value=1;
		document.getElementById("img2").src="images/down1.png";
		document.getElementById("check").value="";
		document.getElementById("img1").src="images/left1.png";
		document.getElementById("check2").value="";
		document.getElementById("img3").src="images/left1.png";
		document.getElementById("check3").value="";
		document.getElementById("img4").src="images/left1.png";
		
		}
		else
		{
		document.getElementById("check1").value="";
		document.getElementById("img2").src="images/left1.png";
		document.getElementById("check").value="";
		document.getElementById("img1").src="images/left1.png";
		document.getElementById("check2").value="";
		document.getElementById("img3").src="images/left1.png";
		document.getElementById("check3").value="";
		document.getElementById("img4").src="images/left1.png";
		}
		}
			if(h==3)
		{
		
		var c=document.getElementById("check2").value;
		if(!c)
		{
		document.getElementById("check2").value=1;
		document.getElementById("img3").src="images/down1.png";
		document.getElementById("check").value="";
		document.getElementById("img1").src="images/left1.png";
		document.getElementById("check1").value="";
		document.getElementById("img2").src="images/left1.png";
		document.getElementById("check3").value="";
		document.getElementById("img4").src="images/left1.png";
		
		}
		else
		{
		document.getElementById("check2").value="";
		document.getElementById("img3").src="images/left1.png";
		document.getElementById("check").value="";
		document.getElementById("img1").src="images/left1.png";
		document.getElementById("check1").value="";
		document.getElementById("img2").src="images/left1.png";
		document.getElementById("check3").value="";
		document.getElementById("img4").src="images/left1.png";
		}
		}
		
			if(h==4)
		{
		
		var c=document.getElementById("check3").value;
		if(!c)
		{
		document.getElementById("check3").value=1;
		document.getElementById("img4").src="images/down1.png";
		document.getElementById("check").value="";
		document.getElementById("img1").src="images/left1.png";
		document.getElementById("check1").value="";
		document.getElementById("img2").src="images/left1.png";
		document.getElementById("check2").value="";
		document.getElementById("img3").src="images/left1.png";
		
		}
		else
		{
		document.getElementById("check2").value="";
		document.getElementById("img3").src="images/left1.png";
		document.getElementById("check").value="";
		document.getElementById("img1").src="images/left1.png";
		document.getElementById("check1").value="";
		document.getElementById("img2").src="images/left1.png";
		document.getElementById("check3").value="";
		document.getElementById("img4").src="images/left1.png";
		}
		}
		
		
		
	});

	
});
	function hhh(a)
	{
	
	document.getElementById("ccc").value=a;
	}
</script>


<style type="text/css">
body {
	margin: 0px auto;
	font: 75%/120% Verdana,Arial, Helvetica, sans-serif;
}
.menu_list {	
	/*width: 150px;
	border: 1px solid #333333; */
	width:272px;
	padding:10px;
	background :  #EFEFEF;
	margin-top:-45px;
}
.menu_head {

width:250px;
color:gray;
	padding: 5px 10px;
	cursor: pointer;
	position: relative;
	margin:1px;
    /*background: #434343 center left no-repeat;*/
}
.menu_body {
	display:none;
	width:250px;
	margin:10px 10px 10px 10px;
	

}
.menu_body a{

width:250px;
  display:block;
  color:#006699;
  /*background-color:#FFFFFF;*/
  padding-left:10px;
  font-weight:bold;
  text-decoration:none;
}
.menu_body a:hover{
width:250px;
  color: #000000;
  text-decoration:underline;
  }
  
  .firstpane {
    font-family: Arial,san-serif;
    color: #E64F23;
    font-size: 22px;
    font-style: italic;
    font-weight: normal;
    padding: 10px 0;
}
#spanuseful {
  font-family: Arial,san-serif;
color: gray;
font-size: 17px;
font-weight: bold;
margin: 10px 0;
}
h1{
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: medium;
    font-weight: bold;
    position: relative;
	margin: 0px;
}

h3{
margin:0px;
font-size: small;
}
.memb-title{
	float:left;
	text-align:center;
	color:#434343;
}
.memb-title .name_data{
	font-size: 22px;
float: left;
text-align: center;
margin-top: 8px;
width:130px;
}
.memb-title .position{
	font-size: 18px;
font-family: sans-serif;
/* font-weight: bold; */
color: gray;
}
ul.reserve-top,ul.consignstep {
	margin-left:25px;
}
ul.reserve-top li{
	list-style-type:disc;
	font-size: 14px;
	margin: 5px 0;
}

ul.consignstep li{
	list-style-type: decimal;
	margin: 5px 0;
}
ul.download_print li{
list-style-type: none;
margin: 5px 0;
}
ul.download_print li a{
	color:#27709D;
}
.bot-details{
	color:#7BC4E5;
}
a.bot-details{
	color:#7BC4E5;
}
ul.download_print li a:hover{
	color:#27709D;
	text-decoration:none;
}
.ship-coin-det{
	margin-left: 50px;
	margin-top: 8px;
}
</style>




<div class="block-wrapper" style="background:url({template_relativeimagepath}{template_imagesfolder}icons/gc-topgraphic.jpg)  no-repeat scroll 0% 0% transparent; width: 960px; height: 523px; padding-bottom: 0px; ">   
</div>
<div class="block-wrapper">        
<div class="block">

        <div class="block-top">
                <div class="block-right">
                        <div class="block-left"></div>
                </div>
        </div>
        <div class="block-header"><h1>Selling Coins is Easy Through GreatCollections</h1></div>
        
        <div class="block-content" style="background:url({template_relativeimagepath}{template_imagesfolder}icons/bg_gradient_coin_1x1000.jpg) no-repeat; padding: 2px 14px 14px;">
        
        	<div>
            
            
           <h2 style="font-size: 24px;width: auto;">Receive Top Dollar. Fast Payment. The Lowest Fees.</h2>
            <table width=100% align=center ><TR><TD width=71%>GreatCollections is the fastest growing coin auction house in the United States, providing trust, integrity and expertise in the sale of rare coins, bullion and other numismatic items.  Some of the advantages of selling through <strong>Great</strong>Collections include:
            <br /><br />            
            <ul class="reserve-top">
				<li>Sell your coins to the highest bidder at auction</li>
				<li>Extensive marketing, including by e-mail, online and in traditional media</li>
				<li>Discounted coin grading rates at PCGS, NGC and ANACS</li>
				<li>No minimum consignment</li>
				<li>The lowest fees - 0% for coins over $1,000 or 5% for coins under $1,000</li>
				<li>Instant cash advances available</li>
				<li>Fast professional service</li>
			    <li>Get a free auction estimate by our professionals</li>
			</ul>
            <br />
           <h3 style="font-size: 15px;margin-bottom: 11px;">Consign in two easy steps</h3>
			 <ul class="consignstep">
				<li>Complete a <strong>Great</strong>Collections consignment form</li>
				<li>Send this consignment form and coins to <strong>Great</strong>Collections via insured mail</li>
			</ul>
			<br />
            Download and Print a <strong>Great</strong>Collections Consignment Form<br />
			<ul class="download_print">
				<li>- <a href="{http_server}forms/coins.pdf"  ><strong>Great</strong>Collections Certified Coin Consignment Form</a></li>
            	<li>- <a href="{http_server}forms/raw_coins.pdf" ><strong>Great</strong>Collections Raw Coin Consignment Form</a></li>
            </ul>
            <br />
            </TD>
            <td width=30% valign=top>
            
            <!--      
            <font size=4>Questions about Coin Values and Selling Coins?  Call us at 1.800.44.COINS (+1.949.679.4180)</font>
            <br />
            <br />
            
            
            
            <strong>Quick Link:</strong><br /><br />
            
            <font size=4><a href="/forms/coins.pdf" style="text-decoration:underline;"><strong>Great</strong>Collections Consignment Form</a></font>
            <br />[PDF File]-->


          <!-- Meeran -->
			<div  id="firstpane" class="menu_list" > <!--Code for menu starts here-->
			<h2 id="spanuseful">Useful Selling Links</h2></span>
			<h3 class="menu_head" onclick="hhh('1')"><img id="img1" src="images/left1.png" />&nbsp; Request a Coin Estimate</h3>
			<div class="menu_body">
			<p>You can fill out our exclusive <a href="/coin_appraisal.php">Coin Estimate form</a>Or e-mail a list to us at <a href="mailto:info@greatcollections.com">info@greatcollections.com</a></p>
			</div>
			<h3 class="menu_head" onclick="hhh('2')"><img id="img2" src="images/left1.png" />&nbsp; Print Consignment Form</h3>
			<div class="menu_body">
			<p><a href="{http_server}forms/coins.pdf">- Certified Coin Consignment Form</a><br /></p>
			<p><a href="{http_server}forms/raw_coins.pdf">- Raw Coin Consignment Form</a></p>
			</div>
			<h3 class="menu_head" onclick="hhh('3')"><img id="img3" src="images/left1.png" />&nbsp; Questions? Contact Us</h3>
			<div class="menu_body">
			<p><b>Telephone:</b><Br />
                 &nbsp;&nbsp;1.800.44.COINS (+1.949.679.4180)</p>
			<p><b>E-mail:</b>
            	&nbsp;&nbsp;<a href="mailto:info@greatcollections.com">info@greatcollections.com</a></p>
			<p><b>Address:</b><br />
            	&nbsp;&nbsp;17500 Red Hill Avenue, Suite 160<br />&nbsp;&nbsp;Irvine, California 92614</p>
            </div>
			<h3 class="menu_head" onclick="hhh('4')"><img id="img4" src="images/left1.png" />&nbsp; Fast Processing</h3>
			<div class="menu_body">
			<p>Consign by May 12th and Your Coins Will Sell on May 25th</p>
			
            </div>
			</div>
				<input type="hidden" id="check" />
				<input type="hidden" id="check1" />
				<input type="hidden" id="check2" />
				<input type="hidden" id="check3" />
				<input type="hidden" id="ccc" />
          <!-- Meeran -->
  
  
            </td>
            </TR>
			<tr>
				<td width="100%" colspan=2><hr/></td>
			</tr>
            </table>
            
            
            <table width=100% align=center>
            <tr>
            <td>
            <h2  style="font-size: 24px; width: auto;">Frequently Asked Questions about Consigning</h2>
            

            <h3>How do I ship coins to GreatCollections?</h3>
            <p class="ship-coin-det">We recommend shipping coins through the United States Postal Service via Registered Insured Mail or Priority Insured Mail.  This is the safest way to transport coins.  If you have coins worth more than $25,000 to sell, please contact us for special instructions.  We will contact you the day your coins arrive.
			</p>
            <br /><br />
           <h3>Are my coins insured?</strong></h3>
           <p class="ship-coin-det"> Yes, from the moment your coin(s) arrive at <strong>Great</strong>Collections, they are fully insured through our extensive policy with Lloyd's of London.  A copy of our insurance certificate is available by request.</p>
            <br /><br />
            <h3>When can I expect payment?</h3>
            <p class="ship-coin-det">While our terms and conditions state that all consignors will be paid within 30 days, we routinely pay our consignors early (usually within 7-10 days).  <strong>Great</strong>Collections can also give you an instant cash advance of up to half of their value.  For more information about cash advances, please call Ian Russell at 1.800.44.COINS (+1.949.679.4180).</p>
            <br /><br />
            <h3>What happens if my coins don't sell?</h3>
            <p class="ship-coin-det">Our sell-through rate is very high at <strong>Great</strong>Collections.  In the unlikely event your coins do not sell, we will reoffer them in another auction.  If they remain unsold, we will return them to you via insured mail.</p>
            <br /><br />
            <h3>Other questions?</h3>
           <p class="ship-coin-det"> If you have any other questions, please do not hesitate to contact us by phone at 1-800-442-6467 (1-949-679-4180), by e-mail at <a href="mailto:info@greatcollections.com">info@greatcollections.com</a> or by fax to 1-949-679-4178.</p>
            
            <br /><br />
			<hr/>
            <h2  style="font-size: 24px; width: auto;">About GreatCollections</h2>
            <strong>Great</strong>Collections was founded by Ian Russell as a marketplace to serve the rare coin and bullion community.  Though there are many places to buy and sell coins, very few ensure that the transaction is conducted in a safe and secure manner while keeping both parties confidential.
<br /><br />
<strong>Great</strong>Collections offers collectors an extensive selection of certified coins ranging in price from $25 up to $10,000s.  All coins have been professionally listed and imaged by <strong>Great</strong>Collections expert staff and most are certified by the leading third-party grading companies.  Since <strong>Great</strong>Collections has possession of all items being offered for sale, <strong>Great</strong>Collections will ship your auction winnings and purchases to you securely and promptly.  Sellers consign to <strong>Great</strong>Collections to take advantage of our low commission rates, which work out in most cases to be cheaper than if they did all the work themselves.
            
            
            </td>
            </tr>
            </table>
            <br /><br />
            <Table width=100% align=center>
            <TR>
          <TD valign=top width=140>
			<img style="padding: 4px;box-shadow: 0px 2px 10px 4px #9C9E9D;" src="/images/ian_russell.jpg" width="120" height="167" alt="Ian Russell at GreatCollections.com"><br/>
			<div class="memb-title">
				<span class="name_data">Ian Russell</span>
				<span class="position">President</span>
			</div>
		 </TD>
           <TD><P><h3>Ian Russell - President</h3>
              Ian is president and co-founder of <b>Great</b>Collections.  From a young age, Ian was interested in collectibles and started working on weekends for a stamp dealer in Sydney, Australia at age 14.  From there he learned about auctions at Stanley Gibbons Australia, personally handling many important sales including the Purcell Collection of Kangaroo and Map Series, the Mackey Collection of Australian States/Pacific Islands and the Morrison Hill China Collection.  Ian also put together the company's first paper money auction featuring one of the finest New Zealand bank note collections ever formed. <br>
              <br>
              In 2000, Ian was responsible for KISS The Auction, the multi-million dollar memorabilia auction conducted in June 2000 by a partnership of two major auction houses: Greg Manning Auctions and Butterfields. <br>
              <br>
              From 2000 until 2010, Ian Russell held various positions at Spectrum Group International including President of Teletrade, Inc. and Chief Operating Officer of Bowers and Merena Auctions, LLC, two of the largest coin auction houses in North America. <br>
              <br>
              <b>Great</b>Collections keeps Ian very busy, but in the rare event of spare time, he likes to watch tennis, play squash and travel to his wish-list of 32 countries. <br>
              <br>
              Contact Ian Russell at <span class="bot-details">1.800.44.COINS (+1-949-679-4180)</span> or via e-mail <a class="bot-details" href="mailto:ian@greatcollections.com" style="text-decoration:underline;">ian@greatcollections.com</a></p></TD>
        </TR>
     
            
            

            
            
            
            </table>

            
            </div>
            
       	</div>
                
        <div class="block-footer">
                <div class="block-right">
                        <div class="block-left"></div>
                </div>
        </div>
</div>
</div>