<meta name="description" content="PCGS, NGC and ANACS Coin Grading at Discounted Rates.  GreatCollections Grade and Auction Program.  Free Coin Appraisals. Sell by Auction at GreatCollections Coin Auctions">
<script type="text/javascript">
$(document).ready(function()
{
	//slides the element with class "menu_body" when paragraph with class "menu_head" is clicked 
	$("#firstpane p.menu_head").click(function()
    {
		$(this).css({backgroundImage:"url()"}).next("div.menu_body").slideToggle(300).siblings("div.menu_body").slideUp("slow");
       	/*$(this).siblings().css({backgroundImage:"url(left.png)"});*/
		var h=document.getElementById("ccc").value;
		if(h==1)
		{
		
		var a=document.getElementById("check").value;
		if(!a)
		{
		document.getElementById("check").value=1;
		document.getElementById("img1").src="images/down.png";
		document.getElementById("check1").value="";
		document.getElementById("img2").src="images/left.png";
		document.getElementById("check2").value="";
		document.getElementById("img3").src="images/left.png";
		
		}
		else
		{
		document.getElementById("check").value="";
		document.getElementById("img1").src="images/left.png";
		document.getElementById("check1").value="";
		document.getElementById("img2").src="images/left.png";
		document.getElementById("check2").value="";
		document.getElementById("img3").src="images/left.png";
		}
		}
		if(h==2)
		{
		
		var b=document.getElementById("check1").value;
		if(!b)
		{
		document.getElementById("check1").value=1;
		document.getElementById("img2").src="images/down.png";
		document.getElementById("check").value="";
		document.getElementById("img1").src="images/left.png";
		document.getElementById("check2").value="";
		document.getElementById("img3").src="images/left.png";
		
		}
		else
		{
		document.getElementById("check1").value="";
		document.getElementById("img2").src="images/left.png";
		document.getElementById("check").value="";
		document.getElementById("img1").src="images/left.png";
		document.getElementById("check2").value="";
		document.getElementById("img3").src="images/left.png";
		}
		}
			if(h==3)
		{
		
		var c=document.getElementById("check2").value;
		if(!c)
		{
		document.getElementById("check2").value=1;
		document.getElementById("img3").src="images/down.png";
		document.getElementById("check").value="";
		document.getElementById("img1").src="images/left.png";
		document.getElementById("check1").value="";
		document.getElementById("img2").src="images/left.png";
		
		}
		else
		{
		document.getElementById("check2").value="";
		document.getElementById("img3").src="images/left.png";
		document.getElementById("check").value="";
		document.getElementById("img1").src="images/left.png";
		document.getElementById("check1").value="";
		document.getElementById("img2").src="images/left.png";
		}
		}
		
		
	});

	
});
	function hhh(a)
	{
	
	document.getElementById("ccc").value=a;
	}
</script>


<style type="text/css">
body {	
	font: 75%/120% Verdana,Arial, Helvetica, sans-serif;
}
.menu_list {	
	/*width: 150px;
	border: 1px solid #333333; */
	width:272px;
}
.menu_head {

width:250px;
color:#FFFFFF;
	padding: 5px 10px;
	cursor: pointer;
	position: relative;
	margin:1px;
	font-weight:bold;
    background: #434343 center left no-repeat;
}
.menu_body {
	display:none;
	width:250px;
	margin:10px 10px 10px 10px;
	

}
.menu_body a{

width:250px;
  display:block;
  color:#006699;
  background-color:#FFFFFF;
  padding-left:10px;
  font-weight:bold;
  text-decoration:none;
}
.menu_body a:hover{
width:250px;
  color: #000000;
  text-decoration:underline;
  }
  
  .firstpane {
    font-family: Arial,san-serif;
    color: #E64F23;
    font-size: 22px;
    font-style: italic;
    font-weight: normal;
    padding: 10px 0;
}
h1
{
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: medium;
    font-weight: bold;
	font-style: normal;
    position: relative;
	margin: 0px;
	padding:0px;
}

#spanuseful {
    font-family: Arial,san-serif;
    font-size: small;
    font-style: normal;
	font-weight: bold;
   	margin:0px;
}
h3{

margin:0px;
font-size: small;

}
</style>







<div class="block-wrapper">        
<div class="block">

        <div class="block-top">
                <div class="block-right">
                        <div class="block-left"></div>
                </div>
        </div>
       <div class="block-header"><h1>Grade & Auction Program by GreatCollections</h1></div>
        
        <div class="block-content" style="background:url({template_relativeimagepath}{template_imagesfolder}icons/bg_gradient_yellow_1x1000.gif) repeat-x; padding: 2px 14px 14px;">
        
        	<div>
            
            
           <h2><b><i>Save on Grading.  No Membership Fees.  Free Grading Advice.</i></b></h2>
            <table width=100% align=center ><TR><TD width=71%>
            
<p>            If you have raw or uncertified coins for sale, our Grade & Auction Program offers grading by PCGS, NGC and ANACS at special discounted rates.  GreatCollections will pay the grading fees up front, and these discounted fees will be deducted from your consignor check.  Best of all, we'll review your coins, make recommendations on grading and which service level to use.
  </p> <br />
<p>           <h2 id="spanuseful">  PCGS Grading Services & Rates (through GreatCollections Grade & Auction Program)</h2>
       <br />    
            PCGS Economy Service - Normally $18 per coin - GreatCollections rate:  $12 per coin
            <br />PCGS Express Service - Normally $50 per coin - GreatCollections rate:  $30 per coin
            <br />PCGS Walkthrough Service - Normally $110 per coin - GreatCollections rate:  $80 per coin
            <br />World Coins add $5 (per coin); Varieties add $12 (per coin)
            <br />PCGS Handling Fee (per submission): $10

   </p>         
   <br />
   
   <p>          <h2 id="spanuseful">  NGC Grading Services & Rates (through GreatCollections Grade & Auction Program)</h2>
       <br />    
            NGC Silver/Copper Service - Normally $16 per coin - GreatCollections rate:  $12 per coin
            <br />NGC Express Service - Normally $50 per coin - GreatCollections rate:  $30 per coin
            <br />World Coins add $5 (per coin); Varieties add $12 (per coin)		<br />NGC Handling Fee (per submission): $8  
   </p>         
   <br />
   
   <p>          <h2 id="spanuseful">  ANACS Grading Services & Rates (through GreatCollections Grade & Auction Program)</h2>
       <br />    
            ANACS Regular Service - All coins qualify for the special GreatCollections rate:  $10 per coin
<br />Includes: U.S./World/Ancients/Errors/Varieties
   </p>         
   <br />
   <p>         
  
              <b>Consign raw coins in two easy steps</b><br />
<br />
			1.  Complete a <a href="{http_server}forms/raw_coins.pdf" style="text-decoration:underline;">Raw Coin Consignment Form</a><br />
			2.  Send this consignment form and coins to <strong>Great</strong>Collections via insured mail
			<br />
		<strong>Great</strong>Collections will notify you the day your consignment arrives at GreatCollections.	
   </p>
            
       <br />
            If you have any questions about consigning or what your coins are worth, please do not hesitate to contact us.  Telephone us at 1.800.44.COINS (+1.949.679.4180) or e-mail <a href="mailto:info@greatcollections.com" style="text-decoration:underline;">info@greatcollections.com</a>.
            </TD>
            <td width=30% valign=top>
            



          <!-- Meeran -->
			<div  id="firstpane" class="menu_list" > <!--Code for menu starts here-->
			<h1> Useful Selling Links</h1>
			<p class="menu_head" onclick="hhh('1')"><img id="img1" src="images/left.png" />&nbsp; Request a Coin Estimate</p>
			<div class="menu_body">
			<p>You can fill out our exclusive <a href="/newsell_coin.php">Coin Estimate form</a>Or e-mail a list to us at <a href="mailto:info@greatcollections.com">info@greatcollections.com</a></p>
			</div>
			<p class="menu_head" onclick="hhh('2')"><img id="img2" src="images/left.png" />&nbsp; Print Consignment Form</p>
			<div class="menu_body">
			<p><a href="{http_server}forms/coins.pdf">- Certified Coin Consignment Form</a><br /></p>
			<p><a href="{http_server}forms/raw_coins.pdf">- Raw Coin Consignment Form</a></p>
			</div>
			<p class="menu_head" onclick="hhh('3')"><img id="img3" src="images/left.png" />&nbsp; Questions? Contact Us</p>
			<div class="menu_body">
			<p><b>Telephone:</b><Br />
                 &nbsp;&nbsp;1.800.44.COINS (+1.949.679.4180)</p>
			<p><b>E-mail:</b>
            	&nbsp;&nbsp;<a href="mailto:info@greatcollections.com">info@greatcollections.com</a></p>
			<p><b>Address:</b><br />
            	&nbsp;&nbsp;17500 Red Hill Avenue, Suite 160<br />&nbsp;&nbsp;Irvine, California 92614
            </div>
			</div>
				<input type="hidden" id="check" />
				<input type="hidden" id="check1" />
				<input type="hidden" id="check2" />
				<input type="hidden" id="ccc" />
          <!-- Meeran -->
  
  
            </td>
            </TR>
            </table>
            
            
            <table width=80% align=center>
            <tr>
            <td>
            <h2><b><i>Frequently Asked Questions about the Grade & Auction Program</i></b></h2>

            <h3>Does GreatCollections make grading service/level recommendations??</h3>
            Yes, just note on the consignment form the first option for "GreatCollections to choose the best grading service/level for my consignment", and we will take care of the rest.  In addition, if we feel that your coins are not suitable to be graded, we will call you to discuss.
            <br /><br />
            <h3>Do I send any money up front for the grading fees?</h3>
            No, please do not send any money for grading fees up front.  We will arrange and pay for the grading, and deduct these discounted rates from your consignor check after the auction.
            <br /><br />
            <h3>Do you just arrange grading coins without auctioning them?</h3>
            At present, we do not just grade coins for clients.  All coins submitted raw through our special "Grade & Auction" program must be auctioned through GreatCollections after grading.
            <br /><br />
            <h3>Do all coins qualify for these special grading rates?</h3>
            The grading rates/services listed cover the most common coin submissions/consignments (over 99% of coins submitted to GreatCollections).  At PCGS and NGC, certain errors, varieties or rarities (coins worth more than $20,000) may need to be graded under a different service at a different rate.  Please submit the coins to GreatCollections and we will contact you if any do not fall under the discounted rates listed on this form prior to submitting to the grading services for your approval.            
            <br /><br />
           <h3>Is there any limit to the number of coins I can get graded?</h3>
            No, there is no limit or minimum either.  We have clients who will want to "Grade & Auction" one coin and also clients who submit hundreds of coins.  Our company was built on servicing clients with both small and large collections/holdings.
            <br /><br />
           <h3>How do I ship coins to GreatCollections?</h3>
            We recommend shipping coins through the United States Postal Service via Registered Insured Mail or Priority Insured Mail.  This is the safest way to transport coins.  If you have coins worth more than $25,000 to sell, please contact us for special instructions.  We will notify you the day your coins arrive.
            <br /><br />
           <h3>Are my coins insured?</h3>
            Yes, from the moment your coin(s) arrive at <strong>Great</strong>Collections, they are fully insured through our extensive policy with Lloyd's of London.  A copy of our insurance certificate is available by request.
            <br /><br />
            <h3>When can I expect payment?</h3>
            While our terms and conditions state that all consignors will be paid within 30 days, we routinely pay our consignors early (usually within 7-10 days).  <strong>Great</strong>Collections can also give you an instant cash advance of up to half of their value.  For more information about cash advances, please call Ian Russell at 1.800.44.COINS (+1.949.679.4180).
            <br /><br />
           <h3>What happens if my coins don't sell?</h3>
            Our sell-through rate is very high at <strong>Great</strong>Collections.  In the unlikely event your coins do not sell, we will reoffer them in another auction.  If they remain unsold, we will return them to you at our expense and invoice you for the grading fees.
            
            
            <br /><br />
            <h2><b><i>About GreatCollections</i></b></h2>
            <strong>Great</strong>Collections was founded by Ian Russell as a marketplace to serve the rare coin and bullion community.  Though there are many places to buy and sell coins, very few ensure that the transaction is conducted in a safe and secure manner while keeping both parties confidential.
<br /><br />
<strong>Great</strong>Collections offers collectors an extensive selection of certified coins ranging in price from $25 up to $10,000s.  All coins have been professionally listed and imaged by <strong>Great</strong>Collections expert staff and most are certified by the leading third-party grading companies.  Since <strong>Great</strong>Collections has possession of all items being offered for sale, <strong>Great</strong>Collections will ship your auction winnings and purchases to you securely and promptly.  Sellers consign to <strong>Great</strong>Collections to take advantage of our low commission rates, which work out in most cases to be cheaper than if they did all the work themselves.
            
            
            </td>
            </tr>
            </table>
            <br /><br />
            <Table width=80% align=center>
            <TR>
          <TD valign=top width=140><img src="/images/ian_russell.jpg" width="120" height="167" alt="Ian Russell at GreatCollections.com"></TD>
			<TD><P><h3>Ian Russell - President</h3>
              Ian is president and co-founder of <b>Great</b>Collections.  From a young age, Ian was interested in collectibles and started working on weekends for a stamp dealer in Sydney, Australia at age 14.  From there he learned about auctions at Stanley Gibbons Australia, personally handling many important sales including the Purcell Collection of Kangaroo and Map Series, the Mackey Collection of Australian States/Pacific Islands and the Morrison Hill China Collection.  Ian also put together the company's first paper money auction featuring one of the finest New Zealand bank note collections ever formed. <br>
              <br>
              In 2000, Ian was responsible for KISS The Auction, the multi-million dollar memorabilia auction conducted in June 2000 by a partnership of two major auction houses: Greg Manning Auctions and Butterfields. <br>
              <br>
              From 2000 until 2010, Ian Russell held various positions at Spectrum Group International including President of Teletrade, Inc. and Chief Operating Officer of Bowers and Merena Auctions, LLC, two of the largest coin auction houses in North America. <br>
              <br>
              <b>Great</b>Collections keeps Ian very busy, but in the rare event of spare time, he likes to watch tennis, play squash and travel to his wish-list of 32 countries. <br>
              <br>
              Contact Ian Russell at 1.800.44.COINS (+1-949-679-4180) or via e-mail <a href="mailto:ian@greatcollections.com" style="text-decoration:underline;">ian@greatcollections.com</a></p></TD>
        </TR>
     
            
            

            
            
            
            </table>

            
            </div>
            
       	</div>
                
        <div class="block-footer">
                <div class="block-right">
                        <div class="block-left"></div>
                </div>
        </div>
</div>
</div>