<style type="text/css">
#seperator
{
    width: 0px;
}
#textim{

background-image: url("{https_server}images/gc/coin_bg.jpg");

width:198px;

height:160px;

}
#fetit

{

background:none;

color:#303030;

font-size:12px;

text-decoration:none;

font-weight:bold;

font-family:Tahoma, Arial, "Times New Roman", Verdana;

text-transform:capitalize;

}
#amo

{

background:none;

color:#E16E19;

font-size:14px;

text-decoration:none;

font-weight:bold;

font-family:Tahoma, Arial, "Times New Roman", Verdana;

text-transform:capitalize;

}
</style>
<div class="block-wrapper">        
<div class="block">

        <div class="block-top">
                <div class="block-right">
                        <div class="block-left"></div>
                </div>
        </div>
        <div class="block-header">ANACS Coins and Coin Grading</div>
        <div class="block-content-yellow" style="padding:9px"><div class="smaller">{_overview}</div></div>
        <div class="block-content" style="background:url({template_relativeimagepath}{template_imagesfolder}icons/bg_gradient_yellow_1x1000.gif) repeat-x; padding:14px">
        
        	<div>
            ANACS is "America's Oldest Grading Service", located in Englewood, Colorado.  The ANACS history starts back in 1972, when it was founded by the American Numismatic Association to be a third party coin grading service.  They initially started grading the obverse and reverse as different grades and you still see certificates issued by ANACS with 63/64 as a grade, noting that the obverse was graded MS-63 and reverse was graded MS-64.  In today's grading standards at all leading coin grading companies, a single grade is assigned.  In 1989, ANACS commenced issuing photo certificates and encapsulating coins in tamper evident holders.  
            <br /><br />
            GreatCollections offers ANACS coins in our auctions and for direct sale.  In addition, as an ANACS authorized dealer, we offer several services to collectors to have raw coins graded and certified by ANACS.
            <br /><br />
			Coins graded and certified by ANACS are usually covered by their ANACS Guarantee.  For more information about the specifics and conditions of their guarantee, please contact ANACS.
            <br /><br />
            <a href="{http_server}search.php?q=anacs&mode=product&sort=01" style="text-decoration:underline;">Click here to view ANACS coins on GreatCollections</a>.<br />
            <a href="{http_server}forms/" style="text-decoration:underline;">ANACS coins for sale?  Download a consignment form here</a>.
            <br /><br />
            <strong>Sample ANACS Slabs:</strong><br />
            ANACS has changed their slab and label design several times over the past 20 years, and prior to "slabbing" coins, they issued Photograph Certificates.<br /><br />
            <center>
            <!--<img src="" / width=190 height=250 alt="ANACS Photograph Certificate">&nbsp;&nbsp;-->
            <img src="{https_server}images/gc/grading_services/anacs_small_holder_certified_coin.jpg" / width=200 height=287 alt="ANACS Small Holder">&nbsp;&nbsp;
            <img src="{https_server}images/gc/grading_services/anacs_blue_holder_certified_coin.jpg" / width=200 height=265 alt="ANACS Blue Holder">&nbsp;&nbsp;
            <img src="{https_server}images/gc/grading_services/anacs_yellow_holder_certified_coin.jpg" / width=200 height=281 alt="ANACS Current Yellow Holder">            
            
           
            </center>
            </div>
            
       	</div>
                
        <div class="block-footer">
                <div class="block-right">
                        <div class="block-left"></div>
                </div>
        </div>
		
		<br /><br />
<if condition="isset($show['result'])">
<div style="width:950px;margin-top:-30px;">
      <div id="auction_box" style="width: 928px;"> 
         <div id="title_text">Featured Coin Auctions</div>
         <div>&nbsp;</div>
         {myfeature}      
      </div>
</div>
</if> 	       

</div>
</div>