<div class="block-wrapper">        
<div class="block">

        <div class="block-top">
                <div class="block-right">
                        <div class="block-left"></div>
                </div>
        </div>
        <div class="block-header">404 - Page Not Found</div>
        <div class="block-content-yellow" style="padding:9px"><div class="smaller">{_overview}</div></div>
        <div class="block-content" style="background:url({template_relativeimagepath}{template_imagesfolder}icons/bg_gradient_yellow_1x1000.gif) repeat-x; padding:14px">
        
        	<div>
            Thank you for visiting GreatCollections - Certified Coin Auctions and Direct Sales.
            <br /><br />
            It seems that the page you were trying to reach doesn't exist anymore, or maybe it has just moved.  We think that the best thing to do is to start again from the home page.  Feel free to contact us if the problem persists or you can't find what you're looking for.
            <br /><br />
            <strong>GreatCollections</strong><br />
            Tel:  1.800.44.COINS (+1.949.679.4180)<br />
            E-mail:  <a href="mailto:info@greatcollections.com">info@greatcollections.com</a>
            
            
            
            
            
            </div>
            
            
            
            
            
       	</div>
                
        <div class="block-footer">
                <div class="block-right">
                        <div class="block-left"></div>
                </div>
        </div>
</div>
</div>