<div class="block-wrapper">        
<div class="block">

        <div class="block-top">
                <div class="block-right">
                        <div class="block-left"></div>
                </div>
        </div>
        <div class="block-header">Bidding and Buying Coins Through GreatCollections</div>
        <div class="block-content-yellow" style="padding:9px"><div class="smaller">{_overview}</div></div>
        <div class="block-content" style="background:url({template_relativeimagepath}{template_imagesfolder}icons/bg_gradient_yellow_1x1000.gif) repeat-x; padding:14px">
        
        	<div>GreatCollections is the best of both worlds for certified coins.  We offer coins for auction as well as immediate direct sale, which we call "Buy Now".
            <br /><br />
            GreatCollections handles each coin transaction from start to finish.  For sellers, GreatCollections offers professional imaging for each coin, cash advances as appropriate, and other individualized services generally not available with the large auction houses and other websites, freeing the seller to do nothing except collect the proceeds of the sale.  This is an alternative to the risks of dealing with unknown buyers and sellers online: a trusted venue whose principals have years of coin experience and whose reputations in the industry are impeccable <a href="/main-about">(read more about the company and owners here)</a>
            <br /><br />
            Our fee structure is simple and highly competitive, with a low buyer's fee of 10% (minimum $5 per item).  Our seller's fee range from 0% to 5%, depending upon the value of the coin.  All of our fixed price "Buy Now" listings carry no buyer's fee.
            <br /><br />
            Coins are continually being added to the website and members can set up a "saved search," which will automatically notify you when coins matching your criteria appear at GreatCollections.
            
            
            
            
            
            </div>
            
       	</div>
                
        <div class="block-footer">
                <div class="block-right">
                        <div class="block-left"></div>
                </div>
        </div>
</div>
</div>