<style type="text/css">
#seperator
{
    width: 0px;
}
#textim{

background-image: url("{https_server}images/gc/coin_bg.jpg");

width:198px;

height:160px;

}
#fetit

{

background:none;

color:#303030;

font-size:12px;

text-decoration:none;

font-weight:bold;

font-family:Tahoma, Arial, "Times New Roman", Verdana;

text-transform:capitalize;

}
#amo

{

background:none;

color:#E16E19;

font-size:14px;

text-decoration:none;

font-weight:bold;

font-family:Tahoma, Arial, "Times New Roman", Verdana;

text-transform:capitalize;

}
</style>
<div class="block-wrapper">        
<div class="block">

        <div class="block-top">
                <div class="block-right">
                        <div class="block-left"></div>
                </div>
        </div>
        <div class="block-header">PCGS Coins and Coin Grading</div>
        <div class="block-content-yellow" style="padding:9px"><div class="smaller">{_overview}</div></div>
        <div class="block-content" style="background:url({template_relativeimagepath}{template_imagesfolder}icons/bg_gradient_yellow_1x1000.gif) repeat-x; padding:14px">
        
        	<div>
            PCGS is one of the leading third-party grading services for rare coins.  Founded in 1985 by several of the foremost experts in rare coins, PCGS has graded more than 20 million coins with a value of over $20 billion over the past 25 years.  PCGS, located in Newport Beach, California, is part of Collectors Universe, which also grades and authenticates autographs and memorabilia, stamps and sports cards. 
            <br /><br />
            GreatCollections offers PCGS coins in our auctions and for direct sale.  In addition, as a PCGS authorized dealer, we offer several services to collectors to have raw coins graded and certified by PCGS.
            <br /><br />
			Coins graded and certified by PCGS are covered by The PCGS Guarantee.  Their guarantee ensures the accuracy of the grade assigned to any PCGS coin, as long as it remains in the tamper-evident holder.  For more information about the specifics and conditions of their guarantee, please contact PCGS.
            <br /><br />
            <a href="{http_server}search.php?q=pcgs&mode=product&sort=01" style="text-decoration:underline;">Click here to view PCGS coins on GreatCollections</a>.<br />
            <a href="{https_server}forms/" style="text-decoration:underline;">PCGS coins for sale?  Download a consignment form here</a>.
            <br /><br />
            <strong>Sample PCGS Slabs:</strong><br />
            Over the years, PCGS has changed their slab and label design several times.<br /><br />
            <center>
            <img src="{https_server}images/gc/grading_services/pcgs_rattler_ogh_certified_coin.jpg" / width=200 height=265 alt="PCGS Rattler Holder">&nbsp;&nbsp;
            <img src="{https_server}images/gc/grading_services/pcgs_green_holder_certified_coin.jpg" / width=200 height=265 alt="PCGS Green Holder">&nbsp;&nbsp;
            <img src="{https_server}images/gc/grading_services/pcgs_standard_certified_coin.jpg" / width=200 height=265 alt="PCGS Standard Holder">&nbsp;&nbsp;
            <!--<img src="/images/gc/grading_services/" / width=200 height=265 alt="PCGS Secure Plus Holder">      -->      
            <br />
            <img src="{https_server}images/gc/grading_services/pcgs_first_strike_silver_eagle.jpg" / width=200 height=265 alt="PCGS First Strike Silver Eagle">            
            </center>           
           
           
            
            </div>
            
       	</div>
                
        <div class="block-footer">
                <div class="block-right">
                        <div class="block-left"></div>
                </div>
        </div>
		
		<br /><br />
<if condition="isset($show['result'])">
<div style="width:950px;margin-top:-30px;">
      <div id="auction_box" style="width: 928px;"> 
         <div id="title_text">Featured Coin Auctions</div>
         <div>&nbsp;</div>
         {myfeature}      
      </div>
</div>
</if> 	       

</div>
</div>