<style type="text/css">
#seperator
{
    width: 0px;
}
#textim{

background-image: url("{https_server}images/gc/coin_bg.jpg");

width:198px;

height:160px;

}
#fetit

{

background:none;

color:#303030;

font-size:12px;

text-decoration:none;

font-weight:bold;

font-family:Tahoma, Arial, "Times New Roman", Verdana;

text-transform:capitalize;

}
#amo

{

background:none;

color:#E16E19;

font-size:14px;

text-decoration:none;

font-weight:bold;

font-family:Tahoma, Arial, "Times New Roman", Verdana;

text-transform:capitalize;

}
</style>
<div class="block-wrapper">        
<div class="block">

        <div class="block-top">
                <div class="block-right">
                        <div class="block-left"></div>
                </div>
        </div>
        <div class="block-header">NGC Coins and Coin Grading</div>
        <div class="block-content-yellow" style="padding:9px"><div class="smaller">{_overview}</div></div>
        <div class="block-content" style="background:url({template_relativeimagepath}{template_imagesfolder}icons/bg_gradient_yellow_1x1000.gif) repeat-x; padding:14px">
        
        	<div>
            Founded in 1987, NGC is one of the leading third-party grading services for rare coins.  Over the years, NGC has graded some of the rarest U.S. coins, including the Eliasberg 1913 Liberty Nickel, the Eliasberg 1885 Trade Dollar and the Norweb 1861 Paquet Reverse $20 Gold piece.  NGC is part of Certified Collectibles Group, which also grades and authenticates paper money, comics and magazines.  NGC is the official grading service of the ANA and PNG.           
            <br /><br />
            GreatCollections offers NGC coins in our auctions and for direct sale.  In addition, as a NGC authorized dealer, we offer several services to collectors to have raw coins graded and certified by NGC.
            <br /><br />
			Coins graded and certified by NGC are covered by The NGC Coin Grading Guarantee.  Their guarantee covers all U.S. and World coins certified and encapsulated by NGC, providing the coin remains in the NGC holder.  For more information about the specifics and conditions of their guarantee, please contact NGC.
            <br /><br />
            <a href="{http_server}search.php?q=ngc&mode=product&sort=01" style="text-decoration:underline;">Click here to view NGC coins on GreatCollections</a>.<br />
            <a href="{http_server}forms/" style="text-decoration:underline;">NGC coins for sale?  Download a consignment form here</a>.
            <br /><br />
            <strong>Sample NGC Slabs:</strong><br />
            NGC has changed their slab and label design several times over the past 20 years.  Below you will find some of the different NGC "slab" and insert types.<br /><br />
            <center>
            <img src="{https_server}images/gc/grading_services/ngc_1st_generation_holder_certified_coin.jpg" / width=200 height=292 alt="NGC 1st Generation Holder">&nbsp;&nbsp;
            <!--<img src="/images/gc/grading_services/" / width=200 height=285 alt="NGC Rare Black Holder">&nbsp;&nbsp;-->
            <img src="{https_server}images/gc/grading_services/ngc_standard_holder_certified_coin.jpg" / width=200 height=284 alt="NGC Standard Holder">&nbsp;&nbsp;
            <img src="{https_server}images/gc/grading_services/ngc_edgeview_certified_coin.jpg" / width=200 height=285 alt="NGC Edgeview Holder">         
            <br />   
            <img src="{https_server}images/gc/grading_services/ngc_liberty_silver_eagle_holder_certified_coin.jpg" / width=200 height=288 alt="NGC Liberty Silver Eagle Holder">&nbsp;&nbsp;
            <img src="{https_server}images/gc/grading_services/ncs_authentic_certified_coin.jpg" / width=200 height=283 alt="NCS Authentic Holder">            
           
            </center>
            </div>
            
       	</div>
                
        <div class="block-footer">
                <div class="block-right">
                        <div class="block-left"></div>
                </div>
        </div>
		
		<br /><br />
<if condition="isset($show['result'])">
<div style="width:950px;margin-top:-30px;">
      <div id="auction_box" style="width: 928px;"> 
         <div id="title_text">Featured Coin Auctions</div>
         <div>&nbsp;</div>
         {myfeature}      
      </div>
</div>
</if> 	       

</div>
</div>