<div class="block-wrapper">        
<div class="block">

        <div class="block-top">
                <div class="block-right">
                        <div class="block-left"></div>
                </div>
        </div>
        <div class="block-header">FUN (Florida United Numismatists)</div>
        <div class="block-content-yellow" style="padding:9px"><div class="smaller">Ian Russell of GreatCollection is a Life Member of FUN</div></div>
        <div class="block-content" style="background:url({template_relativeimagepath}{template_imagesfolder}icons/bg_gradient_yellow_1x1000.gif) repeat-x; padding:14px;text-align: justify;line-height: 1.4em;">
        
        	<div>        
                <a href="/main-shows"><img style="float: right; padding: 6px 30px 0px 40px; width: 200px; height: 202px;" title="GreatCollections Coin Auctions at FUN" src="http://www.greatcollections.com/banner/images/8129/greatcollections_fun.png" alt="" class="right"></a>
<a style="float: right; padding: 6px 58px 0px 75px;clear: both;text-align: center;" href="/main-shows"><b>GreatCollections <br>Coin Auctions at FUN </b></a>
        Florida United Numismatists, commonly abbreviated as “FUN,” is one of the largest collectors organizations in the hobby. FUN is best known for its annual January convention, which is typically held in Orlando, Tampa or Fort Lauderdale. The January FUN show is the first major show of the year and one of the most important. Collectors and dealers attend the show not only to visit Florida during the winter, but to also kick off the year with a strong week of buying and selling. <br /><br />

        More recently, FUN has also introduced a summer convention. While smaller than the January show, which attracts hundreds of dealers and thousands of collectors, the summer FUN show is extremely well-attended too. In fact, it has become one of the best-attended mid-size shows of the year. The convention is always held in Florida and typically takes place in July. <br /><br />

        Ian Russell, President of <strong>Great</strong>Collections, is a life member of FUN. <strong>Great</strong>Collections attends all FUN conventions to exhibit auction highlights, accept consignments and meet clients. We encourage all collectors to join Florida United Numismatists; at $15/year it is an outstanding value. Its quarterly publication, FUN Topics, is worth the price of membership alone. Even if you’re not a Floridian, the organization has a national membership base and is one of the largest collector groups in the United States.<br /><br />

        If you are interested in attending a FUN convention, please check our <a href="/main-shows" style="text-decoration:underline;">Coin Show Schedule</a>. In addition to the January and summer FUN conventions, <strong>Great</strong>Collections attends a number of other shows, including those held by the American Numismatic Association, Professional Coin Grading Service, Central States Numismatic Society, the Long Beach Expo, Whitman Publishing, and others. In the course of the year, we over a dozen conventions all across the country. To schedule an appointment with a <strong>Great</strong>Collections numismatist at an upcoming show, <a href="/main-contact" style="text-decoration:underline;">click here</a>.
            
            </div>
            
       	</div>
                
        <div class="block-footer">
                <div class="block-right">
                        <div class="block-left"></div>
                </div>
        </div>
</div>
</div>