<div class="block-wrapper">        
<div class="block">

        <div class="block-top">
                <div class="block-right">
                        <div class="block-left"></div>
                </div>
        </div>
        <div class="block-header">Member Benefits at GreatCollections</div>
        <div class="block-content-yellow" style="padding:9px"><div class="smaller">Coin Auctions & Direct Sales by GreatCollections</div></div>
        <div class="block-content" style="background:url({template_relativeimagepath}{template_imagesfolder}icons/bg_gradient_yellow_1x1000.gif) repeat-x; padding:14px">
        
        	<div>
            GreatCollections offers many benefits and services to our members.
            <br /><br />
            Our clients include collectors, dealers, investors, executives, trading companies and estates.  Our simple format of coin auctions and direct sales of rare coins attracts the whole spectrum of the coin market.  We aim to deliver the best results, whether buying or selling, and provide the highest level of customer service possible.
            <br /><br />
            It's free to join - <a href="/registration.php" style="text-decoration:underline;"><strong>Click Here to Register at GreatCollections</strong></a>
            <br /><br />
            <strong>Other Member Benefits:</strong>
            <br /><br />
            - Add coins of interest to your personal watchlist.
            <br />- Bid on our auctions with confidence.  We never have a hidden reserve.
            <br />- Save a search, and we'll notify you when a coin matches in the future.
            <br />- Consign coins and take advantage of the lowest fees in the industry.
            <br />- Get your raw coins graded by PCGS, NGC and ANACS, as part of our exclusive arrangement with the leading grading services.
            <br />- Free advice, whether conducting business through GreatCollections or another firm.
            <br />- And much much more.
            <br /><br />
            <strong>Coins for Sale?</strong>
            <br /><br />
            - If you are new to the coin market, we offer personalized help and advice on the sale of your coins.

            <br /><br />
            <strong>Questions?</strong>
            <br /><br />- There is a convenient link on every item page to ask a question.
            <br />- If you have any general questions, please e-mail <a href="mailto:info@greatcollections.com" style="text-decoration:underline;">info@greatcollections.com</a>
            <br />- Telephone us at 1.800.44.COINS (+1.949.679.4180)
            <br /><br /><br /><br /><br />
            
            </div>
            
       	</div>
                
        <div class="block-footer">
                <div class="block-right">
                        <div class="block-left"></div>
                </div>
        </div>
</div>
</div>