<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
<tr valign="top">
	<td>{v3left_nav}</td>
	<td><div style="width:10px"></div></td>
	<td width="100%">
	        <div class="bigtabs" style="padding-bottom:10px; padding-top:0px">
        <div class="bigtabsheader">
        <ul>
            <li title="" class=""><a href="{http_server}{ilpage[preferences]}?cmd=management">{_preferences}</a></li>
            <li title="" class="on"><a href="javascript:void(0)">{_currency}</a></li>
        </ul>
        </div>
        </div>
        <div style="clear:both;"></div>
        <form method="post" action="{ilpage[preferences]}" name="ilform" accept-charset="UTF-8" style="margin:0px">
        <input type="hidden" name="cmd" value="_do-currency-change" />
        <div class="block-wrapper">
        
            <div class="block">
            
                    <div class="block-top">
                            <div class="block-right">
                                    <div class="block-left"></div>
                            </div>
                    </div>
                    
                    <div class="block-header">{_currency_preference}</div>
                    <div class="block-content-yellow" style="padding:9px"><div class="smaller">{_please_select_the_currency_you_do_business_with_on_the_marketplace}</div></div>
                    <div class="block-content" style="padding:0px">
                        
                        <table cellpadding="{table_cellpadding}" cellspacing="{table_cellspacing}" border="0" width="100%" align="center">
                        <tr>
                            <td>
                            <div>
                                    
                                    <div style="padding-bottom:12px">{site_name} {_currency}: <strong>{currencysymbol}</strong></div>
                                    
                                    <div style="padding-bottom:3px"><strong>{_currency_selection}</strong></div>
                                    <div>{currency_pulldown}</div>
                                
                            </div>
                            
                            </td>
                        </tr>
                        </table>
        
                        
                    </div>
                    
                    <div class="block-footer">
                            <div class="block-right">
                                    <div class="block-left"></div>
                            </div>
                    </div>
                    
            </div>
        </div>
        <div><input type="submit" class="buttons" value=" {_save} " accesskey="s" style="font-size:15px" /></div>
        </form>
	</td>
</tr>
</table>
