<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
<tr valign="top">
	<td>{v3left_nav}</td>
	<td><div style="width:10px"></div></td>
	<td width="100%">
	        <div class="bigtabs" style="padding-bottom:10px; padding-top:0px">
        <div class="bigtabsheader">
        <ul>
            <li title="" class=""><a href="{http_server}{ilpage[preferences]}?cmd=management">{_preferences}</a></li>
            <li title="" class="on"><a href="javascript:void(0)">{_renew_password}</a></li>
        </ul>
        </div>
        </div>
        <div style="clear:both;"></div>
        
        <form method="post" action="{https_server}{ilpage[preferences]}" name="passwordrenewal" accept-charset="UTF-8" onsubmit="return validateSAForm(this);" style="margin:0px">
        <input type="hidden" name="cmd" value="password-change" />
        <div class="block-wrapper">
        
            <div class="block">
            
                    <div class="block-top">
                            <div class="block-right">
                                    <div class="block-left"></div>
                            </div>
                    </div>
                    
                    <div class="block-header">{_request_password_renewal}</div>
                    <div class="block-content-yellow" style="padding:9px"><div class="smaller">{_to_change_your_current_password_please_enter_the_secret_answer_you_supplied_upon_registration}</div></div>
                    <div class="block-content" style="padding:0px">
                        
                        <table cellpadding="{table_cellpadding}" cellspacing="{table_cellspacing}" border="0" width="100%" align="center">
                        <tr>
                            <td align="center">
                            <div>
                                <div align="left">
                                    
                                    <div style="padding-bottom:3px"><strong>{_question}</strong></div><div class="gray">{secret_question}</div>
                                    <br />
                                    <div style="padding-bottom:3px"><strong>{_answer}</strong></div><div><input type="password" name="secretanswer" value="" maxlength="150" size="50" class="input" /> <img name="secretanswererror" src="{template_relativeimagepath}{template_imagesfolder}icons/blankimage.gif" width="21" height="13" border="0" alt="{_this_form_field_is_required}" /></div>
                                    
                                </div>
                            </div>
                            </td>
                        </tr>
                        </table>
        
                        
                    </div>
                    
                    <div class="block-footer">
                            <div class="block-right">
                                    <div class="block-left"></div>
                            </div>
                    </div>
                    
            </div>
        </div>
        <div><input type="submit" class="buttons" value=" {_next} " accesskey="s" style="font-size:15px" /></div>
        </form>
	</td>
</tr>
</table>