<style>
.buttonss {
	background: #007cc7;
	background-image: -webkit-linear-gradient(top, #007cc7, #1d4aa6);
	background-image: -moz-linear-gradient(top, #007cc7, #1d4aa6);
	background-image: -ms-linear-gradient(top, #007cc7, #1d4aa6);
	background-image: -o-linear-gradient(top, #007cc7, #1d4aa6);
	background-image: linear-gradient(to bottom, #007cc7, #1d4aa6);
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	text-shadow: 1px 1px 1px #000000;
	font-family: Arial,Helvetica,sans-serif;
	color: #ffffff;
	text-decoration: none;
   	width: 230px;
	height: 37px;
	border: medium none;
	cursor: pointer;
	border-radius: 6px;
}
.buttonss:hover {
	background: #1d4aa6;
	background-image: -webkit-linear-gradient(top, #1d4aa6, #007cc7);
	background-image: -moz-linear-gradient(top, #1d4aa6, #007cc7);
	background-image: -ms-linear-gradient(top, #1d4aa6, #007cc7);
	background-image: -o-linear-gradient(top, #1d4aa6, #007cc7);
	background-image: linear-gradient(to bottom, #1d4aa6, #007cc7);
	text-decoration: none;
}
</style>

<script type="text/javascript">
function checkform(formobj)
{
	
	
	if (!formobj.agreecheck.checked)
	{
		alert("Please Agree Terms And Conditions");
		return false;
	}
	
	return true;
}

</script>


<form method="post" action="{ilpage[registration]}" accept-charset="UTF-8" onsubmit="return checkform(this);" style="margin: 0px;">
<input type="hidden" name="cmd" value="register" />
<input type="hidden" name="step" value="4" />
<div class="block-wrapper">

	<div class="block">
	
			<div class="block-top">
					<div class="block-right">
							<div class="block-left"></div>
					</div>
			</div>
			
			<div class="block-header"><span style="float:right"><img src="{template_relativeimagepath}{template_imagesfolder}icons/project_5.gif" border="0" alt="" /></span>Terms And Conditions</span></div>
			
			<div class="block-content" style="background:url({template_relativeimagepath}{template_imagesfolder}icons/bg_gradient_yellow_1x1000.gif) repeat-x; padding:0px">
<table cellpadding="6" cellspacing="{table_cellspacing}" border="0" width="100%" align="center">
				<tr class="alt1">
					<td>
						
						<if condition="$ilconfig['registrationdisplay_dob']">
						
							<div style="padding-top:6px"></div>
							
							<div style="clear:both;"></div>
								
						</if>
					
						<div style="padding-bottom:3px"><strong>{_terms}</strong></div>
						
							<div style="padding-bottom:5px" class="gray">{_in_order_to_proceed_you_must_agree_with_the_following_rules}</div>
							<div style="border:thin inset; padding:6px; height:175px; background-color: #fff; overflow:auto"><include filename="registrationterms.html"></div>  
							<div style="padding-top:5px"><label for="agreecheck"><input type="checkbox" name="agreecheck" id="agreecheck" value="1" /> <span class="blue">{_i_have_read_and_agree_to_abide_by_the_terms_and_agreements_above}</span></label>
							<img name="agreecheckerror" src="{template_relativeimagepath}{template_imagesfolder}icons/blankimage.gif" width="21" height="13" border="0" alt="{_this_form_field_is_required}" />
							<if condition="isset($show['error_agreecheck']) AND $show['error_agreecheck']"><br /><span style="color:#FF0000"><strong>Please Agree Terms And Conditions.</strong></span></if>
							</div>
							
						</div>
												
					</td>
				</tr>
				<tr>
					<td colspan="6"><input type="submit" class="buttonss" value="{_finish}" accesskey="s" style="font-size:19px" /></td>
				</tr>
				</table>
				
				
			</div>
			
			<div class="block-footer">
					<div class="block-right">
							<div class="block-left"></div>
					</div>
			</div>
			
	</div>
</div>
</form>

{apihook[registration_template_end]}