<style>
.buttonss {
	background: #007cc7;
	background-image: -webkit-linear-gradient(top, #007cc7, #1d4aa6);
	background-image: -moz-linear-gradient(top, #007cc7, #1d4aa6);
	background-image: -ms-linear-gradient(top, #007cc7, #1d4aa6);
	background-image: -o-linear-gradient(top, #007cc7, #1d4aa6);
	background-image: linear-gradient(to bottom, #007cc7, #1d4aa6);
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	text-shadow: 1px 1px 1px #000000;
	font-family: Arial,Helvetica,sans-serif;
	color: #ffffff;
	text-decoration: none;
	width: 180px;
	height: 37px;
	border: medium none;
	cursor: pointer;
	border-radius: 6px;
}
.buttonss:hover {
	background: #1d4aa6;
	background-image: -webkit-linear-gradient(top, #1d4aa6, #007cc7);
	background-image: -moz-linear-gradient(top, #1d4aa6, #007cc7);
	background-image: -ms-linear-gradient(top, #1d4aa6, #007cc7);
	background-image: -o-linear-gradient(top, #1d4aa6, #007cc7);
	background-image: linear-gradient(to bottom, #1d4aa6, #007cc7);
	text-decoration: none;
}
</style>
<div class="bigtabs" style="padding-bottom:10px; padding-top:0px">
<div class="bigtabsheader">
<ul>
	<li title="" class=""><a href="{ilpage[login]}">{_sign_in}</a></li>
	<li title="" class="on"><a href="javascript:void(0)">{_renew_password}</a></li>
	<li title="" class=""><a href="{ilpage[registration]}">{_register}</a></li>
</ul>
</div>
</div>
<div style="clear:both;"></div>

<div style="padding-bottom:20px"></div>

	<div class="block-wrapper">

		<div class="block">
		
				<div class="block-top">
						<div class="block-right">
								<div class="block-left"></div>
						</div>
				</div>
				<!-- New Change on Dec-04-->
				<div class="block-header" style="height:23px;">
				<span style="float:right; padding-top:3px" class="smaller gray"></span>{_renew_password}</div>
				
				<div class="block-content">
					<div>
						
						
						<form method="post" action="{ilpage[login]}" name="passwordrenewal" accept-charset="UTF-8" onsubmit="return resetPwd(this);" style="margin:0px">
							<input type="hidden" name="cmd" value="_update-newpassword" />
							<input type="hidden" name="userid" value="{userid}" />
							<input type="hidden" name="code" value="{code}" />
							<table border="0" cellpadding="6" cellspacing="{table_cellspacing}" width="100%" align="center">
								<tr>
									<td align="right">Password</td>
									<td><input type="password" name="password" value="" id="password" maxlength="32" onkeyup="verify.check()" class="input" autofocus/> <img name="passworderror" src="{template_relativeimagepath}{template_imagesfolder}icons/blankimage.gif" width="21" height="13" border="0" alt="{_this_form_field_is_required}" />
									<if condition="isset($ilance->GPC['error_password']) AND $ilance->GPC['error_password'] == '1'"><br /><span style="color:#FF0000"><strong>Enter Password</strong></span></if>
									<if condition="isset($ilance->GPC['error_password_length']) AND $ilance->GPC['error_password_length'] == 1"><br /><span style="color:#FF0000"><strong>Password length should be min 6 character.</strong></span></if>
									<if condition="isset($ilance->GPC['error_password_space']) AND $ilance->GPC['error_password_space'] == 1"><br /><span style="color:#FF0000"><strong>Password doesn't contain space.</strong></span></if></td>
								</tr>

								<tr>
									<td align="right">Confirm Password</td>
									<td><input type="password" name="password2" value="" id="password2" maxlength="32" onkeyup="verify.check()" class="input" /> <img name="password2error" src="{template_relativeimagepath}{template_imagesfolder}icons/blankimage.gif" width="21" height="13" border="0" alt="{_this_form_field_is_required}" /><if condition="isset($ilance->GPC['error_password2']) AND $ilance->GPC['error_password2'] == 1"><br /><span style="color:#FF0000"><strong>Enter Confirm password</strong></span></if>
									<if condition="isset($ilance->GPC['error_pwd_miss_match']) AND $ilance->GPC['error_pwd_miss_match'] == 1"><br /><span style="color:#FF0000"><strong>{_passwords_do_not_match}</strong></span></if>
									<span id="password_result"></span></td>
								</tr>
								<tr>
									<td align="center"></td>
									<td><input type="submit" value="{_continue}" style="font-size:15px" class="buttonss" /></td>
								</tr>
							</table>
						</form>
						
						
						
					</div>
				</div>
				
				<div class="block-footer">
						<div class="block-right">
								<div class="block-left"></div>
						</div>
				</div>
				
		</div>
	</div>