<div class="bigtabs" style="padding-bottom:10px; padding-top:0px">
<div class="bigtabsheader">
<ul>
	<li title="" class=""><if condition="$ilconfig['globalauctionsettings_seourls']"><a href="{http_server}search">{_advanced}</a><else /><a href="{http_server}{ilpage[search]}">{_advanced}</a></if></li>
	<li title="" class="on"><a href="javascript:void(0)">{_help}</a></li>
</ul>
</div>
</div>
<div style="clear:both;"></div>

<div class="block-wrapper">

	<div class="block3">
	
			<div class="block3-top">
					<div class="block3-right">
							<div class="block3-left"></div>
					</div>
			</div>
			
			<div class="block3-header">{_advanced_search_commands}</div>
			<div class="block3-content-gray" style="padding:9px"><div class="smaller">Using advanced search helps you find exactly what you're looking for at GreatCollections. Learn how it works and maximize your search results!
            <br /><br />If you have any questions about our search function, please <a href="/main-contact" style="text-decoration:underline;">contact us</a>.  After you have found a search that you want to repeat on a regular basis, please click on "Saved Search"... this will save it for future use and even e-mail you when new items match your search.</div></div>
			
			<div class="block3-content" style="padding:0px">
				
								<table cellpadding="{table_cellpadding}" cellspacing="{table_cellspacing}" width="100%">
				  <tr class="alt3">
					<td width="39%">{_to_search_for}</td>
					<td width="34%">{_do_this}</td>
					<td width="27%">{_example}</td>
				  </tr>
				  <tr class="alt1" valign="top">
					<td><p>Items where at least <u>one</u> keyword is present</p></td>
					<td><p class="gray">{_enter_keywords_using_a_space_to_separate_each_word}</p></td>
					<td><p><strong><strong>Morgan Trade</strong></strong>
                    	<br /><br /><em>Results will return Morgan Dollars and Trade Dollars</em></p></td>
				  </tr>
                  <tr class="alt1" valign="top">
					<td><p>Items where <u>all</u> keywords are present</p></td>
					<td><p class="gray">Enter <strong>+</strong> before each keyword</p></td>
					<td><p><strong>+PCGS +Proof</strong>
                    	<br /><br /><em>Results will return all PCGS Proof coins</em></p></td>
				  </tr>
              	  <tr class="alt1" valign="top">
					<td><p>Items that match a particular grade and/or grading service</p></td>
					<td><p class="gray">Enter <strong>+PCGS +70</strong> or <strong>+PCGS +Proof +70</strong></p></td>
					<td><p><strong>+PCGS +70</strong>
                    	<br /><br /><em>Results will return either PCGS coins graded 70, or PCGS Proof-70 coins</em></p></td>
				  </tr>
                  <!--
                  <tr class="alt1" valign="top">
					<td><p>Items that match an exact phrase</p></td>
					<td><p class="gray">Enter the phrase in double quotation marks</p></td>
					<td><p><strong>"Heavy Motto"</strong></p></td>
				  </tr>
                  -->
                  <tr class="alt1" valign="top">
					<td><p>Items that could be spelled differently</p></td>
					<td><p class="gray">Enter the partial keyword followed by an <strong>*</strong></p></td>
					<td><p><strong>Error* or Doub*</strong>
                    	<br /><br /><em>Results will return "Error/Errors" or "Double/Doubled"</em></p></td>
				  </tr>
                  
                  
                  
            	</table>				
			</div>
			
			<div class="block3-footer">
					<div class="block3-right">
							<div class="block3-left"></div>
					</div>
			</div>
	</div>
</div>