<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
  <tr valign="top">
	<td>{v3left_nav}</td>
	<td><div style="width:10px"></div></td>
	<td width="100%">
	<div class="block-wrapper">
					<!--<div class="block">-->
						<div class="block-top">
						  <div class="block-right"></div>
						</div>
						<div class="block-content" id="collapseobj_recenthistory" style="{collapse[collapseobj_recenthistory]}; padding:0px">
					
							<div class="bigtabs" style="padding-bottom:10px; padding-top:10px">
								<div class="bigtabsheader">
									<ul id="homepagetabs2">
									{apihook[main_template_top_bigtabs_start]}
									<li id="currently_selling" title="" class=""><if condition="$ilconfig['globalauctionsettings_seourls']"><a href="Sell/Current">{_currently_selling}</a><else /><a href="sell.php?cmd=current">{_currently_selling}</a></if></li>
									<li id="_items_sold" title="" class=""><if condition="$ilconfig['globalauctionsettings_seourls']"><a href="Sell/Sold">{_items_sold}</a><else /><a href="sell.php?cmd=sold">{_items_sold}</a></if></li>
									<li id="_items_unsold" title="" class="on"><if condition="$ilconfig['globalauctionsettings_seourls']"><a href="Sell/Unsold">{_items_unsold}</a><else /><a href="sell.php?cmd=unsold">{_items_unsold}</a></if></li> 
									<li id="_items_pending" title="" class=""><if condition="$ilconfig['globalauctionsettings_seourls']"><a href="Sell/Pending">{_items_pending}</a><else /><a href="sell.php?cmd=pending">{_items_pending}</a></if></li>
									<li id="_items_returned" title="" class=""><if condition="$ilconfig['globalauctionsettings_seourls']"><a href="Sell/Returned">{_items_returned}</a><else /><a href="sell.php?cmd=returned">{_items_returned}</a></if></li>
									<li id="_buy_now_sold" title="" class=""><if condition="$ilconfig['globalauctionsettings_seourls']"><a href="Sell/Buynowsold">{_buy_now_sold}</a><else /><a href="sell.php?cmd=buynowsold">{_buy_now_sold}</a></if></li>
									<li id="Buy_now_unsold" title="" class=""><if condition="$ilconfig['globalauctionsettings_seourls']"><a href="Sell/Buynowunsold">{_buy_now_unsold}</a><else /><a href="sell.php?cmd=buynowunsold">{_buy_now_unsold}</a></if></li>
									
									{apihook[main_template_top_bigtabs_end]}
									</ul>
								</div>
							</div>
						</div>
								<div style="clear:both;"></div>

		<div id="new3">
                     
						<div class="block3">
						
							<div class="block3-top">
								<div class="block3-right">
									<div class="block3-left"></div>
								</div>
							</div>
						
						<div class="block3-header">{_items_unsold}</div>
							<div style="padding: 0px;" class="block3-content">
							
							<div style="background-color:#cd9c9c">
							<div style="margin-left:700px;">
							<form name="ilform" action="" method="get" accept-charset="UTF-8" style="margin: 0px;" enctype="multipart/form-data">
											<input type="hidden" name="subcmd" value="unsoldsearch" /> 
												<table width="100%" border="0" cellspacing="{table_cellspacing}" cellpadding="12">
													<tr>
														<td>
														{_select_date}
														</td>
														<td>
														{drop_value}
														<td>
														<input type="submit" class="buttons" value=" {_search} " style="font-size:15px" />
														</td>
													</tr>
												</table>
											</form>
											</div>
							</div>
							<!-- BEGIN service panel selling activity -->
							<table width="100%" cellspacing="0" cellpadding="9" border="0" align="center">
									<tbody>
										<tr class="alt2">
											<td>{_thumbnail}</td>
											<td>{_item_id}</td>
											<td>{_auction_title}</td>											
											<td>{_bids}</td> 
											<td>{_min_bid_buy_now}</td>
											<!--<td>{_bid_message}</td>-->
											<td>{_end_date}</td>
											<td>{_status}</td>
										</tr>
										<loop name="res_gcsolding">
									<tr>
										 <td>{thumbnail}</td>
										 <td><a href="{item_path}">{item_id} </a></td>
											<td><a href="{item_path}">{item_title} </a></td>	
											<td>{bids}</td>
										 <td>{minbid_min}</td>
										 <!--<td style="color:red;">{description}{minbid_buynow}</td>-->
										 <td>{timelef}</td>
										 <td>{status}</td>
										</tr>
										</loop name="res_gcsolding">
										<if condition="isset($res_gcsolding['mm']) AND $res_gcsolding['mm'] == 'Nofound'">
										<tr>
											<td colspan="9" align="center">{_no_results_found}</td>
										</tr>
										<else />
										<tr>
											<td colspan="9">{prevnext}</td>
										</tr>
										</if>										
									</tbody>
								</table>
								
							<!-- END service panel selling activity -->
							</div>
						
							<div class="block3-footer">
								<div class="block3-right">
									<div class="block3-left"></div>
								</div>
							</div>
						</div>
		</div>
	</div>
	</td>
  </tr>
</table>