<style type="text/css">

#wer li a
{

color:#ffffff;
font-family:Tahoma,Arial,"Times New Roman",Verdana;
font-size:12px;
font-weight:normal;
text-decoration:none;
list-style:none;
line-height:20px;


}
#text_op 
{
color:#ffffff;
font-family:Tahoma,Arial,"Times New Roman",Verdana;
font-size:12px;
font-weight:bold;
text-decoration:none;
list-style:none;
line-height:20px;
}

#text_copy
{
color:#ffffff;
font-family:Tahoma,Arial,"Times New Roman",Verdana;
font-size:10px;
font-weight:bold;
text-decoration:none;
list-style:none;
line-height:20px;
margin-left:20px;
width:950px;
}
#text_copy a
{
color:#ffffff;
text-decoration:underline;
}

#werq li a 
{
color:#ffffff;
/*font-family:Tahoma,Arial,"Times New Roman",Verdana;
font-size:12px;*/
font-family:Arial, Helvetica, sans-serif; 
font-size:12px;
text-decoration:none;
font-weight:normal;
list-style:none;
line-height:20px;
}

li
{
list-style:none;
}
</style>
</div></div>



<div id="footer" style="background-repeat:repeat; height:auto; clear:both;">
 <!--meeran Changes jan25,2012 then li changes & kumaravel add clear-both on jun 18, 2014-->
	<div id="width" style="height:auto; width:1000px; background: #5b5f68;">  
	<div>&nbsp;</div>
    
       	<div style="height:462px; clear:both;">
		
		<!--meeran start code-->
			<div style="width:1000px; height:220px;">
				<style type="text/css">
				#width
				{
				width:935px;
				}
				#gc_changefooter
				{
				font-family: Verdana,Arial,Helvetica,sans-serif;
				font-size: 12px;
				line-height: 20px;
				background:#5B5F68 ;
				width:1000px;
				}
				#f_box1 {
				float:left;
				color:#FFFFFF;
				padding:10px;
				
				
				}

				#f_tit {
				font-family: Verdana,Arial,Helvetica,sans-serif;
				font-size: 14px;
				padding:2px 2px 2px 10px ;
				height:20px;
				color:#E7971E;
				font-weight:bold;
				}

				#f_tit1 {
				font-family: Verdana,Arial,Helvetica,sans-serif;
				font-size: 14px;
				padding:2px 2px 2px 0px ;
				height:20px;
				color:#E7971E;
				font-weight:bold;
				}

				#f_tit2 {
				font-family: Verdana,Arial,Helvetica,sans-serif;
				font-size: 14px;
				padding:2px 2px 2px 20px ;
				height:20px;
				color:#E7971E;
				font-weight:bold;
				}

				#f_tit3 {
				font-family: Verdana,Arial,Helvetica,sans-serif;
				font-size: 14px;
				padding:2px 2px 2px 0px ;
				height:20px;
				color:#E7971E;
				font-weight:bold;
				}
								
				#refood  li{
				color:#FFFFFF;
				}
				
				#foo_white
				{
				color:#FFFFFF;
				text-decoration:none;
				/*white-space: nowrap;*/
				}

				#foo_white:hover
				{
				color:#aaccff;
				text-decoration:underline;
				}

				#foowhite
				{
				color:#FFFFFF;
				text-decoration:none;
				}

				#foowhite:hover
				{
				color:#aaccff;
				text-decoration:underline;
				}
				
				#refood
				{
				padding-left:11px; 
				margin-top:10px;
				text-decoration:none;
				line-height: 20px;
				list-style: none outside none;
				}

				#refood1
				{
					padding-left: 1px; 
					margin-top:10px;
					text-decoration:none;
					line-height: 20px;
					list-style: none outside none;
				}

				#refood2
				{
				padding-left:21px; 
				margin-top:10px;
				text-decoration:none;
				line-height: 20px;
				list-style: none outside none;
				}

				#refood3
				{
				padding-left:0px; 
				margin-top:10px;
				text-decoration:none;
				line-height: 20px;
				list-style: none outside none;
				}

				#refood3 > ul > li
				{
					color: #ffffff;
				}

				.subs{
				width: 85%;
				height: 18px;
				border-radius: 3px;
				border: 1px solid #aaa;
				padding: 8px;
				font-weight: 200;
				font-size: 12px;
				font-family: Verdana;
				box-shadow: 1px 1px 5px #CCC;
				}
				.styled-button-1 {
					-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
					-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
					box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
					color:#fff;
					background-color:#333;
				 	-moz-border-radius:5px;
					-webkit-border-radius:5px;
					border:none;
					font-family:'Helvetica Neue',Arial,sans-serif;
					font-size:14px;
				 	height:30px;
					padding:4px 16px;
					font-weight:bold;
					float: right;
				 }				
				
				</style>

            <div id="gc_changefooter">
     			
     		<!-- bug #8128 -->
     			<table style="width: 100%;">
					<tbody>
						<tr>
							<td valign="top">
								<div id="f_tit">About GreatCollections</div>
								<div id="refood">
				                <if condition="$ilconfig['globalauctionsettings_seourls']">
				                    <li><a href="{http_server}main-about" id="foo_white">Our Company</a></li>
									<li><a href="{http_server}main-why-greatcollections" id="foo_white">Why Use GreatCollections?</a></li>
									<li><a href="{http_server}larryking" id="foo_white">Larry King Interviews</a></li>
									<li><a href="{http_server}larryking" id="foo_white">Owner of GreatCollections</a></li>
									<li><a href="{http_server}greatcollections-vs-ebay" id="foo_white">GreatCollections Vs. eBay</a></li>					 
				                    <li ><a href="{http_server}main-promise" id="foo_white">Trust GreatCollections</a></li>
									<li ><a href="{http_server}testimonials.php" id="foo_white">Reviews & Testimonials about GreatCollections</a></li>
									<li><a href="{http_server}main-shows" id="foo_white">Coin Shows We Attend</a></li>
									<li><a href="{http_server}main.php?cmd=grading" id="foo_white">PCGS/NGC Coin Grading</a></li>
				                    <li><a href="{http_server}main-contact" id="foo_white">Contact Us</a></li>
				                    <li><a href="http://www.facebook.com/greatcollections" id="foo_white">Facebook,</a>&nbsp; <a href="http://twitter.com/greatcollection" id="foo_white">Twitter,</a>&nbsp; <a href="{http_server}rss.php" id="foo_white">RSS</a></li>
								   <li><a href="http://google.com/+Greatcollections" id="foo_white">Google+</a></li>
				                   <li><a href="{http_server}main-terms" id="foo_white">Terms & Conditions</a></li>
				                   <li><a href="{http_server}main-privacy" id="foo_white">Privacy Statement</a></li>
				                <else />
								    <li><a href="{http_server}main.php?cmd=about" id="foo_white">Our Company</a></li>
				                    <li><a href="{http_server}main.php?cmd=why-greatcollections" id="foo_white">Why Use GreatCollections?</a></li>
									<li><a href="{http_server}larryking" id="foo_white">Larry King Interviews</a></li>
									<li><a href="{http_server}larryking" id="foo_white">Owner of GreatCollections</a></li>
									<li><a href="{http_server}greatcollections-vs-ebay" id="foo_white">GreatCollections Vs. eBay</a></li>
				                    <li ><a href="{http_server}main.php?cmd=promise" id="foo_white">Trust GreatCollections</a></li>
				                    <li><a href="{http_server}main-contact" id="foo_white">Contact Us</a></li>             
				                    <li><a href="http://www.facebook.com/greatcollections" id="foo_white">Facebook,</a>&nbsp; <a href="http://twitter.com/greatcollection" id="foo_white">Twitter,</a>&nbsp; <a href="{http_server}rss.php" id="foo_white">RSS</a></li>
				                    <li><a href="http://google.com/+Greatcollections" id="foo_white">Google+</a></li>
				                    
				                    <li><a href="{http_server}main-terms" id="foo_white">Terms & Conditions</a></li>
				                    <li><a href="{http_server}main-privacy" id="foo_white">Privacy Statement</a></li>
				                </if>
								</div>
							</td>
							<td valign="top">
								<div id="f_tit1">Bid / Buy</div>
								<div id="refood1">
									<if condition="$ilconfig['globalauctionsettings_seourls']">
										<li><a href="{http_server}main-through" id="foo_white">Bidding at GreatCollections</a></li>
										<li><a href="{http_server}main-through" id="foo_white">Buying at GreatCollections</a></li>
										<li><a href="{http_server}kb/Shipping-Fees-and-Methods-t86-4.html" id="foo_white">Shipping Information</a></li>
										<li><a href="{http_server}kb/Useful-Information-For-New-Members-17-2.html" id="foo_white">New Member Information</a></li>
										<li><a href="{http_server}main-paymonth" id="foo_white">Extended Payment Plan</a></li>
						           
						            <else />
						                <li><a href="{http_server}main.php?cmd=through" id="foo_white">Bidding at GreatCollections</a></li>
						                <li><a href="{http_server}main.php?cmd=through" id="foo_white">Buying at GreatCollections</a></li>
										<li><a href="{http_server}kb/Shipping-Fees-and-Methods-t86-4.html" id="foo_white">Shipping Information</a></li>
										<li><a href="{http_server}kb/Useful-Information-For-New-Members-17-2.htm" id="foo_white">New Member Information</a></li>
										<li><a href="{http_server}main.php?cmd=paymonth" id="foo_white">Extended Payment Plan</a></li>
						            
						            </if>
								</div>
								<br />
								<div id="f_tit1">Sell / Consign</div>
								
								<div id="refood1">
									<if condition="$ilconfig['globalauctionsettings_seourls']">
										 <li><a href="{http_server}main-sell" id="foo_white">Selling Coins through GreatCollections</a></li>
										 <li><a href="{http_server}selling-instructions" id="foo_white">Instructions for Consigning</a></li>
										 <li><a href="{http_server}coin_appraisal.php" id="foo_white">Free Coin Appraisal</a></li>
										 <li><a href="{http_server}kb/Grade-and-Auction-Program-for-Raw-Coins-t152-4.html?se=Grade%20and%20Auction%20Program" id="foo_white">Grade and Auction Program</a></li>
										 <li><a href="{http_server}kb/Instant-Cash-Advances-for-Your-Coins-t224-4.html" id="foo_white">Cash Advances</a></li>
										<li><a href="{http_server}main-consignment" id="foo_white">Consignment Forms</a></li>
						            <else /> 
						                 <li><a href="{http_server}main.php?cmd=sell" id="foo_white">Selling Coins through GreatCollections</a></li>
										 <li><a href="{http_server}main.php?cmd=selling-instructions" id="foo_white">Instructions for Consigning</a></li>
										 <li><a href="{http_server}coin_appraisal.php" id="foo_white">Free Coin Appraisal</a></li>
										 <li><a href="{http_server}kb/Grade-and-Auction-Program-for-Raw-Coins-t152-4.html?se=Grade%20and%20Auction%20Program" id="foo_white">Grade and Auction Program</a></li>
										 <li><a href="{http_server}kb/Instant-Cash-Advances-for-Your-Coins-t224-4.html" id="foo_white">Cash Advances</a></li>
										 <li><a href="{http_server}main-consignment" id="foo_white">Consignment Forms</a></li>   
									</if>	
								</div>
<script>
<!-- 
//Browser Support Code
function ajaxFunctionfooter(){
	
    var ajaxRequest;  // The variable that makes Ajax possible!
    
    try{
        // Opera 8.0+, Firefox, Safari
        ajaxRequest = new XMLHttpRequest();
    } catch (e){
        // Internet Explorer Browsers
        try{
            ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
        } catch (e) {
            try{
                ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
            } catch (e){
                // Something went wrong
                alert("Your browser broke!");
                return false;
            }
        }
    }
    // Create a function that will receive data sent from the server
    ajaxRequest.onreadystatechange = function(){
        if(ajaxRequest.readyState == 4){
            var ajaxDisplay = document.getElementById('ajaxDivsubscribe');
            var sub1 = ajaxDisplay.innerHTML = ajaxRequest.responseText;

            
             if (sub1 == "Enter the email Address") 
            {
                document.getElementById('ajaxDivsubscribe').innerHTML = "<img src='images/error.png'/> Enter the email Address.";
                document.getElementById('ajaxDivsubscribe').style.color = '#FF6A51'
                // alert("Enter the email Address.");
                return false;
            }
            else if(sub1 == "Enter Valid Email Address")
            {
                document.getElementById('ajaxDivsubscribe').innerHTML = "<img src='images/error.png'/> Enter Valid Email Address.";
                document.getElementById('ajaxDivsubscribe').style.color = '#FF6A51'
                // alert("Enter Valid Email Address.");
                return false;
            }
            else if(sub1 == "Already Existing Email Address")
            {
                document.getElementById('ajaxDivsubscribe').innerHTML = "<img src='images/error.png'/> You have already subscribed to our Newsletter.";
                document.getElementById('ajaxDivsubscribe').style.color = '#FF6A51'
                // alert("You have already subscribed to our Newsletter.");
                return false;
            }
            else if(sub1 == "Email address subscribed successfully")
            {
                document.getElementById('ajaxDivsubscribe').innerHTML = "Email address subscribed successfully";
                document.getElementById('ajaxDivsubscribe').style.color = '#06FF00'
                // alert("Email address subscribed successfully.");
                document.getElementById('ufehx').value = "";
                return false;
            }

        }
    }
    var subscribe = document.getElementById('ufehx').value; 
    var queryString = "?ufehx=" + subscribe;
     ajaxRequest.open("GET", "/subscribe-ajax.php" + queryString, true);
    ajaxRequest.send(null); 
}

//-->
function Functionfooter() 
{ 

document.onkeypress = stopEnterKey;
	 
} 
 function stopEnterKey(evt) {
        var evt = (evt) ? evt : ((event) ? event : null);
        var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
        if ((evt.keyCode == 13) && (node.type == "text") && (node.name == "ufehx") ) { 
        	
ajaxFunctionfooter();


        	return false; }
    	}
</script>

								<br />
								<div id="f_tit1">Newsletter</div>
		
								<div id="refood1" style="height:103px;clear:both;">
							        <li>           
							        	<form   name="request_subscribe" id="request_subscribe">
								            <div id="ajaxDivsucesssubscribe">
									        	<div><input type="text" onkeydown='Functionfooter();' class="subs" name="ufehx"  id="ufehx" placeholder="&nbsp;Enter Email Address"/></div>
									        	<div style="padding-top: 10px;padding-right: 16px;">
									        	<input type="button" class="styled-button-1" onclick="return ajaxFunctionfooter()" id="submit1"  name="submit_subscrib" value="Subscribe"    /> 
									        	</div>
								        	</div>
							          	</form>
							        </li>
							        <li>
							        	<span  style="color:#FF0000;"><p id="ajaxDivsubscribe" style="margin-top:0px; clear:both;font-size:14px;" ></p></span>
							        </li>
						        </div> 
						        <div style="clear:both;"></div>
							</td>
							<td valign="top">
								<div id="f_tit2">Coins</div>
								<div id="refood2">
									<if condition="$ilconfig['globalauctionsettings_seourls']">	
										<li><a href="{http_server}featured-coin-auction.php" id="foo_white">Featured Coin Auctions</a></li>
										<li><a href="{http_server}hotlist.php" id="foo_white">The GC HotList</a></li>
										<li><a href="{http_server}search.php?mode=product&sort=01&auction=1&fromprice=500.00&toprice=100000.00&fromprice=500.00&toprice=100000.00" id="foo_white">Rare Coin Auctions</a></li>
										<li><a href="{http_server}search.php?q=Toned&mode=product&sort=01" id="foo_white">Toned Coins</a></li>
										<li><a href="{http_server}search.php?q=CAC&mode=product&sort=01" id="foo_white">CAC Coins</a></li>
										<li><a href="{http_server}search.php?q=WINGS&mode=product&sort=01" id="foo_white">WINGS World Coins</a></li>
										<li><a href="{http_server}pcgs-70-coins" id="foo_white">PCGS MS-70/Proof-70 Coins</a></li>			
										<li><a href="{http_server}ngc-70-coins" id="foo_white">NGC MS-70/Proof-70 Coins</a></li>
										<li><a href="{http_server}MS-67-coins" id="foo_white">PCGS/NGC MS-67 Coins</a></li>
										<li><a href="{http_server}vams" id="foo_white">VAM Silver Dollars</a></li>
										<li><a href="{http_server}randomauction.php" id="foo_white">Random Coin Auction</a></li>
										<li><a href="{http_server}search.php?q=China&mode=product&sort=01" id="foo_white">Chinese Coins </a></li>

										</div>
										<br />
										<div id="f_tit2">Coins Sold by GreatCollections</div>
										<br />
										<div id="refood2">		
											<li><a href="{http_server}young-collection" id="foo_white" style="white-space: nowrap;">Young Commem Collection</a></li>		
											<li><a href="{http_server}CoinPrices" id="foo_white">Coin Auction Archive</a></li>
											<li><a href="{http_server}record_coin_prices.php" id="foo_white">Record Coin Prices</a></li>
											<li><a href="{http_server}cac_non_cac.php" id="foo_white">CAC Price Comparisons</a></li>
										</div>
            
        							<else />      
            
										<li><a href="{http_server}featured-coin-auction.php" id="foo_white">Featured Coin Auctions</a></li>
										<li><a href="{http_server}randomauction.php" id="foo_white">Random Coin Auction</a></li>
										<li><a href="{http_server}hotlist.php" id="foo_white">The GC HotList</a></li>
										<li><a href="{http_server}search.php?mode=product&sort=01&auction=1&fromprice=500.00&toprice=100000.00&fromprice=500.00&toprice=100000.00" id="foo_white">Rare Coin Auctions</a></li>
										<li><a href="{http_server}main.php?cmd=grading" id="foo_white">Coin Grading</a></li>
										<li><a href="{http_server}CoinPrices" id="foo_white">Coin Auction Archive</a></li>
										<li><a href="{http_server}record_coin_prices.php" id="foo_white">Record Coin Prices</a></li>
										<li><a href="{http_server}main-shows" id="foo_white">Coin Shows</a></li>
		
        							</if>		
								</div> 
							</td>
							<td valign="top">
								<div id="f_tit3">News</div>
		
								<div id="refood3" >
									<ul style="padding-left: 3.5%;">
										{motd_list}
									</ul>
									<div style="height: 8px;"></div>
									<a href="{http_server}kb/GreatCollections-News-18-2.html" id="foo_white"><strong>View All Coin News</strong></a>
								</div>	 
							</td>
						</tr>
					</tbody>
				</table>
		
	
	 <!-- <div id="f_box1" style="width:200px;">
	 	<div id="f_tit">About GreatCollections</div>
		<div id="refood">
			        
                <if condition="$ilconfig['globalauctionsettings_seourls']">
                    <li><a href="{http_server}main-about" id="foo_white">Our Company</a></li>
					<li><a href="{http_server}main-why-greatcollections" id="foo_white">Why Use GreatCollections?</a></li>
					<li><a href="{http_server}larryking" id="foo_white">Larry King Interviews</a></li>
					<li><a href="{http_server}larryking" id="foo_white">Owner of GreatCollections</a></li>
					<li><a href="{http_server}greatcollections-vs-ebay" id="foo_white">GreatCollections Vs. eBay</a></li>					 
                    <li ><a href="{http_server}main-promise" id="foo_white">Trust GreatCollections</a></li>
					<li ><a href="{http_server}testimonials.php" id="foo_white">Reviews & Testimonials about GreatCollections</a></li>
					<li><a href="{http_server}main-shows" id="foo_white">Coin Shows We Attend</a></li>
					<li><a href="{http_server}main.php?cmd=grading" id="foo_white">PCGS/NGC Coin Grading</a></li>
                    <li><a href="{http_server}main-contact" id="foo_white">Contact Us</a></li>
                    <li><a href="http://www.facebook.com/greatcollections" id="foo_white">Facebook,</a>&nbsp; <a href="http://twitter.com/greatcollection" id="foo_white">Twitter,</a>&nbsp; <a href="{http_server}rss.php" id="foo_white">RSS</a></li>
				   <li><a href="http://google.com/+Greatcollections" id="foo_white">Google+</a></li>
                   <li><a href="{http_server}main-terms" id="foo_white">Terms & Conditions</a></li>
                   <li><a href="{http_server}main-privacy" id="foo_white">Privacy Statement</a></li>
                <else />
				    <li><a href="{http_server}main.php?cmd=about" id="foo_white">Our Company</a></li>
                    <li><a href="{http_server}main.php?cmd=why-greatcollections" id="foo_white">Why Use GreatCollections?</a></li>
					<li><a href="{http_server}larryking" id="foo_white">Larry King Interviews</a></li>
					<li><a href="{http_server}larryking" id="foo_white">Owner of GreatCollections</a></li>
					<li><a href="{http_server}greatcollections-vs-ebay" id="foo_white">GreatCollections Vs. eBay</a></li>
                    <li ><a href="{http_server}main.php?cmd=promise" id="foo_white">Trust GreatCollections</a></li>
                    <li><a href="{http_server}main-contact" id="foo_white">Contact Us</a></li>             
                    <li><a href="http://www.facebook.com/greatcollections" id="foo_white">Facebook,</a>&nbsp; <a href="http://twitter.com/greatcollection" id="foo_white">Twitter,</a>&nbsp; <a href="{http_server}rss.php" id="foo_white">RSS</a></li>
                    <li><a href="http://google.com/+Greatcollections" id="foo_white">Google+</a></li>
                    
                    <li><a href="{http_server}main-terms" id="foo_white">Terms & Conditions</a></li>
                    <li><a href="{http_server}main-privacy" id="foo_white">Privacy Statement</a></li>
                </if>
			
		</div>	 
	 </div> -->
	 
	 
	 <!-- <div id="f_box1" style="width:240px;">
	 	<div id="f_tit">Bid / Buy</div>
		
		<div id="refood">
			<if condition="$ilconfig['globalauctionsettings_seourls']">
				<li><a href="{http_server}main-through" id="foo_white">Bidding/Buying at GreatCollections</a></li>
				<li><a href="{http_server}kb/Shipping-Fees-and-Methods-t86-4.html" id="foo_white">Shipping Information</a></li>
				<li><a href="{http_server}kb/Useful-Information-For-New-Members-17-2.html" id="foo_white">New Member Information</a></li>
				<li><a href="{http_server}main-paymonth" id="foo_white">Extended Payment Plan</a></li>
           
            <else />
                <li><a href="{http_server}main.php?cmd=through" id="foo_white">Bidding/Buying at GreatCollections</a></li>
				<li><a href="{http_server}kb/Shipping-Fees-and-Methods-t86-4.html" id="foo_white">Shipping Information</a></li>
				<li><a href="{http_server}kb/Useful-Information-For-New-Members-17-2.htm" id="foo_white">New Member Information</a></li>
				<li><a href="{http_server}main.php?cmd=paymonth" id="foo_white">Extended Payment Plan</a></li>
            
            </if>
                  
			
		</div>	 
		 
		  <br />
		<div id="f_tit">Sell / Consign</div>
		
		<div id="refood">
			<if condition="$ilconfig['globalauctionsettings_seourls']">
				 <li><a href="{http_server}main-sell" id="foo_white">Selling Coins through GreatCollections</a></li>
				 <li><a href="{http_server}selling-instructions" id="foo_white">Instructions for Consigning</a></li>
				 <li><a href="{http_server}coin_appraisal.php" id="foo_white">Free Coin Appraisal</a></li>
				 <li><a href="{http_server}kb/Grade-and-Auction-Program-for-Raw-Coins-t152-4.html?se=Grade%20and%20Auction%20Program" id="foo_white">Grade and Auction Program</a></li>
				 <li><a href="{http_server}kb/Instant-Cash-Advances-for-Your-Coins-t224-4.html" id="foo_white">Cash Advances</a></li>
				<li><a href="{http_server}main-consignment" id="foo_white">Consignment Forms</a></li>
            <else /> 
                 <li><a href="{http_server}main.php?cmd=sell" id="foo_white">Selling Coins through GreatCollections</a></li>
				 <li><a href="{http_server}main.php?cmd=selling-instructions" id="foo_white">Instructions for Consigning</a></li>
				 <li><a href="{http_server}coin_appraisal.php" id="foo_white">Free Coin Appraisal</a></li>
				 <li><a href="{http_server}kb/Grade-and-Auction-Program-for-Raw-Coins-t152-4.html?se=Grade%20and%20Auction%20Program" id="foo_white">Grade and Auction Program</a></li>
				 <li><a href="{http_server}kb/Instant-Cash-Advances-for-Your-Coins-t224-4.html" id="foo_white">Cash Advances</a></li>
				 <li><a href="{http_server}main-consignment" id="foo_white">Consignment Forms</a></li>   
			</if>	
			
		</div>	  -->

		<!--<script>
 
//Browser Support Code
function ajaxFunctionfooter(){
	
    var ajaxRequest;  // The variable that makes Ajax possible!
    
    try{
        // Opera 8.0+, Firefox, Safari
        ajaxRequest = new XMLHttpRequest();
    } catch (e){
        // Internet Explorer Browsers
        try{
            ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
        } catch (e) {
            try{
                ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
            } catch (e){
                // Something went wrong
                alert("Your browser broke!");
                return false;
            }
        }
    }
    // Create a function that will receive data sent from the server
    ajaxRequest.onreadystatechange = function(){
        if(ajaxRequest.readyState == 4){
            var ajaxDisplay = document.getElementById('ajaxDivsubscribe');
            var sub1 = ajaxDisplay.innerHTML = ajaxRequest.responseText;

            
             if (sub1 == "Enter the email Address") 
            {
                document.getElementById('ajaxDivsubscribe').innerHTML = "<img src='images/error.png'/> Enter the email Address.";
                document.getElementById('ajaxDivsubscribe').style.color = '#FF6A51'
                // alert("Enter the email Address.");
                return false;
            }
            else if(sub1 == "Enter Valid Email Address")
            {
                document.getElementById('ajaxDivsubscribe').innerHTML = "<img src='images/error.png'/> Enter Valid Email Address.";
                document.getElementById('ajaxDivsubscribe').style.color = '#FF6A51'
                // alert("Enter Valid Email Address.");
                return false;
            }
            else if(sub1 == "Already Existing Email Address")
            {
                document.getElementById('ajaxDivsubscribe').innerHTML = "<img src='images/error.png'/> You have already subscribed to our Newsletter.";
                document.getElementById('ajaxDivsubscribe').style.color = '#FF6A51'
                // alert("You have already subscribed to our Newsletter.");
                return false;
            }
            else if(sub1 == "Email address subscribed successfully")
            {
                document.getElementById('ajaxDivsubscribe').innerHTML = "Email address subscribed successfully";
                document.getElementById('ajaxDivsubscribe').style.color = '#06FF00'
                // alert("Email address subscribed successfully.");
                document.getElementById('ufehx').value = "";
                return false;
            }

        }
    }
    var subscribe = document.getElementById('ufehx').value; 
    var queryString = "?ufehx=" + subscribe;
     ajaxRequest.open("GET", "/subscribe-ajax.php" + queryString, true);
    ajaxRequest.send(null); 
}

//
function Functionfooter() 
{ 

document.onkeypress = stopEnterKey;
	 
} 
 function stopEnterKey(evt) {
        var evt = (evt) ? evt : ((event) ? event : null);
        var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
        if ((evt.keyCode == 13) && (node.type == "text") && (node.name == "ufehx") ) { 
        	
ajaxFunctionfooter();


        	return false; }
    	}
</script>-->
		<!-- <br />
		<div id="f_tit">Newsletter</div>
		
		<div id="refood" style="height:103px;clear:both;">
	        <li>           
	        	<form   name="request_subscribe" id="request_subscribe">
		            <div id="ajaxDivsucesssubscribe">
			        	<div><input type="text" onkeydown='Functionfooter();' class="subs" name="ufehx"  id="ufehx" placeholder="&nbsp;Enter Email Address"/></div>
			        	<div style="padding-top: 10px;padding-right: 16px;">
			        	<input type="button" class="styled-button-1" onclick="return ajaxFunctionfooter()" id="submit1"  name="submit_subscrib" value="Subscribe"    /> 
			        	</div>
		        	</div>
	          	</form>
	        </li>
	        <li>
	        	<span  style="color:#FF0000;"><p id="ajaxDivsubscribe" style="margin-top:0px; clear:both;font-size:14px;" ></p></span>
	        </li>
        </div> 
        <div style="clear:both;"></div>	 
	 </div> -->	 
	 
	 
	 <!-- <div id="f_box1" style="width:180px;">
	 	<div id="f_tit">Coins</div>
		
		<div id="refood">
		<if condition="$ilconfig['globalauctionsettings_seourls']">	
           <li><a href="{http_server}featured-coin-auction.php" id="foo_white">Featured Coin Auctions</a></li>
           <li><a href="{http_server}hotlist.php" id="foo_white">The GC HotList</a></li>
			<li><a href="{http_server}search.php?mode=product&sort=01&auction=1&fromprice=500.00&toprice=100000.00&fromprice=500.00&toprice=100000.00" id="foo_white">Rare Coin Auctions</a></li>
			<li><a href="{http_server}search.php?q=Toned&mode=product&sort=01" id="foo_white">Toned Coins</a></li>
			<li><a href="{http_server}search.php?q=CAC&mode=product&sort=01" id="foo_white">CAC Coins</a></li>
			<li><a href="{http_server}search.php?q=WINGS&mode=product&sort=01" id="foo_white">WINGS World Coins</a></li>
			<li><a href="{http_server}pcgs-70-coins" id="foo_white">PCGS MS-70/Proof-70 Coins</a></li>			
			<li><a href="{http_server}ngc-70-coins" id="foo_white">NGC MS-70/Proof-70 Coins</a></li>
			<li><a href="{http_server}MS-67-coins" id="foo_white">PCGS/NGC MS-67 Coins</a></li>
			<li><a href="{http_server}vams" id="foo_white">VAM Silver Dollars</a></li>
			<li><a href="{http_server}randomauction.php" id="foo_white">Random Coin Auction</a></li>
			<li><a href="{http_server}search.php?q=China&mode=product&sort=01" id="foo_white">Chinese Coins </a></li>

			</div>
			<br />
			<div id="f_tit">Coins Sold by GreatCollections</div>
			<br />
			<div id="refood">		
			
				<li><a href="{http_server}young-collection" id="foo_white" style="white-space: nowrap;">Young Commem Collection</a></li>		
				<li><a href="{http_server}CoinPrices" id="foo_white">Coin Auction Archive</a></li>
				<li><a href="{http_server}record_coin_prices.php" id="foo_white">Record Coin Prices</a></li>
				<li><a href="{http_server}cac_non_cac.php" id="foo_white">CAC Price Comparisons</a></li>
			</div>
            
        <else />      
            
            <li><a href="{http_server}featured-coin-auction.php" id="foo_white">Featured Coin Auctions</a></li>
	        <li><a href="{http_server}randomauction.php" id="foo_white">Random Coin Auction</a></li>
	        <li><a href="{http_server}hotlist.php" id="foo_white">The GC HotList</a></li>
		<li><a href="{http_server}search.php?mode=product&sort=01&auction=1&fromprice=500.00&toprice=100000.00&fromprice=500.00&toprice=100000.00" id="foo_white">Rare Coin Auctions</a></li>
		<li><a href="{http_server}main.php?cmd=grading" id="foo_white">Coin Grading</a></li>
		<li><a href="{http_server}CoinPrices" id="foo_white">Coin Auction Archive</a></li>
		<li><a href="{http_server}record_coin_prices.php" id="foo_white">Record Coin Prices</a></li>
		<li><a href="{http_server}main-shows" id="foo_white">Coin Shows</a></li>
		
        </if>		
			
		</div>	  -->
	 
	 
	
	 
	 
	 
	 
	 <!-- <div id="f_box1" style="width:280px;">
	 	<div id="f_tit">News</div>
		
		<div id="refood" >
			
				{motd_list}
				
				<li><a href="{http_server}kb/GreatCollections-News-18-2.html" id="foo_white">View All Coin News</a></li>
			
		</div>	 
	 </div> -->
	
	</div>
	 
	
  </div>
  
  
  
			</div>
		<!--meeran End code-->
		
	
		
<!-- This clearing element should immediately follow the #mainContent div in order to force the #container div to contain all child floats -->
        <br class="clearfloat" />
        <div style="height:15px;">&nbsp;</div>  
			  
        <div  id="certification" style="width:960px;margin-left:20px;padding-left:0px; padding-right:0px;"> <!--meeran Changes jan25,2012 then li changes -->
        	<if condition="$ilconfig['globalauctionsettings_seourls']">
<li style="padding-left:0px;padding-right:8px;"><a href="{http_server}main-PCGS">
	<img src="{https_server}images/gc/pcgs_coins.jpg" title="PCGS Certified Coins and Coin Grading at GreatCollections"  alt="PCGS Certified Coins and Coin Grading at GreatCollections" /></a></li>
<li style="padding-left:0px;padding-right:8px;"><a href="{http_server}main-NGC">
	<img src="{https_server}images/gc/ngc_coins.jpg" title="NGC Certified Coins and Coin Grading at GreatCollections" alt="NGC Certified Coins and Coin Grading at GreatCollections" /></a></li>
<li style="padding-left:0px;padding-right:8px;"><a href="{http_server}main-ANACS">
	<img src="{https_server}images/gc/anacs_coins.jpg" title="ANACS Certified Coins and Coin Grading at GreatCollections"  alt="ANACS Certified Coins and Coin Grading at GreatCollections" /></a></li>
<li style="padding-left:0px;padding-right:8px;"><a href="{http_server}main-FUN">
	<img src="{https_server}images/gc/fun_coins.jpg" title="GreatCollections attends the FUN Coin Show, produced by Florida United Numismatists" alt="GreatCollections attends the FUN Coin Show, produced by Florida United Numismatists" /></a></li>
<li style="padding-left:0px;padding-right:8px;"><a href="{http_server}main-ANA">
	<img src="{https_server}images/gc/ana_coins.jpg" title="GreatCollections are proud members of the ANA and attends all ANA Coin Shows" alt="GreatCollections are proud members of the ANA and attends all ANA Coin Shows" /></a></li>
<li style="padding-left:0px;padding-right:8px;"><a href="{http_server}main-CAC">
	<img src="{https_server}images/gc/cac_coins.jpg" title="GreatCollections offers certified coins approved by CAC and also submits coins to CAC on behalf of consignors"  alt="GreatCollections offers certified coins approved by CAC and also submits coins to CAC on behalf of consignors" /></a></li>
<li style="padding-left:0px;padding-right:8px;"><a href="{http_server}main-NAA">
<li style="padding-left:0px;padding-right:8px;">
	<a href="{http_server}main-WINGS">
	<img src="{https_server}images/gc/wings.jpg" title="GreatCollections are proud members of the WINGS and attends all WINGS Coin Shows"  alt="GreatCollections are proud members of the WINGS and attends all WINGS Coin Shows" />
	</a>
	</li>	
<else />

<li style="padding-left:0px;padding-right:8px;"><a href="{http_server}main.php?cmd=PCGS">
	<img src="{https_server}images/gc/pcgs_coins.jpg" title="PCGS Certified Coins and Coin Grading at GreatCollections"  alt="PCGS Certified Coins and Coin Grading at GreatCollections" /></a></li>
<li style="padding-left:0px;padding-right:8px;"><a href="{http_server}main.php?cmd=NGC">
	<img src="{https_server}images/gc/ngc_coins.jpg" title="NGC Certified Coins and Coin Grading at GreatCollections" alt="NGC Certified Coins and Coin Grading at GreatCollections" /></a></li>
<li style="padding-left:0px;padding-right:8px;"><a href="{http_server}main.php?cmd=ANACS">
	<img src="{https_server}images/gc/anacs_coins.jpg" title="ANACS Certified Coins and Coin Grading at GreatCollections" alt="ANACS Certified Coins and Coin Grading at GreatCollections" /></a></li>
<li style="padding-left:0px;padding-right:8px;"><a href="{http_server}main.php?cmd=FUN">
	<img src="{https_server}images/gc/fun_coins.jpg" title="GreatCollections attends the FUN Coin Show, produced by Florida United Numismatists" alt="GreatCollections attends the FUN Coin Show, produced by Florida United Numismatists" /></a></li>
<li style="padding-left:0px;padding-right:8px;"><a href="{http_server}main.php?cmd=ANA">
	<img src="{https_server}images/gc/ana_coins.jpg" title="GreatCollections are proud members of the ANA and attends all ANA Coin Shows" alt="GreatCollections are proud members of the ANA and attends all ANA Coin Shows" /></a></li>
<li style="padding-left:0px;padding-right:8px;"><a href="{http_server}main.php?cmd=CAC">
	<img src="{https_server}images/gc/cac_coins.jpg" title="GreatCollections offers certified coins approved by CAC and also submits coins to CAC on behalf of consignors" alt="GreatCollections offers certified coins approved by CAC and also submits coins to CAC on behalf of consignors" /></a></li>
				<li style="padding-left:0px;padding-right:8px;">
					<a href="{http_server}main.php?cmd=WINGS">
						<img src="{https_server}images/gc/wings.jpg" title="GreatCollections are proud members of the WINGS and attends all WINGS Coin Shows"  alt="GreatCollections are proud members of the WINGS and attends all WINGS Coin Shows" />
					</a>
				</li>
			</if>
        </div>

	<br class="clearfloat" />
		<!-- kumaravel bug id #4336-->
	<if condition="$ilconfig['globalauctionsettings_seourls']">		
		<div align='center' id="certification" style="width:960px;margin-left:20px;padding-left:0px; padding-right:0px;"> 
				<li style="padding-left:0px;padding-right:8px;">
					<a href="{http_server}main-ICTA">
						<img src="{https_server}images/gc/icta.jpg" title="GreatCollections are proud members of the ICTA and attends all ICTA Coin Shows"  alt="GreatCollections are proud members of the ICTA and attends all ICTA Coin Shows" />
					</a>
				</li>
				<li style="padding-left:0px;padding-right:8px;">
					<a href="{http_server}main-NAA">
						<img src="{https_server}images/gc/naa_coins.jpg" title="GreatCollections is a proud member of the National Auctioneers Association"  alt="GreatCollections is a proud member of the National Auctioneers Association" />
					</a>
				</li>	
				<li style="padding-left:0px;padding-right:8px;">
					<a href="{http_server}larryking">
						<img src="{https_server}images/gc/Larry_King.jpg" title="Larry King Interviews Ian Russell Owner/President of GreatCollections"  alt="Larry King Interviews Ian Russell Owner/President of GreatCollections" />
					</a>
				</li>
 
        </div>
        <else />
		<div align='center' id="certification" style="width:960px;margin-left:20px;padding-left:0px; padding-right:0px;"> 
				<li style="padding-left:0px;padding-right:8px;">
					<a href="{http_server}main.php?cmd=ICTA">
						<img src="{https_server}images/gc/icta.jpg" title="GreatCollections are proud members of the ICTA and attends all ICTA Coin Shows"  alt="GreatCollections are proud members of the ICTA and attends all ICTA Coin Shows" />
					</a>
				</li>
				<li style="padding-left:0px;padding-right:8px;">
					<a href="{http_server}main.php?cmd=NAA">
						<img src="{https_server}images/gc/naa_coins.jpg" title="GreatCollections is a proud member of the National Auctioneers Association"  alt="GreatCollections is a proud member of the National Auctioneers Association" />
					</a>
				</li>
				<li style="padding-left:0px;padding-right:8px;">
					<a href="{http_server}larryking">
						<img src="{https_server}images/gc/Larry_King.jpg" title="Larry King Interviews Ian Russell Owner/President of GreatCollections"  alt="Larry King Interviews Ian Russell Owner/President of GreatCollections" />
					</a>
				</li>
 
        </div>        
    </if>
        <!-- kumaravel bug id #4336-->
        
		
        
        
        
        <div>
		<br class="clearfloat" />
		<div style="height: 40px; width:940px; margin-left:20px;">
			
		<div style="float:left;">
			<if  condition="$ilconfig['globalauctionsettings_seourls']">
			<a href="{http_server}main-promise">  <div style="float:left; width: 145px" id="text_op">Trust GreatCollections</div></a>
			<else />
			<a href="{http_server}main.php?cmd=promise">  <div style="float:left;  width: 145px" id="text_op">Trust GreatCollections</div></a>
			</if>
		</div>
		<div id="text_op" align="center" style="width: 540px;float:left;">GreatCollections {_official_time}: {official_time}</div>
		<div style="float:right"><script type="text/javascript" src="https://seal.thawte.com/getthawteseal?host_name=www.greatcollections.com&amp;size=S&amp;lang=en"></script></div>
		
		</div>
		
		
               
        
        <if   condition="$ilconfig['globalauctionsettings_seourls']">
		<div align="center" id="text_copy" style="margin-top:5px;">{_gc_address}&nbsp;<a href="{http_server}main-contact">Contact Us.</a></div>
		<else />
		<div align="center" id="text_copy" style="margin-top:5px;">{_gc_address}&nbsp;<a href="{http_server}main-contact">Contact Us.</a></div>&nbsp;<a href="{http_server}main-contact">Contact Us.</a></div>
		</if>
		
		<if   condition="$ilconfig['globalauctionsettings_seourls']">
		<div  align="center" id="text_copy">&copy; Copyright 2010-2017, GreatCollections.com, LLC. Use of this website constitutes acceptance of the GreatCollections <a href="{http_server}main-terms">User Agreement</a> and <a href="{http_server}main.php?cmd=privacy">Privacy Policy</a>.</div>
		<else />
		<div  align="center" id="text_copy">&copy; Copyright 2010-2016, GreatCollections.com, LLC. Use of this website constitutes acceptance of the GreatCollections <a href="{http_server}main.php?cmd=terms">User Agreement</a> and <a href="{http_server}main.php?cmd=privacy">Privacy Policy</a>.</div>
		</if>
		
		<div  align="center" id="text_copy">GreatCollections&reg; is a Registered Trademark of GreatCollections.com, LLC.</div>
		
		</div>
        
                  
        
    </div><!--width end-->
    
    
    		
</div><!--footer end-->	





<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-15237224-1']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>	
	
<a class="scrollup" href="#"></a>