<div id="v3body4">
	<div id="content">
	
		<div class="header"> Add Specially Toned Coins</div><br />

		<!-- tab pane -->
		<div class="tab-pane">

		<div class="tab-page">
				<form method="post" action="add_spltoned.php" 	accept-charset="UTF-8" name="ilform_add_hotlist">
				
					<input type="hidden" name="cmd" value="add_spltoned">
					<div class="block-wrapper">
						<div class="block3">
						
							<div class="block3-top">
								<div class="block3-right">
									<div class="block3-left"></div>
								</div>
							</div>
							 <div class="block3-header">Add Specially Toned Coins in Live</div>
						
			
							<div class="block3-content-gray" style="padding:9px"><div class="smaller">You can Add multiple coins for the Specially Toned Coins.</div></div>
							
							<div class="block3-content" style="padding: 0px 0px 0px 10px;">
								<br>
								<table width="100%" border="0" >
									<tr><td>Paste here the item ids seperated each other by <strong>comma</strong> <br>
									OR you can you use a range my mentioning x <strong>to</strong> y, for ex., 23330 to 23340<br>
										</td></tr>
									<tr><td><textarea id="coin_list" name="coin_list" cols="50" rows="5">{coin_list}</textarea></td></tr>
									<tr>
									</tr>	
								</table>
								
								<br>
								<input type="submit" name="Submit" Value="Submit"  style="margin-left: 183px;">
							</div>
							
							 
							<div class="block3-footer">
								<div class="block3-right">
									<div class="block3-left"></div>
								</div>
							</div>
							
						</div>
					</div>
					
				</form>
			</div>

	
		</div>
		<!-- / tab pane -->
		
	</div>
	
</div>	
