 <script src="{https_server}banner/jquery-1.11.1.min.js" type="text/javascript"></script>
 
<script type="text/javascript">
$(document).ready(function() {
 
 if(window.File && window.FileList && window.FileReader) {
 $("#files").on("change",function(e) {
 var files = e.target.files ,
 filesLength = files.length ;
 for (var i = 0; i < filesLength ; i++) {
 var f = files[i]
 var fileReader = new FileReader();
 fileReader.onload = (function(e) {
 var file = e.target;
 $("<img></img>",{
 class : "imageThumb",
 src : e.target.result,
 title : file.name
 }).insertAfter("#files");
 });
 fileReader.readAsDataURL(f);
 }
});
 } else { alert("Your browser doesn't support to File API") }
});
 
  
 
</script>
<style type="text/css">
input[type="file"] {
 
 display:block;
}
.imageThumb {
 max-height: 75px;
 border: 2px solid;
 margin: 10px 10px 0 0;
 padding: 1px;
 }
</style>

<div id="v3body4"> 
	<div id="content" style="width: 852px;">
		<div class="header"> Multiple Banners Upload</div><br />
		<div class="tab-pane">
			<div class="tab-page">
				<h2 class="tab">Banners</h2>
				 
				
					<input type="hidden" name="cmd" value="change_bids">
					<div class="block-wrapper">
						<div class="block3">
						
							<div class="block3-top">
								<div class="block3-right">
									<div class="block3-left"></div>
								</div>
							</div>
							
							<div class="block3-header">Multiple Banners Upload</div>
							<div class="block3-content-gray" style="padding:9px"><div class="smaller">You can Upload Multiple Banners for the items. </div></div>
							
							<div class="block3-content" style="padding: 0px 40px 0px 40px;">
							 
								<table width="100%" border="0" >
									<tr>
									<td>
										<div>
											<div class="upload_div">
										    <form method="post" name="multiple_upload_form" id="multiple_upload_form" enctype="multipart/form-data" action="banner.php">
								            <h2>Multiple Banner upload</h2>
								            <h5><img src="{https_server}banner/banner.jpg"/> </h5>
                                            <input type="file" id="files" name="files[]" multiple /> 
								            <h2><input type="submit" name="image_form_submit" value="submit"/> </h2>
										    </form>
										    </div>
										    <div class="gallery" id="images_preview"></div>
										</div> 
									</td>										 
									</tr> 
 
								</table>								 
 							</div>							
							<div class="block3-footer">
								<div class="block3-right">
									<div class="block3-left" style="height: 0px;"></div>
								</div>
							</div>
							
						</div>
					</div>
			</div> 
		</div>
	</div>
</div>
