		
<div id="v3body4">
<!-- begin content -->
<div id="content">
<div class="header">Cancel Sale</div>
<br />
	
 				
				 
						<div class="block">		
								<div class="block-top">
									<div class="block-right">
											<div class="block-left"></div>
									</div>
								</div>
								<div class="block-header">Cancel Sale and move items to 1111</div>
								<div class="block-content" style="padding:0px">
								<form name="ilform" action="" method="post" accept-charset="UTF-8" style="margin: 0px;" >
						  		<input type="hidden" name="cmd" value="cancel_sale" />
								<input type="hidden" name="step" value="1" />
								<table align="center" border="0" cellspacing="{table_cellspacing}" cellpadding="12">
								<tr><td>List of emails line seperated</td><td>
								<textarea name="email"></textarea></td></tr><tr><td>Ban user?</td><td>
								<input type="checkbox" name="banuser" value="1" checked="checked"></td>
								<tr>
								<td colspan="2" align="center">
								<input type="submit" class="buttons" value=" {_cancel} " name="print" style="font-size:15px" />
								 
								</td>
								</tr>
								</table>
								</form>
								</div>
								<div class="block-footer">
									<div class="block-right">
										<div class="block-left"></div>
									</div>
								</div>
							</div>
					 
							 
						
						
 
</div>
</div>								