<script type="text/javascript">
function validate()
{

	if((document.getElementById("project_id").value==''))
	{
		alert('Please enter Project id/ coin id');
		return false;
	}
	
	else
	{
		return true;
	}
}
</script>
<!-- begin v3body4 -->
<div id="v3body4">
<!-- sub navigation -->
<div id="sub">
	<div id="subnav">
		<a href="listings.php"><span>Holding</span></a>
		<a href="listings.php?cmd=all_listing"><span>Affiliate listing</span></a> 
		<a href="listings.php?cmd=item_won"><span>Item Won</span></a> 
		<a href="listings.php?cmd=all_list_can" ><span>All Cancel Sale</span></a> 
		<a href="listings.php?cmd=search_coin" ><span>listed in gc</span></a> 
		<a href="coins_search.php"  class="sel"><span>Coins Search</span></a> 
	</div>
</div>
<!-- /sub navigation -->

<!-- begin content -->
<div id="content">
<div class="header">Coins Search</div><br />
	
	
	<!-- tab pane -->
	<div class="tab-pane">
	
			
		<!-- grading tab page -->
		<div class="tab-page">
			
			<h2 class="tab">Coins Search</h2>
			    
				
				
                   
					
					<div class="block-wrapper">
                    <div class="block3">
                    
                            <div class="block3-top">
                                    <div class="block3-right">
                                            <div class="block3-left"></div>
                                    </div>
                            </div>
                            
                            <div class="block3-header">Coins Search</div>
                            <div class="block3-content-gray" style="padding:9px"><div class="smaller">You can Search Coins using the following form below</div></div>
                            <div class="block3-content" style="padding:0px">
                                <form method="post" action="coins_search.php" id="search" accept-charset="UTF-8" style="margin: 0px; padding-bottom:12px;" onsubmit="return validate();">	
									<input type="hidden" name="cmd" value="coins_search"/>
							
								<table width="100%" border="0" cellspacing="{table_cellspacing}" cellpadding="{table_cellpadding}">
                                <tr class="alt1">
                                  <td width="10%"><span class="gray">Project id/Coin id</span>
                                  <td width="90%">
								  <input type="text" name="project_id" value="" style="font-family: Verdana" maxlength="100" size="50">                                       
										</td>
                                </tr>
								<tr>
                                  <td colspan="2"><div id="sitvalue"><input type="submit" class="buttons" value=" {_search} "  style="font-size:15px" /></div></td> 
                                  </tr>
								</table>
                               </form>
                               							
                            </div>
                            
                            <div class="block3-footer">
                                    <div class="block3-right">
                                            <div class="block3-left"></div>
                                    </div>
                            </div>
                            
                    </div>
                </div>
				   
					
				
						      <if condition="isset($show_certificationnumber_search) and ($show_certificationnumber_search==1)">
									
									
									
											<div class="block-wrapper">
											<div class="block3">
											<div class="block3-top">
											<div class="block3-right">
											<div class="block3-left"></div>
											</div>
											</div>						
											<div class="block3-header">List</div>

											<div class="block3-content" style="padding:0px">
											<table cellpadding="{table_cellpadding}" cellspacing="{table_cellspacing}" border="0" width="100%" align="center">
																	
																			
																	
																		<if condition="isset($total_n) AND $total_n==true">	
																			<tr class="alt2">
																				<td>Coin id</td>
																				<td>Title</td>
																				<td>Create Date</td>
																				<td>Seller Name</td>
																				<td>Seller email</td>
																				<td>Price</td>
																				<td>Type</td>
																				<td>Invoice number</td>
																				<td>Minbid/Buy</td>
																				<td>Listing Fees</td>
																				<td>Buyer Name</td>
																				<td>Buyer email</td>
																				<td>Buyer Fee</td>
																				<td>Relist Count</td>
																				<td>Sold Date</td>
																				<td>End Date</td> 
																				<td>Returned</td>
																				<td>Date Returned</td> 
																			</tr>
																		
																			<loop name="listpagesld">
																				<tr class="alt1">
																					<td>{pro_project_id}</td>
																					<td>{project_title}</td>
																					<td>{Create_Date}</td>
																					<td>{seller_name1}</td>
																					<td>{seller_email}</td>
																					<td>{currentprice}</td>
																					<td class="smaller blue">{bids}</td>
																					<td>{invoiceid}</td>
																					<td>{startprice}</td>
																					<td>{insertionfee}</td>
																					<td>{buyer_name}</td>
																					<td>{buyer_email}</td>
																					<td>{buyer_fee}</td>
																					<td>{relist_count}</td>
																					<td>{paiddate}</td>
																					<td>{date_end}</td>
																					<td>{return}</td>
																					<td>{returndate}</td>
																				</tr>
																			</loop name="listpagesld"> 
																		</if>
																		<if condition="isset($total_n) AND $total_n==false">
																			<tr class="alt1">
																				<td  align="center" ><strong>You've no coins in this Coin id.</strong></td>
																			</tr>
																		</if>

																	
																	
																</table>	 
											</div>
											<div class="block3-footer">
											<div class="block3-right">
											<div class="block3-left"></div>
											</div>
											</div>
											</div>
											</div>
									
										
										
										<!--	<div class="block-wrapper">
											<div class="block3">
											<div class="block3-top">
											<div class="block3-right">
											<div class="block3-left"></div>
											</div>
											</div>	
											<div class="block3-header">Un Sold</div>

											<div class="block3-content" style="padding:0px">
											 <table cellpadding="{table_cellpadding}" cellspacing="{table_cellspacing}" border="0" width="100%" align="center">
																	
																			
																	
																		<if condition="isset($total_num) AND $total_num==true">	
																			<tr class="alt2">
																				<td>Coin id</td>
																				<td>Seller Name</td>
																				<td>Title</td>
																				<td>Price</td>
																				<td>Type</td>
																				<td>Date Added</td> 
																				<td>Date End</td> 
																			</tr>
																		
																			<loop name="listpage">
																				<tr class="alt1">
																					<td>{project_id}</td>
																					<td>{seller_name1}</td>
																					<td>{project_title}<br>{description}<br> <if condition="isset($show['proxy']) AND $show['proxy']==true">
																					
																					 {proxybit}
																					
																					</if></td>
																					<td>{currentprice}</td>										
																					<td class="smaller blue">{bids}</td>
																					<td>{date_added}</td>
																					<td>{date_end}</td>
																				</tr>
																			</loop name="listpage">
																		</if>
																		<if condition="isset($total_num) AND $total_num==false">
																			<tr class="alt1">
																				<td  align="center" ><strong>You've no  item in this coin id.</strong></td>
																			</tr>
																		</if>

																	
																	
																</table>
											</div>
											<div class="block3-footer">
											<div class="block3-right">
											<div class="block3-left"></div>
											</div>
											</div>
											</div>
											</div>-->
										
												
									</if>
								                           			
                  			
					{prof2}	
                        </div>
                        
                       
						<div class="block3-footer">
								<div class="block3-right">
										<div class="block3-left"></div>
								</div>
						</div>
						
				</div>
			</div>
         
			
	  </div>
		<!-- / grading tab page -->
		
		
		
</div>
<!-- / tab pane -->
