<script type="text/javascript">
function validate()
{
	sear_val = document.getElementById("project_id").value;
	if(sear_val == '')
	{
		alert('Please enter Project id/ coin id');
		return false;
	}
	
	else
	{
		return true;
	}
}
</script>
<!-- begin v3body4 -->
<div id="v3body4">


<!-- begin content -->
<div id="content">
<div class="header">Coins Search</div><br />
	
	
	<!-- tab pane -->
	<div class="tab-pane">
	
			
		<!-- grading tab page -->
		<div class="tab-page">
			
			<h2 class="tab">Coins Search</h2>
			    
				
				
                   
					
					<div class="block-wrapper">
                    <div class="block3">
                    
                            <div class="block3-top">
                                    <div class="block3-right">
                                            <div class="block3-left"></div>
                                    </div>
                            </div>
                            
                            <div class="block3-header">Coins Search</div>
                            <div class="block3-content-gray" style="padding:9px"><div class="smaller">You can Search the Coins listed in projects using the following form below</div></div>
                            <div class="block3-content" style="padding:0px">
                                <form method="post" action="coins_search_5267.php" id="search" accept-charset="UTF-8" style="margin: 0px; padding-bottom:12px;" onsubmit="return validate();">	
									<input type="hidden" name="cmd" value="coins_search"/>
							
								<table width="100%" border="0" cellspacing="{table_cellspacing}" cellpadding="{table_cellpadding}">
                                <tr class="alt1">
                                  <td width="10%"><span class="gray">Coin id:</span>
                                  <td width="90%">
								  <input type="text" name="project_id"  id ="project_id" value="{projec_id}" style="font-family: Verdana" maxlength="100" size="50">                                       
										</td>
                                </tr>
								<tr>
                                  <td colspan="2"><div id="sitvalue"><input type="submit" class="buttons" value=" {_search} "  style="font-size:15px" /></div></td> 
                                  </tr>
								</table>
                               </form>
                               							
                            </div>
                            
                            <div class="block3-footer">
                                    <div class="block3-right">
                                            <div class="block3-left"></div>
                                    </div>
                            </div>
                            
                    </div>
                </div>
				   
					
				
						      <if condition="isset($show_coin_search) and ($show_coin_search==true)">
									
									
									
											<div class="block-wrapper">
											<div class="block3">
											<div class="block3-top">
											<div class="block3-right">
											<div class="block3-left"></div>
											</div>
											</div>						
											<div class="block3-header">List</div>

											<div class="block3-content" style="padding:0px">
											<table cellpadding="{table_cellpadding}" cellspacing="{table_cellspacing}" border="0" width="100%" align="center">
																	
																			
																	
																		<if condition="isset($showlist) AND $showlist==true">	
																			<tr class="alt2">
																				<td> </td>
																			
																				<td>Certification No</td>
																				<td>Alt Inven No</td>
																				<td>Pcgs No</td>
																				<td>Hammer Price</td>
																				<td>Type</td>
																				<td>Invoice number/Paid status</td>
																				<td>Minbid/Buy</td>
																				<td>Listing/Selling Fees</td>
																				<td>Buyer Fee</td>
																				<td>Price</td>
																				<td>Relist Count</td>
																				
																				
																			</tr>
																		
																			<loop name="coins_searched">
																				<tr class="alt1">
																					<td>GC Item ID:<strong>{item_id}</strong><br/><br/>
																					Listed  at:<strong>{listed_at}</strong><br/><br/>
																					Consignment ID:<strong>{consignid}</strong><br/><br/>
																					Title:<strong>{Title}</strong>
																					<br/><br/>Seller Name:<strong>{seller_name}</strong>
																					<br/><br/>Seller email:<strong>{seller_email}</strong>
																					<br/><br/>Create Date:<strong>{Create_Date}</strong>
																					<br/><br/>Buyer Name:<strong>{buyer_name}</strong><br/><br/>
																					Buyer email:<strong>{buyer_email}</strong><br/><br/>
																					Sold Date:<strong>{sold_date}</strong><br/><br/>
																					End Date:<strong>{End_Date}</strong><br/><br/>
																					Shipped:<strong>{shipped}</strong><br/><br/>
																					Date of Shipment:<strong>{shipped_date}</strong><br/><br/>
																					Tracking No:<strong>{track_no}</strong><br/><br/>
																					Returned:<strong>{returned}</strong><br/><br/>
																					Date Returned:<strong>{returned_date}</strong>
																					</td>
																					
																					<td><strong>{Certification_No}</strong></td>
																					<td><strong>{Alternate_inventory_No}</strong></td>
																					<td><strong>{pcgs}</strong></td>
																					<td><strong>{hammerprice}</strong></td>
																					<td class="smaller blue">{item_type}</strong></td>
																					<td><strong>{invoice_no}/{paid_status}</strong></td>
																					<td><strong>{mibid_or_buynow}</strong></td>
																					<td><strong>{listing_fee}/{fvf_fee}</strong></td>
																					<td><strong>{buyer_fee}</strong></td>
																					<td><strong>{currentprice} {quantity}</strong></td>
																					<td><strong>{relist_count}</strong></td>
																				</tr>
																			</loop name="coins_searched"> 
																		</if>
																		<if condition="isset($showlist) AND $showlist==false">
																			<tr class="alt1">
																				<td  align="center" ><strong>You've no coins in this Coin id.</strong></td>
																			</tr>
																		</if>

																	
																	
																</table>	 
											</div>
											<div class="block3-footer">
											<div class="block3-right">
											<div class="block3-left"></div>
											</div>
											</div>
											</div>
											</div>
									
										
										
									
										
												
									</if>
								                           			
                  			
					{prof2}	
                        </div>
                        
                       
						<div class="block3-footer">
								<div class="block3-right">
										<div class="block3-left"></div>
								</div>
						</div>
						
				</div>
			</div>
         
			
	  </div>
		<!-- / grading tab page -->
		
		
		
</div>
<!-- / tab pane -->
