

<!-- begin v3body4 -->

<div id="v3body4">

<!-- sub navigation -->

<div id="sub">

	<div id="subnav">
<input type="hidden" name="sample" id="sample" value="&#9733" />
<a href="consignments.php"><span>Listing</span></a>
<a href="consignments.php?cmd=create" ><span>Create</span></a> 
<a href="consignments.php?cmd=list_raw_send" ><span>List Raw</span></a>
<a href="consignments.php?cmd=search" ><span>Search</span></a>
<a href="consignments.php?cmd=pen_con_list"><span>Pending List</span></a>
<a href="consignments.php?cmd=quick_page" ><span>Edit Min/BN</span></a>
<a href="minbids_change.php" ><span>Edit Min/BN(Inc.Live)</span></a>
<a href="consignments.php?cmd=listing_page" class="sel"><span>Editing Fvf</span></a>
	</div>

</div>

<!-- /sub navigation -->



<!-- begin content -->

<div id="content">

<div class="header">FVF Admin Page</div><br />

	

	

	<!-- tab pane -->

	<div class="tab-pane">

	

			

		<!-- grading tab page -->

		<div class="tab-page">

			

			<h2 class="tab">FVF</h2>

			

                    

                  

				 

			<form method="post" action="{ilpage[consignment]}" accept-charset="UTF-8" name="ilform" style="margin: 0px;">

				<input type="hidden" name="cmd" value="listing_page" />

				<input type="hidden" name="subcmd" value="update_listingseller_page" />

				<input type="hidden" name="return" value="{ilpage[consignment]}" />

				<div class="block-wrapper">

				<div class="block3">

				

						<div class="block3-top">

								<div class="block3-right">

										<div class="block3-left"></div>

								</div>

						</div>

						

						<div class="block3-header">Quick Admin Page - FVF</div>

						<div class="block3-content-gray" style="padding:9px"><div class="smaller">{_you_can_manually_create_a_subscribers_account_using_the_quick_form}</div></div>

						<div class="block3-content" style="padding:0px">

						<div id="pcgdiv"></div>

							<table width="100%" border="0" cellspacing="{table_cellspacing}" cellpadding="{table_cellpadding}">
							{listing_loop}
							
							<tr>
							
							<td><input type="submit" name="submit" value="submit" /></td>
							</tr>

							</table>

                            </div>

                            

                       

						<div class="block3-footer">

								<div class="block3-right">

										<div class="block3-left"></div>

								</div>

						</div>

						

				</div>

			</div>

            </form>

	

			

			

	  </div>

		<!-- / grading tab page -->

		<div class="tab-page">

			

			<h2 class="tab">Miscellaneous</h2>

			

                    

                  

				 

			<form method="post" action="{ilpage[consignment]}" accept-charset="UTF-8" name="ilform" style="margin: 0px;">

				<input type="hidden" name="cmd" value="mis_page" />

				<input type="hidden" name="subcmd" value="update_mis_page" />

				<input type="hidden" name="return" value="{ilpage[consignment]}" />

				<div class="block-wrapper">

				<div class="block3">

				

						<div class="block3-top">

								<div class="block3-right">

										<div class="block3-left"></div>

								</div>

						</div>

						

						<div class="block3-header">Quick Admin Page - Miscellaneous</div>

						<div class="block3-content-gray" style="padding:9px"><div class="smaller">{_you_can_manually_create_a_subscribers_account_using_the_quick_form}</div></div>
						<div class="block3-content-gray" style="padding:9px"><div align="center">Invoice Type - DEBIT -> 0 AND CREDIT -> 1</div></div>

						<div class="block3-content" style="padding:0px">

						<div id="pcgdiv"></div>

							<table width="100%" border="0" cellspacing="{table_cellspacing}" cellpadding="{table_cellpadding}">
							{mis_loop}
							
							<tr>
							
							<td><input type="submit" name="submit" value="submit" /></td>
							</tr>

							</table>

                            </div>

                            

                       

						<div class="block3-footer">

								<div class="block3-right">

										<div class="block3-left"></div>

								</div>

						</div>

						

				</div>

			</div>

            </form>

	

			

			

	  </div>

		

		

</div>


<!-- / tab pane -->

<!--sekar on june 09-->




