<div id="v3body4">
	<div id="content">
	<div class="header">Pdf Message</div><br />	
		<div class="block-wrapper">
			<div class="block3">
			
					<div class="block3-top">
							<div class="block3-right">
									<div class="block3-left"></div>
							</div>
					</div>
					
					<div class="block3-header">Add Consignment PDF Message</div>
					<div class="block3-content" style="padding:0px">
					<form action="" method="post"><input type="hidden" name="subcmd" value="{command}">
						<input type="hidden" name="id" value="{id}">
					<table width="100%" cellpadding="{table_cellpadding}" cellspacing="{table_cellspacing}">
					  <tr class="alt2">
						<td align="left">Message name</td>
						<td ><input type="text" name="name" value="{name}"></td>
					  </tr>
					   <tr class="alt2">
						<td align="left">Message</td>
						<td ><textarea name="message" cols="50" rows="10">{message}</textarea></td>
					  </tr>
					   <tr class="alt2">
						<td align="left"></td>
						<td ><input type="submit" name="message_save" value="Save"></td>
					  </tr>
					</table>
					</form>
					</div>
					
					<div class="block3-footer">
							<div class="block3-right">
									<div class="block3-left"></div>
							</div>
					</div>
					
			</div>
		</div>
	</div>
</div>

