<div id="v3body4">
<!-- sub navigation -->
<div id="sub">
	<div id="subnav">
		<a href="#" ><span>New</span></a>
		<a href="#"><span>List</span></a> 
		<a href="#"><span>Coins List</span></a> 
		<a href="#"><span>Single Coin</span></a> 
		<a href="#"  class="sel"><span>Coin Cretification</span></a> 
		<a href="#"><span>Add Coin</span></a> 
		<a href="#"><span>List of Raw Coin</span></a> 
		<a href="#"><span>Search Coins</span></a>
	</div>
</div>
<!-- begin content -->
<div id="content">
	<div class="header">Consignments</div><br />

<!-- tab pane -->
	<div class="tab-pane">
	
	
	<!-- Affliate Listing -->
		<div class="tab-page">
		
		<h2 class="tab">Cretification</h2>
		
			<div class="block-wrapper">
					<div class="block3">
				
						<div class="block3-top">
							<div class="block3-right">
								<div class="block3-left"></div>
							</div>
					</div>
			
					<div class="block3-header">Edit Coins Details</div>
						<div class="block3-content" style="padding:0px">
						<table width="100%" border="0" cellspacing="{table_cellspacing}" cellpadding="{table_cellpadding}">
						<tr class="alt1">
						<td width="5%" class="gray">User Name</td>
					    <td width="5%" class="gray">XXXX</td>
						<td width="5%" class="gray">Email</td>
						<td width="5%" class="gray">sample$mail.com</td>
						<td width="7%" class="gray">Consignment Id:</td>
						<td width="5%" class="gray">3221</td>
						<td width="5%" class="gray">Referal Id:</td>
						<td width="5%" class="gray">CBN1</td>
						</tr>                       
						</table>		
						</div>
			
				<div class="block3-footer">
					<div class="block3-right">
						<div class="block3-left"></div>
					</div>
				</div>
			
			</div>
		</div>			
	
	
	</div>


<!-- / Affliate Listing -->
<div style="height:10px;"></div>
	<div class="tab-page">
		<div class="block-wrapper">
			<div class="block3">
			<div style="height:10px;"></div>
				<div class="block3-top">
					<div class="block3-right">
						<div class="block3-left"></div>
					</div>
				</div>
				<div class="block3-header">Coins Details ID - 98883</div>
					<div class="block3-content" style="padding:0px">
					<table width="100%" border="0" cellspacing="{table_cellspacing}" cellpadding="{table_cellpadding}">
                     <tr>
					<td width="5%" nowrap="nowrap"><span class="gray">Search by</span></td>
					<td width="5%">
								<select name="search_by" style="width:150px;">
								<option value="--">-----</option>
								<option value="PCGS">PCGS</option>
								<option value="NGC">NGC</option>
								<option value="ANAC">ANAC</option>
								<option value="CAC">CAC</option>						
								</select>	</td>
					</tr>
					<tr>
					<td width="5%" class="gray">Grading Service</td>
					<td width="5%">
								<select name="grading_service" style="width:150px;">
								<option value="--">-----</option>
								<option value="express">Express</option>
								<option value="normal">Normal</option>
								<option value="securepuls">Secure Puls</option>
								<option value="error">Error</option>
								<option value="world">World</option>
								</select>	</td>
					</tr>
					<tr>  
					<td width="5%" nowrap="nowrap"><span class="gray">Final value fee</span></td>
								<td width="5%" nowrap="nowrap">
								<select name="present">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								</select>&nbsp;&nbsp;%with&nbsp;&nbsp;
							
								<select name="min">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								</select>&nbsp;&nbsp;$min&nbsp;&nbsp;
					<td width="5%" nowrap="nowrap"><span class="gray">Listing Fee</span></td>
								<td width="5%" nowrap="nowrap">	
								<select name="listingfee">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">$5 for lessthen $100</option>
								<option value="6">$10 for $100 to $99</option>
								<option value="7">$20 for morethen $1000</option>
								</select>	</td>		
					</tr> 
					<tr>
					<td width="5%" nowrap="nowrap"><span class="gray">Note</span></td></tr><tr>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;<textarea name="#" style="width:250px; height:100px;">Inter notes lorem ipsum</textarea></td>
					</tr> 
					<tr>
                                  <td colspan="4" align="center"><input type="submit" class="buttons" value=" {_save} " style="font-size:15px" /></td> 
                                  </tr>                
					</table>		
					</div>
					<div class="block3-footer">
							<div class="block3-right">
								<div class="block3-left"></div>
							</div>
						</div>
			</div>
		</div>
	</div>
	
</div>
<!-- / tab pane -->



<!--Next html-->
<!--Add coin as raw coin-->
<div id="v3body4">
<!-- sub navigation -->
<!--<div id="sub">
	<div id="subnav">
		<a href="#" ><span>New</span></a>
		<a href="#"><span>List</span></a> 
		<a href="#"><span>Coins List</span></a> 
		<a href="#"><span>Single Coin</span></a> 
		<a href="#"  class="sel"><span>Coin Cretification</span></a> 
		<a href="#"><span>Add Coin</span></a> 
		<a href="#"><span>List of Raw Coin</span></a> 
		<a href="#"><span>Search Coins</span></a>
	</div>
</div>-->
<!-- begin content -->
<div id="content">
	<div class="header">Consignments</div><br />

<!-- tab pane -->
	<div class="tab-pane">
	
	
	<!-- Affliate Listing -->
		<div class="tab-page">
		
		<h2 class="tab">Add coin</h2>
		
			<div class="block-wrapper">
					<div class="block3">
				
						<div class="block3-top">
							<div class="block3-right">
								<div class="block3-left"></div>
							</div>
					</div>
			
					<div class="block3-header">Edit Coins Details</div>
						<div class="block3-content" style="padding:0px">
						<table width="100%" border="0" cellspacing="{table_cellspacing}" cellpadding="{table_cellpadding}">
						<tr class="alt1">
						<td width="5%" class="gray">User Name</td>
					    <td width="5%" class="gray">XXXX</td>
						<td width="5%" class="gray">Email</td>
						<td width="5%" class="gray">sample$mail.com</td>
						<td width="7%" class="gray">Consignment Id:</td>
						<td width="5%" class="gray">3333</td>
						<td width="5%" class="gray">Referal Id:</td>
						<td width="5%" class="gray">3325</td>
						</tr>                       
						</table>		
						</div>
			
				<div class="block3-footer">
					<div class="block3-right">
						<div class="block3-left"></div>
					</div>
				</div>
			
			</div>
		</div>			
	
	
	</div>


<!-- / Affliate Listing -->
<div style="height:10px;"></div>
	<div class="tab-page">
		<div class="block-wrapper">
			<div class="block3">
			<div style="height:10px;"></div>
				<div class="block3-top">
					<div class="block3-right">
						<div class="block3-left"></div>
					</div>
				</div>
				<div class="block3-header">Coins Details ID - 98882</div>
					<div class="block3-content" style="padding:0px">
					<table width="100%" border="0" cellspacing="{table_cellspacing}" cellpadding="{table_cellpadding}">
                     <tr>
					<td width="5%" nowrap="nowrap"><span class="gray">Search by</span></td>
					<td width="5%">
								<select name="search_by" style="width:150px;">
								<option value="--">-----</option>
								<option value="PCGS">PCGS</option>
								<option value="NGC">NGC</option>
								<option value="ANAC">ANAC</option>
								<option value="CAC">CAC</option>						
								</select>	
					</td>
					<td width="5%" nowrap="nowrap"><span class="gray">Referal id</span></td>
					<td width="5%">
								<select name="referal_id" style="width:150px;">
								<option value="--">-----</option>
								<option value="UBC10">UBC10</option>
								<option value="UBC9">UBC9</option>
								<option value="CBN1">CBN1</option>
								</select>	
					</td>
					</tr>
					<tr>
					<td width="5%" class="gray">Grading Service</td>
					<td width="5%">
								<select name="grading_service" style="width:150px;">
								<option value="--">-----</option>
								<option value="express">Express</option>
								<option value="normal">Normal</option>
								<option value="securepuls">Secure Puls</option>
								<option value="error">Error</option>
								<option value="world">World</option>
								</select>	
					</td>
					</tr>
					<tr>  
					<td width="5%" nowrap="nowrap"><span class="gray">Final value fee</span></td>
								<td width="5%" nowrap="nowrap">
								<select name="present">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								</select>&nbsp;&nbsp;%with&nbsp;&nbsp;
							
								<select name="min">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								</select>&nbsp;&nbsp;$min&nbsp;&nbsp;
					<td width="5%" nowrap="nowrap"><span class="gray">Listing Fee</span></td>
								<td width="5%" nowrap="nowrap">	
								<select name="listingfee">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">$5 for lessthen $100</option>
								<option value="6">$10 for $100 to $99</option>
								<option value="7">$20 for morethen $1000</option>
								</select>	</td>		
					</tr> 
					<tr>
					<td width="5%" nowrap="nowrap"><span class="gray">Note</span></td></tr><tr>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;<textarea name="#" style="width:250px; height:100px;">Inter notes lorem ipsum</textarea></td>
					</tr> 
					<tr>
                                  <td colspan="4" align="center"><input type="submit" class="buttons" value=" {_save} " style="font-size:15px" /></td> 
                                  </tr>                
					</table>		
					</div>
					<div class="block3-footer">
							<div class="block3-right">
								<div class="block3-left"></div>
							</div>
						</div>
			</div>
		</div>
	</div>
	
</div>
<!--Add coin as raw coin-->


<!--Next html-->
<!--Search Coin Page-->
<div id="v3body4">
<!-- sub navigation -->
<!--<div id="sub">
	<div id="subnav">
		<a href="#" ><span>New</span></a>
		<a href="#"><span>List</span></a> 
		<a href="#"><span>Coins List</span></a> 
		<a href="#"><span>Single Coin</span></a> 
		<a href="#"  class="sel"><span>Coin Cretification</span></a> 
		<a href="#"><span>Add Coin</span></a> 
		<a href="#"><span>List of Raw Coin</span></a> 
		<a href="#"><span>Search Coins</span></a>
	</div>
</div>-->
<!-- begin content -->
<div id="content">
	<div class="header">Consignments</div><br />

<!-- tab pane -->
	<div class="tab-pane">
	
	
	<!-- Affliate Listing -->
		<div class="tab-page">
		
		<h2 class="tab">Advanced Search</h2>
		
			<div class="block-wrapper">
					<div class="block3">
				
						<div class="block3-top">
							<div class="block3-right">
								<div class="block3-left"></div>
							</div>
					</div>
			
					<div class="block3-header">Advanced Search</div>
						<div class="block3-content" style="padding:0px">
						<table width="100%" border="0" cellspacing="{table_cellspacing}" cellpadding="{table_cellpadding}">
						<tr class="alt1">
						<td width="5%" class="gray">Pcgs#</td>
					    <td width="5%" class="gray"><input type="text" name="pcgs"></td>
						<td><input type="radio" name="radio_pcgs">&nbsp;&nbsp; And &nbsp;&nbsp;<input type="radio" name="radio_pcgs">&nbsp;&nbsp; On &nbsp;&nbsp;</td>
						</tr>
						<tr class="alt1">
						<td width="5%" class="gray">Item ID</td>
					    <td width="5%" class="gray"><input type="text" name="item_id"></td>
						<td><input type="radio" name="radio_itemid">&nbsp;&nbsp; And &nbsp;&nbsp;<input type="radio" name="radio_itemid">&nbsp;&nbsp; On &nbsp;&nbsp;</td>
						</tr>
						<tr class="alt1">
						<td width="5%" class="gray">Key word</td>
					    <td width="5%" class="gray"><input type="text" name="keyword"></td>
						<td><input type="radio" name="radio_keyword">&nbsp;&nbsp; And &nbsp;&nbsp;<input type="radio" name="radio_keyword">&nbsp;&nbsp; On &nbsp;&nbsp;</td>
						</tr> 
						<tr class="alt1">
						<td width="5%" class="gray">Category</td>
					    <td width="5%" class="gray">
						<select name="category" style="width:160px;">
								<option value="cat_a">Cat A</option>
								<option value="cat_b">Cat B</option>
								<option value="subcat_b1">Sub cat B1</option>
								<option value="subcat_b2">Sub cat B2</option>
						</select></td>
						<td><input type="radio" name="radio_cat">&nbsp;&nbsp; And &nbsp;&nbsp;<input type="radio" name="radio_cat">&nbsp;&nbsp; On &nbsp;&nbsp;</td>
						</tr> 
						<tr class="alt1">
						<td width="5%" class="gray">Pedigree</td>
					    <td width="5%" class="gray"><input type="text" name="pedigree"></td>
						<td><input type="radio" name="radio_ped">&nbsp;&nbsp; And &nbsp;&nbsp;<input type="radio" name="radio_ped">&nbsp;&nbsp; On &nbsp;&nbsp;</td>
						</tr>
						<tr class="alt1">
						<td width="5%" class="gray">Item Type</td>
					    <td width="5%" class="gray">
						<select name="item_type" style="width:160px;">
								<option value="bin">Bin</option>
								<option value="auction">Auction</option>
								<option value="bin_auction">Bin or Action</option>
						</select></td>
						<td><input type="radio" name="radio_itemtype">&nbsp;&nbsp; And &nbsp;&nbsp;<input type="radio" name="radio_itemtype">&nbsp;&nbsp; On &nbsp;&nbsp;</td>
						</tr>
						<tr class="alt1">
						<td width="5%" class="gray">Auction Status</td>
					    <td width="5%" class="gray">
						<select name="auction_status" style="width:160px;">
								<option value="current_auction">Current Auction</option>
								<option value="past_auction">Past Auction</option>
						</select></td>
						<td><input type="radio" name="radio_auction">&nbsp;&nbsp; And &nbsp;&nbsp;<input type="radio" name="radio_auction">&nbsp;&nbsp; On &nbsp;&nbsp;</td>
						</tr>
						</tr>
						<tr class="alt1">
						<td width="5%" class="gray">Site ID</td>
					    <td width="5%" class="gray">
						<select name="site_id" style="width:160px;">
								<option value="in_gc">In GC</option>
								<option value="in_ebay">In Ebay</option>
								<option value="in_bids">In Bids.com</option>
						</select></td>
						<td><input type="radio" name="radio_siteid">&nbsp;&nbsp; And &nbsp;&nbsp;<input type="radio" name="radio_siteid">&nbsp;&nbsp; On &nbsp;&nbsp;</td>
						</tr> 
						<tr class="alt1">
						<td width="5%" class="gray">CAC</td>
					    <td width="5%" class="gray"><input type="text" name="cac"></td>
						<td><input type="radio" name="radio_cac">&nbsp;&nbsp; And &nbsp;&nbsp;<input type="radio" name="radio_cac">&nbsp;&nbsp; On &nbsp;&nbsp;</td>
						</tr> 
						<tr class="alt1">
						<td width="5%" class="gray">Star</td>
					    <td width="5%" class="gray"><input type="text" name="star"></td>
						<td><input type="radio" name="radio_star">&nbsp;&nbsp; And &nbsp;&nbsp;<input type="radio" name="radio_star">&nbsp;&nbsp; On &nbsp;&nbsp;</td>
						</tr>
						<tr class="alt1">
						<td width="5%" class="gray">Cert#</td>
					    <td width="5%" class="gray"><input type="text" name="star"></td>
						<td><input type="radio" name="radio_cert">&nbsp;&nbsp; And &nbsp;&nbsp;<input type="radio" name="radio_cert">&nbsp;&nbsp; On &nbsp;&nbsp;</td>
						</tr>
						<tr>
                        <td colspan="2" align="right"><input type="submit" class="buttons" value=" {_search} " style="font-size:15px" /></td> 
                        </tr>                    
						</table>		
						</div>
			
				<div class="block3-footer">
					<div class="block3-right">
						<div class="block3-left"></div>
					</div>
				</div>
				<div style="height:10px;"></div>
			<div class="block3-top">
							<div class="block3-right">
								<div class="block3-left"></div>
							</div>
					</div>
			<div class="block3-header">Example for multiple Result for a search</div>
							<div class="block3-content" style="padding:0px">
								
							<table width="100%" cellpadding="{table_cellpadding}" cellspacing="{table_cellspacing}">
							  <tr class="alt2">
								<td width="7%" nowrap="nowrap"><span class="blue">Item Id</span></td>
								<td width="23%">Pcgs#</td>
								<td width="12%">Category</td>
								<td width="12%">Item Type</td>
								<td width="12%">End Date</td>
								<td width="17%">Site Id</td>
								<td width="16%" class="blue">View Details</td>
							  </tr>
							  
								<tr class="alt1" valign="top">
								  <td nowrap="nowrap"><span class="blue">6336</span></td>
								  <td>77363</td>
								  <td>Cat A</td>
								  <td>Bin</td>
								  <td>12-sep-2009</td>
								  <td>in GC</td>
								  <td class="blue">Click</td>
								</tr>
							  
							  
								<tr class="alt1" valign="top">
								  <td nowrap="nowrap"><span class="blue">5324</span></td>
								  <td>99568</td>
								  <td>Cat A</td>
								  <td>Auction</td>
								  <td>15-nov-2010</td>
								  <td>in ebay</td>
								  <td class="blue">Click</td>
								</tr>
							</table>
                         </div>
			<div class="block3-footer">
					<div class="block3-right">
						<div class="block3-left"></div>
					</div>
			</div>
			
			
			</div>
		</div>
	</div>
</div>
<!-- / tab pane -->
<!--Search Coin Page-->



<!--Next HTML-->
<!--List of Raw coins sent for certifications-->

<div style="height:10px;"></div>
			<div class="block-wrapper">
					<div class="block3">
					
							<div class="block3-top">
									<div class="block3-right">
											<div class="block3-left"></div>
									</div>
							</div>
							
							<div class="block3-header">List of Raw coins sent for certifications</div>
							<div class="block3-content" style="padding:0px">
								
							<table width="100%" cellpadding="{table_cellpadding}" cellspacing="{table_cellspacing}">
							  <tr class="alt2">
								<td width="7%" nowrap="nowrap"><span class="blue">Coin ID</span></td>
								<td width="23%">Consignment ID</td>
								<td width="12%">Date Sent</td>
								<td width="12%">Certification</td>
								<td width="12%">Seller</td>
								<td width="16%" class="blue">Relist</td>
							  </tr>
							  
								<tr class="alt1" valign="top">
								  <td nowrap="nowrap"><span class="blue">6336</span></td>
								  <td>77363</td>
								  <td>12-sep-2009</td>
								  <td>PCGS-Error</td>
								  <td>KKK</td>
								  <td class="blue">Click</td>
								</tr>
							  
							  
								<tr class="alt1" valign="top">
								  <td nowrap="nowrap"><span class="blue">5324</span></td>
								  <td>99568</td>
								  <td>15-nov-2010</td>
								  <td>PCGS-Express</td>
								  <td>Kevin</td>
								  <td class="blue">Click</td>
								</tr>
							</table>
                         </div>
							
							<div class="block3-footer">
									<div class="block3-right">
											<div class="block3-left"></div>
									</div>
							</div>
							
					</div>
				</div>

<!--List of Raw coins sent for certifications-->