<!-- begin v3body4 -->
<div id="v3body4">
<!-- sub navigation -->
<div id="content">



<div class="header">View Coin Auctions</div><br />
<table align="center" border="2">


<td>
Total No of coins in Current Auctions :</td>
<td>
<strong>{totliveitem_CurrentAuction}</strong>
</td>

<tr>
<td>
Total No of coins in Next Auctions :</td>
<td>
<strong>{totliveitem_nextAuction}</strong>
</td>

</tr>
<tr>
<td>
Total No of coins in Current Daily Deal :</td>
<td>
<strong>{totliveitem_Currentdailydeal}</strong>
</td>

</tr>
<tr>
<td>
Total No of coins in Next Daily Deal :</td>
<td>
<strong>{totliveitem_nextdailydeal}</strong>
</td>

</tr>

</table>
<div>&nbsp;&nbsp;</div>


<div class="header">Details</div><br />
<table align="center" border="2">

<tr>
<td>
No Auctions Sold   Yesterday</td>
<td>
<strong>{auctionyes}</strong>
</td>
</tr>

<tr>
<td>
NO of Auctions Bid placed Yesterday</td>
<td>
<strong>{auctionYessel}</strong>
</td>
</tr>

<tr>
<td>
Total NO of Auctions Bid placed </td>
<td>
<strong>{auctionsel}</strong>
</td>
</tr>


<tr>
<td>
No of Bin   Yesterday  </td>
<td>
<strong>{binyes}</strong>
</td>
</tr>

<tr>
<td>
Total Amount on Auctions   Yesterday  </td>
<td>
<strong> {totauctionyes}</strong>
</td>
</tr>

<tr>
<td>
Total Amount of Bin   Yesterday</td>
<td>
<strong>  {totbinyes}</strong>
</td>
</tr>

<tr>
<td>
Total values of items listed in GC till now
</td>
<td>
<strong> {totamount}</strong>
</td>
</tr>

<tr>
<td>
Total values of items live  in GC now
</td>
<td>
<strong> {totliveamount}</strong>
</td>
</tr>

<tr>
<td>

Total No of items listed in GC till now
</td>
<td>
<strong>{totitem}</strong>
</td>
</tr>

<tr>
<td>
Total No of items live  in GC now
</td>
<td>
<strong>{totliveitem}</strong>
</td>
</tr>

<tr>
<td>
Total Amount of cash advance out
</td>
<td>
<strong> {totadv}</strong>
</td>
</tr>

</table>
<div>&nbsp;&nbsp;</div>

<div class="header"> Total Owing </div>
<br />

<table align="center" border="2">
<tr>
<td>
Total Amount Owing to Great Collection (A/R)
</td>
<td>
<strong> {totamtowing}</strong></td>
</tr>
<tr>
<td>
Total Amount Owing to Great Collection In Past 15 Days (A/R)
</td> 
<td>
<strong> {totamtowing15}</strong></td>
</tr>
<tr>
<td>
Total Amount Owing to Great Collection In Past 30 Days (A/R)
</td>
<td>
<strong> {totamtowing30}</strong></td>
</tr>
<tr>
<td>
Total Amount Owing to Clients (A/P)
</td>
<td>
<strong> {totamtowingclient}</strong></td>
</tr>
</table>

</div> <!-- Content div -->
		
</div>
<!-- / tab pane -->
