

<!-- begin v3body4 -->
<div id="v3body4">
<!-- sub navigation -->
<div id="sub">
	<div id="subnav">
		<a href="users.php"><span>{_management}</span></a>
		<a href="email_generator_version4.php"  target="_blank" class=""><span>Email Generator 4.0</span></a> 
		<a href="email_export.php"  class="sel"><span>Email Export</span></a> 
		<a href="email_design.php" class=""><span>Email Design</span></a>
		<a href="email_generator_hotlist.php" class=""><span>Email Hotlist</span></a> 
		<a href="email_preferences.php" class=""><span>Email Preferences</span></a>
		<a href="email_generator.php" class=""><span>Email Template</span></a> 
		<a href="email_template.php" class=""><span>New Template</span></a> 
		<a href="email_generator_version2.php" class=""><span>Email Template 2.0</span></a> 
		<a href="uhr_template.php" class=""><span>UHR Template</span></a>
		<a href="saved_search.php" class=""><span>Search Options</span></a>
		
	</div>
</div>
<!-- /sub navigation -->

<div id="content">
	<!-- tab pane -->
	<div class="tab-pane">
	
			
		<!-- grading tab page -->
		<div class="tab-page">
			
			<h2 class="tab">Export</h2>
<form id="subscriber_search" action="email_export.php" accept-charset="UTF-8" style="margin:0px" method="post">
<input type="hidden" name="cmd" value="email_expotrt" />
				<div class="block-wrapper">
				<div class="block3">
				
						<div class="block3-top">
								<div class="block3-right">
										<div class="block3-left"></div>
								</div>
						</div>
						
						<div class="block3-header">Email Export</div>
						<div class="block3-content" style="padding:0px">
							
						<table width="100%" border="0" cellspacing="0" cellpadding="9">
						    <tr>
								<td width="10%">
									<span class="gray">DATE</span>
								</td>
							   <td>
							   		<input type="text" name="date" style="width: 20%;" />&nbsp;<span class="gray">dateformat:(yyyy-mm-dd)</span>
							   	</td>	
						    </tr>

							<tr>
								<td>Status</td>
								<td>
						      		<input type="radio" name="search_by" value="registrants" /><span class="gray">Registrants</span>
						      		<input type="radio" name="search_by" value="start_of_registration" /><span class="gray">Start of Registration</span>
						      	</td>
						    </tr>

						    <tr>
						   		<td>&nbsp;</td>
								<td><input type="submit" name="submit" value="submit" onclick="return check_export_form();" /></td></td>
						    </tr>

						</table>
							
</div>
						
						<div class="block3-footer">
								<div class="block3-right">
										<div class="block3-left"></div>
								</div>
						</div>
						
				</div>
			</div>
      			
				</form>
			</div>
		</div>
</div>				