<div id="v3body4">

<!-- sub navigation -->

	<div id="sub">
		<div id="subnav">
			<a href="reports.php" ><span>Reports</span></a>
			<a href="live_items_list_pcgs_ngc.php" class="sel"><span>Export</span></a> 
			<a href="payments_report.php"><span>Payments</span></a>
		</div>
	</div>

<!-- /sub navigation -->
	
<!-- begin content -->
<div id="content">

	<!-- tab pane -->
	<div class="tab-pane">			
		<!-- grading tab page -->
		<div class="tab-page">
			<h2 class="tab">PCGS</h2>
			<div class="block-wrapper">
				<div class="block3">
				
					<div class="block3-top">
						<div class="block3-right">
								<div class="block3-left"></div>
						</div>
					</div>
					
					<div class="block3-header">Export Live PCGS items list</div>
					<div class="block3-content-gray" style="padding:9px"><div class="smaller">PCGS Current Live Cert # Report (Registry Recommendations)</div></div>
					
					<div class="block3-content" style="padding:0px">
					
						<form name="ilform" action="" method="post" accept-charset="UTF-8" style="margin: 0px;" >
						  		<input type="hidden" name="cmd" value="live_item_list" />
								<table align="center" border="0" cellspacing="{table_cellspacing}" cellpadding="12">
								<tr>
								<td colspan="2" align="center">
								<input type="submit" class="buttons" value=" {_export} " name="print" style="font-size:15px" />
								 
								</td>
								</tr>
								</table>
						</form>
					
					</div>
					
					<div class="block3-footer">
						<div class="block3-right">
							<div class="block3-left"></div>
						</div>
					</div>
				
				</div>
			</div>
		
		</div>
		
	
	
	
			
		<!-- grading tab page -->
		<div class="tab-page">
			<h2 class="tab">PCGS&NGC</h2>
			<div class="block-wrapper">
				<div class="block3">
				
					<div class="block3-top">
						<div class="block3-right">
								<div class="block3-left"></div>
						</div>
					</div>
					
					<div class="block3-header">Export live PCGS & NGC items list</div>
					<div class="block3-content-gray" style="padding:9px"><div class="smaller">PCGS/NGC Current Live Report (Shop Button PCGS)</div></div>
					
					<div class="block3-content" style="padding:0px">
					
						<form name="ilform" action="" method="post" accept-charset="UTF-8" style="margin: 0px;" >
						  		<input type="hidden" name="cmd" value="live_item_list_pcgs_ngc" />
								<table align="center" border="0" cellspacing="{table_cellspacing}" cellpadding="12">
								<tr>
								<td colspan="2" align="center">
								<input type="submit" class="buttons" value=" {_export} " name="print" style="font-size:15px" />
								 
								</td>
								</tr>
								</table>
						</form>
					
					</div>
					
					<div class="block3-footer">
						<div class="block3-right">
							<div class="block3-left"></div>
						</div>
					</div>
				
				</div>
			</div>
		
		</div>	
                
                <div class="tab-page">
			<h2 class="tab">NGC Price Realized</h2>
			<div class="block-wrapper">
				<div class="block3">
				
					<div class="block3-top">
						<div class="block3-right">
								<div class="block3-left"></div>
						</div>
					</div>
					
					<div class="block3-header">Export NGC items Price Realized</div>
					<div class="block3-content-gray" style="padding:9px"><div class="smaller">Export Ngc prize realized for the selected date range in excel format</div></div>
					
					<div class="block3-content" style="padding:0px">
					
						<form name="ilform" action="exports.php" method="post" accept-charset="UTF-8" style="margin: 0px;">

							 <input type="hidden" name="cmd" value="ngc_prices_realized" />

							

							

							<table align="center">

							

							<tr><td>&nbsp;</td></tr>

								<tr>

								<td>

								EndDate Range

								</td>

								<td>

								From &nbsp;&nbsp;&nbsp;<input id="datepicker1" type="text" name="from_date" value="">

								</td>

								</tr>

								<tr><td>&nbsp;</td></tr>

							    <tr>

								<td>&nbsp;</td>

								<td>

								To &nbsp;&nbsp; &nbsp;<input id="datepicker2" type="text" name="to_date" value="">

								</td>

								</tr>

								<tr><td>&nbsp;</td></tr>

								<tr>

								<td>

						       Include Buynow

						        </td>

								<td>

								  <select name="display">

								   <option value="" selected="selected">Select</option>

								  <option value="buynow">Include Buynow</option>

								  <option value="auctions">Only Auctions </option>

								  </select>

						        </td>

								</tr>

							<tr><td>&nbsp;</td></tr>

							 <tr class="alt1">

							<td colspan="3" align="center">

							<input type="submit" name="generate" value="Generate" />

							</td>

							</tr>

							</table>

                               <!-- This Only for Shipping List-->	

							   </form>
					
					</div>
					
					<div class="block3-footer">
						<div class="block3-right">
							<div class="block3-left"></div>
						</div>
					</div>
				
				</div>
			</div>
		
		</div>
                
                <div class="tab-page">
			<h2 class="tab">NGC End date</h2>
			<div class="block-wrapper">
				<div class="block3">
				
					<div class="block3-top">
						<div class="block3-right">
								<div class="block3-left"></div>
						</div>
					</div>
					
					<div class="block3-header">Export NGC items Price Realized for a particular end date</div>
					<div class="block3-content-gray" style="padding:9px"><div class="smaller">Export NGC items Price Realized for a particular end date selected in excel format</div></div>
					
					<div class="block3-content" style="padding:0px">
					
						<form name="ilform" action="exports.php" method="post" accept-charset="UTF-8" style="margin: 0px;">

							 <input type="hidden" name="cmd" value="ngc_prices_realized_end_date" />

							

							

							<table align="center">

							

							<tr><td>&nbsp;</td></tr>

								<tr>

								<td>

								EndDate 

								</td>

								<td>

								<input id="datepicker4" type="text" name="to_date" value="">

								</td>

								</tr>

								<tr><td>&nbsp;</td></tr>

								
							<tr><td>&nbsp;</td></tr>

							 <tr class="alt1">

							<td colspan="3" align="center">

							<input type="submit" name="generate" value="Generate" />

							</td>

							</tr>

							</table>

                               <!-- This Only for Shipping List-->	

							   </form>
					
					</div>
					
					<div class="block3-footer">
						<div class="block3-right">
							<div class="block3-left"></div>
						</div>
					</div>
				
				</div>
			</div>
		
		</div>
	
	</div>
	
 
</div>
</div>	

<script>

								$(function() {

									$("#datepicker").datepicker({

											dateFormat: 'mm-dd-yy',

											beforeShowDay: enableSUNDAYS

										});
                                                                          $("#datepicker4").datepicker({

											dateFormat: 'yy-mm-dd',

											beforeShowDay: enableSUNDAYS

										});
										
									$("#datepicker1").datepicker({

											dateFormat: 'yy-mm-dd'
										});
									$("#datepicker2").datepicker({

											dateFormat: 'yy-mm-dd'
										});

										// Custom function to enable SUNDAY only in jquery calender

										function enableSUNDAYS(date) {

											var day = date.getDay();

											return [(day == 0), ''];

										}



									

								});

								</script>