<script type="text/javascript">
	$(function() {
		$("#datepicker").datepicker({
			dateFormat: 'mm-dd-yy',
			beforeShowDay: enableSUNDAYS
		});

		// Custom function to enable SUNDAY only in jquery calender
		function enableSUNDAYS(date) {
			var day = date.getDay();
			return [(day == 0), ''];
		}

		
	});
</script>

<script type="text/javascript">
	function checkdate(input){
		var validformat=/^\d{2}\-\d{2}\-\d{4}$/ //Basic check for format validity
		var returnval=false
		if(input.value == '')
			alert("Please Select end date and submit again.")
		else
		{
			if (!validformat.test(input.value))
				alert("Invalid Date Format. Please correct and submit again.")
			else
				returnval=true
		}
		

	if (returnval==false) input.select()
		return returnval
	}
</script>

<!-- begin v3body4 -->
<div id="v3body4">
<!-- sub navigation -->
<div id="sub">
	<div id="subnav">
		<a href="notify_win.php" class="sel"><span>Notify Win</span></a>
	</div>
</div>
<!-- /sub navigation -->

<!-- begin content -->

<div id="content">
	
	<!-- tab pane -->
	<div class="tab-pane">
	
			
		<!-- grading tab page -->
		<div class="tab-page">
			
			<h2 class="tab">Notify win</h2>
			
			  <div class="block-wrapper">
                    <div class="block3">
                    
                            <div class="block3-top">
                                    <div class="block3-right">
                                            <div class="block3-left"></div>
                                    </div>
                            </div>
                            
                            <div class="block3-header">Notify Win Auction - Email</div>
                            <div class="block3-content-gray" style="padding:9px"><div class="smaller">By auction end date</div></div>
                            <div class="block3-content" style="padding:0px">
							
							  <form onSubmit="return checkdate(this.end_Date)" method="post" name="block" action="notify_win.php" accept-charset="UTF-8" id="notify_win" style="margin: 0px;">
							  	<input type="hidden" name="subcmd" value="send_email" />
							   <table width="100%" border="0" cellspacing="{table_cellspacing}" cellpadding="{table_cellpadding}">
                                <tr class="alt1">
                                  <td width="15%"><span class="gray">End Date:</span></td>
                                  <td width="80%">
								<input id="datepicker" name="end_Date" type="text">
								</td>
			  			 	</tr>
			  				 <tr>
                                  <td colspan="2"><input type="submit" class="buttons" value=" Send mail " style="font-size:15px" /></td> 
                                  </tr>
								</table>
							  </form>
                             			
                            </div>
                            
                            <div class="block3-footer">
                                    <div class="block3-right">
                                            <div class="block3-left"></div>
                                    </div>
                            </div>
                            
                    </div>
                </div>



                        </div>
                       
                       
						<div class="block3-footer">
								<div class="block3-right">
										<div class="block3-left"></div>
								</div>
						</div>
						
				</div>
			</div>
         
			
	  </div>
		<!-- / grading tab page -->
		
		
		
</div>
<!-- / tab pane -->
