<!--  Tamil -->
<div id="v3body4">

	<!-- sub navigation -->

	<div id="sub">

		<div id="subnav">
			<input type="hidden" name="sample" id="sample" value="&#9733" />
			<a href="consignments.php"><span>Listing</span></a>
			<a href="consignments.php?cmd=create" ><span>Create</span></a> 
			<a href="consignments.php?cmd=list_raw_send" ><span>List Raw</span></a>
			<a href="consignments.php?cmd=search" ><span>Search</span></a>
			<a href="consignments.php?cmd=pen_con_list"  ><span>Pending List</span></a>
			<a href="consignments.php?cmd=quick_page" ><span>Edit Min/BN</span></a>
			<a href="minbids_change.php" class="sel" ><span>Edit Min/BN(Inc. Live)</span></a>
			<a href="consignments.php?cmd=listing_page"><span>Editing Fvf</span></a>
		</div>

	</div>

	<!-- /sub navigation -->
	<div id="content">
		<div class="header">Check out and print PDF Invoices in bulk</div><br />
		<div class="tab-pane">
			<div class="tab-page">
				<h2 class="tab">Bulk</h2>
<if condition="isset($show['user_pending_invoices']) AND $show['user_pending_invoices']== 0">				
				<form method="post" action="" 	accept-charset="UTF-8" name="ilform_checkout">
				
					<input type="hidden" name="cmd" value="change_bids">
					<div class="block-wrapper">
						<div class="block3">
						
							<div class="block3-top">
								<div class="block3-right">
									<div class="block3-left"></div>
								</div>
							</div>
							
							<div class="block3-header">Bug #4857</div>
							<div class="block3-content-gray" style="padding:9px"><div class="smaller">Check out and print PDF invoices</div></div>
							
							<div class="block3-content" style="padding: 0px 0px 0px 10px;">
								<br>
								<table width="100%" border="0" >
									<tr>
										<td><strong>Paste here the User Emails seperated each other by line break.</strong></td>
									</tr>
									<tr>
										<td><textarea id="email_list" name="email_list" cols="50" rows="10"></textarea></td>
									</tr>
								</table>
								
								<br>
								<input type="submit" name="submit" Value="Search" />
							</div>
							
							<div class="block3-footer">
								<div class="block3-right">
									<div class="block3-left"></div>
								</div>
							</div>
							
						</div>
					</div>
					
				</form>
				
</if>				
				
				
				
<if condition="isset($show['user_pending_invoices']) AND $show['user_pending_invoices']">			
<div class="block-wrapper">
<div class="block3">
<div class="block3-top"><div class="block3-right"><div class="block3-left"></div></div></div>
<div class="block3-header">Pending Invoices</div>
<form method="post" action="" 	accept-charset="UTF-8" name="ilform_checkout">
<input type="hidden" name="cmd" value="_do-invoice-checkout">
{hidden_fields}
<div style="padding:0px" class="block3-content">
	<table cellspacing="0" cellpadding="9" width="100%">
		<tbody>
			<tr class="alt2">
				<td align="left" width="12%">EMail</td>
				<td width="12%">GC Coins</td>
				<td width="12%">Ebay Coins</td>
				<td width="12%">Subtotal</td>
				<td width="12%" nowrap="nowrap">Sales Tax</td>
				<td width="12%" nowrap="nowrap">Shipping Charge</td>
				<td width="12%">Total</td>
			</tr>
			<loop name="pending_by_users"> 	
			<tr valign="top" class="alt1">
				<td nowrap="nowrap">
					<span class="blue"><a href="users.php?subcmd=_update-customer&amp;id={user_id}">{email} </a></span>
				</td>
				<td>{GC_coins}</td>
				<td>{Ebay_coins}</td>
				<td width="12%">{sub_total}</td>
				<td width="12%">{taxamount}</td>
				<td width="12%">{shipng_amnt}</td>
				<td width="12%">{totallistamount}</td>
			</tr>
			</loop name="pending_by_users">	
		</tbody>
	</table>
</div>
<div class="block3-footer"><div class="block3-right"><div class="block3-left"></div>
</div></div>

<br/>
<input type="submit" name="continue" value="Continue" />
</form>
</div></div>				
</if>
				
				
				
			</div>

		</div>
	</div>
</div>
<!--  Tamil -->