

<!-- begin v3body4 -->
<div id="v3body4">
<!-- sub navigation -->
<div id="sub">
	<div id="subnav">
		<a href="listings.php" ><span>Holding</span></a>
		<a href="listings.php?cmd=all_listing" class="sel"><span>Affiliate listing</span></a> 
		
	</div>
</div>
<!-- /sub navigation -->

<!-- begin content -->
<div id="content">
<div class="header">Affiliate listing</div><br />
	
	
	<!-- tab pane -->
	<div class="tab-pane">
	
			
		<!-- grading tab page -->
		<div class="tab-page">
			
			<h2 class="tab">Coins</h2>
			
			    
				<form method="post" action="{ilpage[pending]}" accept-charset="UTF-8" name="ilform" style="margin: 0px;">
				{form_input}
								<div class="block-wrapper">
				<div class="block3">
				
						<div class="block3-top">
								<div class="block3-right">
										<div class="block3-left"></div>
								</div>
						</div>
						
						<div class="block3-header">All Affiliate listing coins in other sites</div>
						<div class="block3-content-gray" style="padding:9px"><div class="smaller">{_you_can_manually_create_a_subscribers_account_using_the_quick_form}</div></div>
						<div class="block3-content" style="padding:0px">
						
						     	<table width="100%" border="0" cellspacing="{table_cellspacing}" cellpadding="{table_cellpadding}">
							
						      <tr class="alt1"> 
						       
								<td nowrap="nowrap" class="alt1" style="width: 125px;"><span class="gray">Site ID</span></td>
								<td>{site_id}</td>
								
							  </tr>
							 <tr class="alt1">
								<td nowrap="nowrap" class="alt1"><span class="gray">End Date</span></td>
								<td>{daylist}{monthlist}{yearlist}</td>
								
							  </tr>
							   <tr class="alt1">
								<td nowrap="nowrap" class="alt1"><input type="submit" value="submit" /></td>
								
								
							  </tr>
							  
							  </table>
							  
							  
							
						   
								                           			
                            </div>
                            
                            <div class="block3-footer">
                                    <div class="block3-right">
                                            <div class="block3-left"></div>
                                    </div>
                            </div>
                            
                    </div>
                  </div>
                    </form>
					
				 	
                        </div>
                        
                       
						
						
				</div>
			</div>
         
			
	  </div>
		<!-- / grading tab page -->
		
		
		
</div>
<!-- / tab pane -->
