<div id="tr"></div>
<!-- begin v3body4 -->
<div id="v3body4">
 

<!-- begin content -->
<div id="content">
<div class="header">Population & Price Suggestion update</div><br />
	
	
	<!-- tab pane -->
	<div class="tab-pane">
	
			
		<!-- grading tab page -->
		<div class="tab-page">
			
			<h2 class="tab">Files List</h2>
			    
				 <table width="100%" border="0" cellpadding="5">
  <tr>
    <th scope="col">Title</th>
    <th scope="col">File</th>
    <th scope="col">Modified On</th>
    <th scope="col">Last Uploaded On</th>
	<th scope="col">Upload</th>
  </tr>
  <tr>
    <td>Pcgs Population Suggestion</td>
    <td>{pcgs_pop_filename}</td>
    <td>{pcgs_pop_moddate}</td>
    <td>{pcgs_pop_update}</td>
   	<td><a href="population_price.php?cmd=upload&subcmd=pcgs_population">Update</a></td>
  </tr>
  <tr>
    <td>Ngc Population Suggestion</td>
    <td>{ngc_pop_filename}</td>
    <td>{ngc_pop_moddate}</td>
    <td>{ngc_pop_update}</td>
   	<td><a href="population_price.php?cmd=upload&subcmd=ngc_population">Update</a></td>
  </tr>
  <tr>
    <td>Pcgs Price Suggestion</td>
    <td>{pcgs_price_filename}</td>
    <td>{pcgs_price_moddate}</td>
    <td>{pcgs_price_last_update}</td>
   	<td><a href="population_price.php?cmd=upload&subcmd=pcgs_price">Update</a></td>
  </tr>
  <tr>
    <td>Ngc Price Suggestion</td>
    <td>{ngc_price_filename}</td>
    <td>{ngc_price_moddate}</td>
    <td>{ngc_price_last_update}</td>
   	<td><a href="population_price.php?cmd=upload&subcmd=ngc_price">Update</a></td>
  </tr>

</table>

			
	  </div>
		<!-- / grading tab page -->
<br />
<p>	*note:Uploading any file will take some time, make sure that there is minimum number of users surfing the site when you upload to avoid server over load</p>
<p>The file should have to be uploaded to this directory {pop_upload_dir}</p>
	
		
		
</div>
<!-- / tab pane -->
