
<!-- begin v3body4 -->
<div id="v3body4">
<!-- sub navigation -->
<div id="sub">
	<div id="subnav">
		<a href="listings.php"><span>Holding</span></a>
		<a href="listings.php?cmd=all_listing"><span>Affiliate listing</span></a> 
		<a href="listings.php?cmd=item_won"><span>Item Won</span></a> 
		<a href="listings.php?cmd=all_list_can" ><span>All Cancel Sale</span></a> 
		<a href="listings.php?cmd=search_coin"  class="sel"><span>listed in gc</span></a> 
		<a href="buynow_item.php" ><span>Item History</span></a>
		<a href="live_auction_detail.php" ><span>Live Auctions</span></a>
	</div>
</div>
<!-- /sub navigation -->

<!-- begin content -->
<div id="content">
<div class="header">Listed in gc</div><br />
	
	
	<!-- tab pane -->
	<div class="tab-pane">
	
			
		<!-- grading tab page -->
		<div class="tab-page">
			
			<h2 class="tab">Listed in Gc</h2>
			    
				
				
                   
					
					<div class="block-wrapper">
                    <div class="block3">
                    
                            <div class="block3-top">
                                    <div class="block3-right">
                                            <div class="block3-left"></div>
                                    </div>
                            </div>
                            
                            <div class="block3-header">{_search}</div>
                            <div class="block3-content-gray" style="padding:9px"><div class="smaller">You can search and filter Consignment  using the following form below</div></div>
                            <div class="block3-content" style="padding:0px">
                                <form name="form1" action="listings.php?cmd=search_coin" method="post">
								<input type="hidden" name="cmd1" value="search_coin_search">
                                                            <table width="100%" border="0" cellspacing="{table_cellspacing}" cellpadding="{table_cellpadding}">
                                <tr class="alt1">
                                  <td width="10%"><span class="gray">Search User</span>
                                  <td width="90%">
                                        <select name="filterby" style="font-family: Verdana">
                                        <optgroup label="{_filter_by}">
<option value="project_id" selected="selected">coin_id</option>
                                        <option value="user_id" <if condition="isset($ilance->GPC['filterby']) AND $ilance->GPC['filterby'] == 'user_id'">selected="selected"</if>>user_id</option>
										  <option value="currentprice" <if condition="isset($ilance->GPC['filterby']) AND $ilance->GPC['filterby'] == 'currentprice'">selected="selected"</if> >amount</option>
										  <option value="seller_username" <if condition="isset($ilance->GPC['filterby']) AND $ilance->GPC['filterby'] == 'seller_username'">selected="selected"</if> >Username of Seller</option>
										  <option value="seller_email" <if condition="isset($ilance->GPC['filterby']) AND $ilance->GPC['filterby'] == 'seller_email'">selected="selected"</if> >E-mail of Seller</option>
										  <option value="winningbidder_email" <if condition="isset($ilance->GPC['filterby']) AND $ilance->GPC['filterby'] == 'winningbidder_email'">selected="selected"</if>>E-mail of Bidder (Winning only)</option>
                                       </optgroup>
                                        </select>&nbsp;&nbsp;&nbsp;&nbsp;
                                       <input type="text" name="filtervalue" id="serachid" style="width: 500px;" value="{filtervalue}" size="18"  style="width: 75%;" />
										</td>
                                </tr>
								<tr>
                                  <td colspan="2"><div id="sitvalue"><input type="submit" class="buttons" value=" {_search} "  style="font-size:15px" /></div></td> 
                                  </tr>
								</table>
                               </form>
                               							
                            </div>
                            
                            <div class="block3-footer">
                                    <div class="block3-right">
                                            <div class="block3-left"></div>
                                    </div>
                            </div>
                            
                    </div>
                </div>
				   
					
				
						<div class="block-wrapper">
				<div class="block3">
				
						<div class="block3-top">
								<div class="block3-right">
										<div class="block3-left"></div>
								</div>
						</div>
						
						<div class="block3-header">List of all items  in GC</div>
						<div class="block3-content-gray" style="padding:9px"><div class="smaller">{_you_can_manually_create_a_subscribers_account_using_the_quick_form}</div></div>
						<div class="block3-content" style="padding:0px">
						
						       <table width="100%" border="0" cellspacing="{table_cellspacing}" cellpadding="{table_cellpadding}">
                                <tr class="alt2">
								
								<td width="14%">Consignment ID</td><td width="12%">Coin ID</td>
								<td width="12%">Seller Name</td>
								<td width="12%">Title</td>
								<td width="12%">Pcgs No</td>
								<!--<td width="12%">Sold Date</td>-->
								<td width="12%">End Date</td>
								<td width="12%">Amount</td>
								<td width="12%" nowrap="nowrap">Updating live listing</td>
								<td width="12%" nowrap="nowrap">24-Hour Deals</td>
								<!--<td width="12%" nowrap="nowrap">Cancel Sale</td>-->
							    </tr>
							    <loop name="item_won_aff_list">
							    <tr class="alt1" valign="top">
								
								<td width="14%">{conid}</td><td width="12%">{coin_id1}</td>
								<td width="12%">{seller_name1}</td>
								<td width="12%">{title1}</td>
								<td width="12%">{pc}</td>
								<!--<td width="12%">{SoldDate}</td>-->
								<td width="12%">{dt1}</td>
								<td width="12%" nowrap="nowrap">US${currentprice}</td>
								<td width="12%" nowrap="nowrap">{upda}</td>
								<td width="12%" nowrap="nowrap">{deld}</td>
								<!--<td width="12%">{CancelSale}</td>--></tr>
							   </loop name="item_won_aff_list">
							   <if condition="isset($show['no']) AND $show['no'] == 'won_aff_list'">
							   <tr class="alt1">
								 <td colspan="11" nowrap="nowrap" align="center">{_no_results_found}</td>
							   </tr>
							   </if>
							   </table>
								                           			
                            </div>
                            
                            <div class="block3-footer">
                                    <div class="block3-right">
                                            <div class="block3-left"></div>
                                    </div>
                            </div>
                            
                    </div>
                </div>		
								
					{prof2}	
                        </div>
                        
                       
						<div class="block3-footer">
								<div class="block3-right">
										<div class="block3-left"></div>
								</div>
						</div>
						
				</div>
			</div>
         
			
	  </div>
		<!-- / grading tab page -->
		
		
		
</div>
<!-- / tab pane -->
