<!-- begin v3body4 -->
<style type="text/css">


.dynamic-tab-pane-control .tab-row .tab.selected {
 -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
		padding-left:10px;
		padding-right:10px;
}

.dynamic-tab-pane-control .tab-row .tab {
 -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;padding-left:10px;
		padding-right:10px;
}
</style>
<div id="v3body4" style="width: 952px;">
<!-- sub navigation -->
<div id="sub">
	<div id="subnav" style="width: 949px;">
		<a href="settings.php"><span>{_grading_list}</span></a>
		<a href="settings.php?cmd=referalid"><span>{_referal_id}</span></a> 
		<a href="settings.php?cmd=shipping"><span>{_shipping}</span></a> 
		<a href="settings.php?cmd=dailydeals"><span>{_daily_deals}</span></a> 
		<a href="settings.php?cmd=searchpage" class="sel"><span>{_search_page}</span></a> 
		<a href="settings.php?cmd=alertarea"><span>{_alert_area}</span></a> 
		<a href="settings.php?cmd=affiliatelist"><span>{_affiliate_listing}</span></a> 
		<a href="settings.php?cmd=promocode"><span>{_promocode}</span></a>
		<a href="settings.php?cmd=coincondition"><span>{_coin_condition}</span></a>
		<a href="settings.php?cmd=timeline"><span>{_time_line}</span></a>
	</div>
</div>
<!-- /sub navigation -->

<!-- begin content -->
<div id="content">
<div class="header">{_settings}</div><br />
	
	<!-- tab pane -->
	<div class="tab-pane">
	
		<!-- search -->
		<div class="tab-page">
			
			<h2 class="tab">{_product}</h2>
			
	<if condition="$ilconfig['globalauctionsettings_productauctionsenabled']">
<div class="tab-page">
<form method="get" action="{ilpage[search]}" id="searchform2" name="searchproducts" accept-charset="UTF-8" onsubmit="return validate_all('searchproducts');" style="margin: 0px;">
<input type="hidden" name="mode" value="product" />
<div class="block-wrapper">

	<div class="block">
	
			<div class="block-top">
					<div class="block-right">
							<div class="block-left"></div>
					</div>
			</div>
			
			<div class="block-header">{_find_products}</div>
			<div class="block-content-yellow" style="padding:9px"><div class="smaller">{_advanced_search}</div></div>
			<div class="block-content" style="padding:0px">
				
				
				<table border="0" cellpadding="{table_cellpadding}" cellspacing="{table_cellspacing}" width="100%" align="center">
				<tbody id="collapseobj_search_productauctions" style="{search_productauctions_collapse}">
				<tr> 
					<td width="100%" align="left" valign="top" style="background:url({template_relativeimagepath}{template_imagesfolder}icons/bg_gradient_yellow_1x1000.gif) repeat-x"> 
					
						<div style="padding-bottom:5px"><strong>{_keywords}</strong></div>
						
						<table cellpadding="0" cellspacing="0" border="0">
						<tr> 
							<td><input type="text" name="q" value="{q}" maxlength="100" size="35" class="input" /></td>
							<td>&nbsp;&nbsp;&nbsp;<select name="titlesonly" style="font-family: verdana">
								<option value="-1">{_search_entire_auctions}</option>
								<option value="1">{_search_auction_titles_only}</option>
								</select>&nbsp;&nbsp;<input type="submit" value=" {_search} " class="buttons" /><div></div></td>
						</tr>
						</table>
						
						<hr size="1" width="100%" style="color:#cccccc; margin-top:6px; margin-bottom:1px" />
						
						<div style="padding-bottom:5px; padding-top:12px"><strong>{_category}</strong></div>
						<div style="padding-bottom:9px">{product_category_selection}</div>
						
						<div style="padding-bottom:5px; padding-top:9px"><strong>{_display_order}</strong></div>
						<div style="padding-bottom:9px">{sortpulldown}</div>
						
						<hr size="1" width="100%" style="color:#cccccc; margin-top:6px; margin-bottom:1px" />
						
						<div style="padding-bottom:5px; padding-top:9px"><input type="checkbox" id="cb_pricerange" onclick="enable_input_group('pricerange', this.checked, false)" /> <strong>{_price_range}</strong></div>
						<div style="padding-left:23px">
						<table cellpadding="0" cellspacing="0" border="0">
						<tr>
							<td>{_from}&nbsp;&nbsp;&nbsp;<span class="gray">{currencysymbol}</span>&nbsp;&nbsp;</td> 
							<td><input type="text" id="frompricerange" name="fromprice" value="0.01" maxlength="49" size="7" class="input" /></td>
							<td>&nbsp;&nbsp;&nbsp;{_to_upper}&nbsp;&nbsp;&nbsp;<span class="gray">{currencysymbol}</span>&nbsp;&nbsp;</td>
							<td><input type="text" id="topricerange" name="toprice" value="" maxlength="49" size="7" class="input" /></td>
						</tr>
						</table>
						</div>
						<hr size="1" width="100%" style="color:#cccccc; margin-top:6px; margin-bottom:1px" />
						
						<div style="padding-bottom:5px; padding-top:9px"><input type="checkbox" id="cb_productoptions" onclick="enable_input_group('productoptions', this.checked, false)" /> <strong>{_filters}</strong></div>
						<div class="gray" style="padding-left:23px" id="css_buynow2_1"><label for="buynow2_1"><input type="checkbox" name="buynow" id="buynow2_1" value="1" /> {_show_only_purchase_now_availability} </label></div>
						<div class="gray" style="padding-left:23px" id="css_images2_1"><label for="images2_1"><input type="checkbox" name="images" id="images2_1" value="1" /> {_show_only_with_images}</label></div>
						<if condition="$ilconfig['escrowsystem_enabled']"><div class="gray" style="padding-left:23px" id="css_escrow2_1"><label for="escrow2_1"><input type="checkbox" name="escrow" value="1" id="escrow2_1" /> {_show_items_that_sellers_require_secure_escrow} </label></div></if>
						<div class="gray" style="padding-left:23px" id="css_freesh2_1"><label for="freesh2_1"><input type="checkbox" name="freeshipping" value="1" id="freesh2_1" /> {_show_items_with_free_shipping} </label></div>
						<div class="gray" style="padding-left:23px" id="css_pboard2_1"><label for="pboard2_1"><input type="checkbox" name="publicboard" value="1" id="pboard2_1" /> {_show_listings_with_active_public_message_boards}</label></div>
						<div class="gray" style="padding-left:23px" id="css_laslot2_1"><label for="laslot2_1"><input type="checkbox" name="listedaslots" value="1" id="laslot2_1" /> {_show_items_listed_as_lots} </label></div>
                        
						<div style="padding-bottom:9px"></div>
						<hr size="1" width="100%" style="color:#cccccc; margin-top:6px; margin-bottom:1px" />
						
						<div style="padding-bottom:5px; padding-top:12px"><input type="checkbox" id="cb_productlistingtype" onclick="enable_input_group('productlistingtype', this.checked, false)" /><strong>{_listing_type}</strong></div>
						<div style="padding-bottom:9px; padding-left:23px">
                        
                        <div class="gray" id="css_cb_buyingformat2_1"><label for="cb_buyingformat2_1"><input type="checkbox" name="auction" value="1" id="cb_buyingformat2_1" /> {_auction}</label></div>
                        <div class="gray" id="css_cb_buyingformat2_2"><label for="cb_buyingformat2_2"><input type="checkbox" name="auction" value="1" id="cb_buyingformat2_2" /> {_fixed_price}</label></div>
                        <div class="gray" id="css_cb_buyingformat2_3"><label for="cb_buyingformat2_3"><input type="checkbox" name="inviteonly" value="1" id="cb_buyingformat2_3" /> {_find_invite_only_auctions}</label></div>
                        <div class="gray" id="css_cb_buyingformat2_4"><label for="cb_buyingformat2_4"><input type="checkbox" name="scheduled" value="1" id="cb_buyingformat2_4" /> {_upcoming} / {_scheduled}</label></div>
                        <if condition="$ilconfig['enable_uniquebidding']"><div class="gray" id="css_cb_buyingformat2_5"><label for="cb_buyingformat2_5"><input type="checkbox" name="lub" value="1" id="cb_buyingformat2_5" /> {_find_lowest_unique_bid_auctions}</label></div></if>
                        <div class="gray" id="css_cb_buyingformat2_6"><label for="cb_buyingformat2_6"><input type="checkbox" name="completed" value="1" id="cb_buyingformat2_6" /> {_completed}</label></div>
                        
						</div>
						
						<div style="padding-bottom:5px; padding-top:9px"><input type="checkbox" id="cb_productlisted" onclick="enable_input_group('productlisted', this.checked, false)" /> <strong>{_date_range}</strong></div>
						<div style="padding-bottom:9px; padding-left:23px">
						<select id="productendstart" name="endstart" style="font-family: verdana">
						<option value="1" selected="selected">{_ending_within}</option>
						<option value="2">{_ending_in_more_than}</option>
						<option value="3">{_started_within}</option></select>&nbsp;&nbsp;&nbsp;<select id="productendstart_filter" name="endstart_filter" style="font-family: verdana">
						<option value="-1" selected="selected">{_any_date}</option>
						<option value="1">1 {_hour}</option>
						<option value="2">2 {_hours}</option>
						<option value="3">3 {_hours}</option>
						<option value="4">4 {_hours}</option>
						<option value="5">5 {_hours}</option>
						<option value="6">12 {_hours}</option>
						<option value="7">24 {_hours}</option>
						<option value="8">2 {_days}</option>
						<option value="9">3 {_days}</option>
						<option value="10">4 {_days}</option>
						<option value="11">5 {_days}</option>
						<option value="12">6 {_days}</option>
						<option value="13">7 {_days}</option>
						<option value="14">2 {_weeks}</option>
						<option value="15">1 {_month}</option>
						</select>
						</div>
						
						<div style="padding-bottom:5px; padding-top:9px"><input type="checkbox" id="cb_productbidrange" onclick="enable_input_group('productbidrange', this.checked, false)" /> <strong>{_bids}</strong></div>
						  <div style="padding-bottom:9px; padding-left:23px">{search_bidrange_pulldown_product}</div>
						
						<hr size="1" width="100%" style="color:#cccccc; margin-top:6px; margin-bottom:9px" />
                        
                        <div style="padding-bottom:3px; padding-top:1px"><input type="checkbox" id="cb_productsearchuser" onclick="enable_input_group('productsearchuser', this.checked, false)" /> <strong>{_search_by_specific_merchant}</strong></div>
						<div style="padding-left:23px"><table cellpadding="0" cellspacing="0" border="0">
						<tr> 
							<td><input type="text" id="productsearchuser" name="searchuser" value="" maxlength="100" size="25" class="input" /></td>
							<td>&nbsp;&nbsp;&nbsp;<label for="exactname2"><input type="checkbox" name="exactname" value="1" id="productexactname" checked="checked" /> <span class="gray">{_exact_name}</span></label></td>
						</tr>
						</table>
						</div>
						<div style="padding-bottom:7px"></div>
						
						<hr size="1" width="100%" style="color:#cccccc; margin-top:6px; margin-bottom:9px" />
                        
                        <div style="padding-top:9px">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            
                            <td width="35%" align="left" rowspan="2" valign="top">
                            <div style="padding-bottom:5px"><input type="checkbox" id="cb_productregion" onclick="enable_input_group('region_product', this.checked, false)" /> 
                            <strong>{_region}</strong></div>
                            <div style="padding-left:16px">
                            <table cellpadding="0" cellspacing="0" width="100%">
                            <tr valign="top">
                                <td><div style="padding-bottom:8px"><span style="float:right; padding-right:10px">{region_pulldown_product} <a href="javascript:void(0)" onmouseover="Tip('<div><strong>{_from_region}</strong></div><div>{_you_can_search_results_based_on_a_specific_region_or_continent}</div>', BALLOON, true, ABOVE, true, OFFSETX, -17, FADEIN, 600, FADEOUT, 600, PADDING, 8)" onmouseout="UnTip()"><img src="{template_relativeimagepath}{template_imagesfolder}icons/tip.gif" border="0" alt="" /></a></span><input type="radio" id="rb_productregionfrom" name="regiontype" value="1" checked="checked" onclick="enable_input_group('radio_productregion', this.checked, false)" />&nbsp;{_from_region}</div></td>
                            </tr>
                            <tr valign="top">
                                <td><div style="padding-bottom:8px"><span style="float:right; padding-right:10px">{availableto_pulldown_product} <a href="javascript:void(0)" onmouseover="Tip('<div><strong>{_available_to}</strong></div><div>{_if_you_would_like_to_only_include_results_based_on_listings_that_are_available_to}</div>', BALLOON, true, ABOVE, true, OFFSETX, -17, FADEIN, 600, FADEOUT, 600, PADDING, 8)" onmouseout="UnTip()"><img src="{template_relativeimagepath}{template_imagesfolder}icons/tip.gif" border="0" alt="" /></a></span><input type="radio" id="rb_productregionto" name="regiontype" value="2" onclick="enable_input_group('radio_productregion', this.checked, false)" />&nbsp;{_available_to}</div></td>
                            </tr>
                            <tr valign="top">
                                <td><div><span style="float:right; padding-right:10px">{locatedin_pulldown_product} <a href="javascript:void(0)" onmouseover="Tip('<div><strong>{_located_in_upper}</strong></div><div>{_if_you_would_like_to_only_show_results_which_are_physically_located_in}</div>', BALLOON, true, ABOVE, true, OFFSETX, -17, FADEIN, 600, FADEOUT, 600, PADDING, 8)" onmouseout="UnTip()"><img src="{template_relativeimagepath}{template_imagesfolder}icons/tip.gif" border="0" alt="" /></a></span><input type="radio" id="rb_productregionin" name="regiontype" value="3" onclick="enable_input_group('radio_productregion', this.checked, false)" />&nbsp;{_located_in_upper}</div></td>
                            </tr>
                            </table>
                            </div>
                                                    
                                    </td>	
                                    <td rowspan="2" align="center" width="70">&nbsp;</td>
                                    <td rowspan="2"><div style="padding-bottom:8px"><input type="checkbox" id="cb_productlocation" onclick="enable_input_group('location_product', this.checked, false)" /> <strong>{_specific_location}</strong></div>
                          <table cellpadding="0" cellspacing="0" width="220">
                          <tr>
                                <td><div style="margin-bottom:4px; padding-left:23px"><span style="float:right">{search_country_pulldown_product}</span>{_country}</div></td>
                          </tr>
                          <tr>
                                <td><div style="margin-bottom:4px; padding-left:23px"><span style="float:right"><input type="text" name="city" id="incity2_3" maxlength="100" size="15" value="" class="input" /></span>{_city}</div></td>
                          </tr>
                          <tr>
                                <td><div style="margin-bottom:4px; padding-left:23px"><span style="float:right"><input type="text" name="state" id="state2_3" maxlength="100" size="15" value="" class="input" /></span>{_state}</div></td>
                          </tr>
                          <tr>
                                <td><div style="padding-left:23px"><span style="float:right"><input type="text" name="zip_code" id="zipcode2_3" maxlength="15" size="7" value="" /></span>{_zip_code}</div></td>
                          </tr>
                          </table>
                          <div style="padding-top:5px"></div></td>
                                  </tr>
                                </table>
     						 </div>
                             
                             
                        <if condition="$ilconfig['globalserver_enabledistanceradius']">
                        <div id="toggleradiusproduct" style="display:none">
                        <hr size="1" width="100%" style="color:#cccccc; margin-top:6px; margin-bottom:9px" />
                        <div style="padding-bottom:8px"><input type="checkbox" id="cb_productdistance" onclick="enable_input_group('distance_product', this.checked, false)" /> <strong>{_items_close_to_me}</strong></div>
                        <table cellpadding="0" cellspacing="0" width="220">
                        <!--<tr>
                            <td><div style="margin-bottom:6px; padding-left:23px"><span style="float:right">{search_radius_country_pulldown_product}</span>{_country}</div></td>
                        </tr>-->
                        <tr>
                            <td><div style="margin-bottom:6px; padding-left:23px"><span style="float:right; padding-right:8px"><select id="productradius" name="radius" style="font-family: verdana" title="{_radius}"><option value="" selected="selected">-</option><option value="5">5</option><option value="10">10</option><option value="20">20</option><option value="50">50</option><option value="100">100</option><option value="250">250</option><option value="500">500</option><option value="1000">1000</option><option value="2000">2000</option><option value="5000">5000</option><option value="10000">10000</option></select>&nbsp;&nbsp;{_miles_of}</span>{_within}</div></td>
                        </tr>
                        <tr>
                            <td><div style="margin-bottom:6px; padding-left:23px"><span style="float:right"><input type="text" id="productradiuszip" name="radiuszip" maxlength="15" size="7" value="" /> <a href="javascript:void(0)" onmouseover="Tip('<div><strong>{_zip_code} &amp; {_distance}</strong></div><div>{_in_order_to_view_search_results_based_on_distance_away_from_you}</div>', BALLOON, true, ABOVE, true, OFFSETX, -17, FADEIN, 600, FADEOUT, 600, PADDING, 8)" onmouseout="UnTip()"><img src="{template_relativeimagepath}{template_imagesfolder}icons/tip.gif" border="0" alt="" /></a></span><span style="float:left; padding-top:3px">{_zip_code}</span></div></td>
                        </tr>
                        </table>
                        <div style="padding-top:5px"></div>
                        </div>
                        </if>
                             
						
											<div align="center" style="padding-top:5px"></div></td>
				</tr>
				</tbody>
				</table>
				
			</div>
			
			<div class="block-footer">
					<div class="block-right">
							<div class="block-left"></div>
					</div>
			</div>
			
	</div>
</div>
<script type="text/javascript">
<!--
escrowCB2 = new iL_Inline('escrowCB2', 'escrow2', 'searchform2', '');
pboardCB2 = new iL_Inline('pboardCB2', 'pboard2', 'searchform2', '');
buynowCB2 = new iL_Inline('buynowCB2', 'buynow2', 'searchform2', '');
imagesCB2 = new iL_Inline('imagesCB2', 'images2', 'searchform2', '');
freeshCB2 = new iL_Inline('freeshCB2', 'freesh2', 'searchform2', '');
laslotCB2 = new iL_Inline('laslotCB2', 'laslot2', 'searchform2', '');
undageCB2 = new iL_Inline('undageCB2', 'undage2', 'searchform2', '');

enable_input_group('productbidrange', false, false);
enable_input_group('productlisted', false, false);
enable_input_group('pricerange', false, false);
enable_input_group('productoptions', false, false);
enable_input_group('productlistingtype', false, false);
enable_input_group('productsearchuser', false, false);			
<if condition="$ilconfig['globalserver_enabledistanceradius']">enable_input_group('distance_product', false, false);</if>
enable_input_group('location_product', false, false);
enable_input_group('region_product', false, false);

//-->
</script>
<div style="margin-top:4px; padding-bottom:9px"><input type="submit" value=" {_search} " class="buttons" style="font-size:15px" /></div>
</form>
</div>
</if>


   <!--listing search here-->
   <div class="block-wrapper">
					<div class="block3">
					
							<div class="block3-top">
									<div class="block3-right">
											<div class="block3-left"></div>
									</div>
							</div>
							
							<div class="block3-header">Saved Search List ({number})</div>
							<div class="block3-content" style="padding:0px">
								
							<table width="100%" cellpadding="{table_cellpadding}" cellspacing="{table_cellspacing}">
							  <tr class="alt2">
								
								<td width="5%" align="left">Id</td>
								
								<td width="10%">Title</td>
								<td width="10%">URL</td>
								<td width="11%">Click Here</td>
								<td width="11%">Edit</td>
								<td width="11%">Delete</td>
								
							  </tr>
							  <loop name="saved_list">
								<tr class="alt1" valign="top">
								  
								  <td nowrap="nowrap">{id}
									</td>
								  <td>{title}</td>
								  <td>{url}</td>
								  <td width="12%">{click}</td>
								  <td width="12%">{edit}</td>
								  <td width="11%">{delete}</td>
								 
								 
								</tr>
							  </loop name="saved_list">
							   <if condition="isset($show['no']) AND $show['no'] == 'list'">
                                                               <tr class="alt1">
                                                                 <td colspan="11" nowrap="nowrap" align="center">{_no_results_found}</td>
                                                               </tr>
                                                         </if>
							                      
							</table>
							

								
</div>
							
							<div class="block3-footer">
									<div class="block3-right">
											<div class="block3-left"></div>
									</div>
							</div>
							
					</div>
				</div>
				
				<if condition="isset($show['filter']) AND $show['filter'] == 'myvalue'" >
				<div class="block-wrapper">
					<div class="block3">
					
							<div class="block3-top">
									<div class="block3-right">
											<div class="block3-left"></div>
									</div>
							</div>
							
							<div class="block3-header">Update Search Result</div>
							<div class="block3-content" style="padding:0px">
							<form method="get" action="settings.php" id="" name="" accept-charset="UTF-8" onsubmit="return validate_all('searchproducts');" style="margin: 0px;">
<input type="hidden" name="update" value="update_search_result" />	
							<table width="100%" cellpadding="{table_cellpadding}" cellspacing="{table_cellspacing}">
							 
								
								<tr class="alt1" valign="top"><td width="5%" align="left">Id</td><td nowrap="nowrap"><input type="text" name="pid" value="{pid}" readonly="readonly" />	</td></tr>
								
								<tr class="alt1" valign="top"><td width="10%">Title</td><td><input type="text" name="ptitle" value="{ptitle}" style="width: 300px;"/>	</td></tr>
								<tr class="alt1" valign="top"><td width="10%">Description</td><td><textarea rows="5"  cols="50" name="pdesc"  />{pdesc}</textarea>	</td></tr>

								<tr class="alt1" valign="top"><td width="10%">URL</td><td><textarea rows="5"   cols="50" name="purl"  />{purl}</textarea></td></tr>
								
								
							  <tr><td><input type="submit" name="sub_val" value="submit" />	</td></tr>
						                   
							</table>
							</form>

								
</div>
							
							<div class="block3-footer">
									<div class="block3-right">
											<div class="block3-left"></div>
									</div>
							</div>
							
					</div>
				</div>
				
				</if>
			
	  	</div>
		<!-- / search -->
		
		
</div>
<!-- / tab pane -->
