<script type="text/javascript" language="Javascript">setupAllTabs();</script>

<if condition="isset($show['footerwysiwygpopup']) AND $show['footerwysiwygpopup']"><!-- START wysiwyg popup controls -->
<div id="insert_pop" style="display:none; width:50; position:absolute;"><table class="wysiwyg_popuplayer tableborder" border="0" cellpadding="1" cellspacing="6">
<tr>
	<td id="insert_title" class="wysiwyg_popuplayer_title" style="cursor: move" width="*"><ilayer><layer onmouseover="steditor=1;" onmouseout="steditor=0"><span id="change_title" style="font-size:11px"></span></layer></ilayer></td>
	<td width="1%" class="wysiwyg_popuplayer_title"><span class="smaller blue"><a href="javascript:void(0)" onclick="close_insert_pop(); return false">Close</a></span></td>
</tr>
<tr>
	<td width="100%" colspan="2"><iframe onmouseover="hide_it2()" name="insert_elm" id="insert_elm" frameborder="0" width="100%" height="250" src="" scrolling="no"></iframe></td>
</tr>
</table></div><!-- END wysiwyg popup controls --></if>

<div id="footer" align="center">
<!-- do not remove powered by graphic without branding removal option -->

<!-- do not remove powered by graphic without branding removal option -->
</div>

</div>
</div>
</div>
</div>
</div>

<div class="smaller" style="color:#cfcfcf" align="center">{_copyright} &copy;2003 - {year}, GreatCollections.com, LLC.</div>


<br />
</body>
</html>