<!-- sub navigation -->
<script type="text/javascript">    
       
function PrintDiv() {  
	   
          var r = document.getElementById('new');
          var y = r.innerHTML;
           y = y.replace(/\s+/g," ");
						 
			
if (window.XMLHttpRequest) { // Mozilla & other compliant browsers
               request = new XMLHttpRequest();
       } else if (window.ActiveXObject) { // Internet Explorer
               request = new ActiveXObject("Microsoft.XMLHTTP");
       }
       
	  
	   
       request.onreadystatechange = function ajaxResponse(){
               if (request.readyState==4){
			   
	
       window.open('http://www.greatcollections.com/staff/uhr_template.php?var=template', '_blank', 'width=300,height=300');
               
        
                       
               }
               else{
			   
			 
                      // document.getElementById('txt').innerHTML= "<img src='images/default/wheel.gif'/>";        
               }
       }
	   
	   
       // http_request.onreadystatechange = alertContents;
	   
	    url = 'https://www.greatcollections.com/staff/uhr_template.php';
	    var parameter = 'you=uio&user=';
        request.open('POST', url, true);
        request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        request.setRequestHeader("Content-length", parameter.length);
        request.setRequestHeader("Connection", "close");
        request.send(parameter);
    
	   
  
               
}
</script>
<div id="sub">
	<div id="subnav">
		<a href="users.php" class=""><span>{_management}</span></a>
		<a href="email_generator.php" class=""><span>Email Template</span></a> 
		<a href="email_template.php" class=""><span>New Template</span></a> 
		<a href="uhr_template.php" class="sel"><span>UHR Template</span></a>
		<a href="email_export.php" class=""><span>Email Export</span></a> 
	</div>
</div>
<!-- /sub navigation -->

<!-- begin content -->
	<div class="block-wrapper"> 
					<div class="block3"> 
					
							<div class="block3-top">
									<div class="block3-right">
											<div class="block3-left"></div>
									</div>
							</div>
							
							<div class="block3-header">Generate UHR Template</div>
							<div class="block3-content" style="padding:0px"><head> 
			
							
</head>
 <div><font face="arial" style="font:x-small" color="#000000"><br/></font></div>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<style type="text/css">
<!--
body,td,th {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	text-align:left;
}
body {
	background-color: #f9f9ed;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align:center;
}

#footer #blue { height:80px; background:url(http://www.greatcollections.com/images/gc/footer_blue.jpg) repeat-x top;}
#footer #green { height:34px; background:url(http://www.greatcollections.com/images/gc/footer_green.jpg) repeat-x top; color: #fff; font-size: 10px; margin: 0; padding: 10px 0; }
#footer #trans { height:70px; background-color: #f9f9ed; color: #555555; font-size: 10px; margin: 0; padding: 10px 0;}


-->
</style>
</head>
 
							<title>2009 Ultra High Relief at GreatCollections</title>
<body>
<table width="598" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
      <td width="598" height="17" style="border-collapse:collapse;"><!-- start GLOBAL NAV TABLE -->
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="background-color:#DEE7EC; background:  url('http://www.greatcollections.com/images/gc/globalnavbg.gif') center left repeat-x #DEE7EC;">
      <tr>
        <td width="250" bgcolor="#FFFFFF" style="border-collapse:collapse;"></td>
      </tr>
  </table>
<!-- end GLOBAL NAV TABLE -->
</td>
</tr>
</table>
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="">
<tr>
<td width="600" height="90" valign="middle" style="border-collapse:collapse; background:#E1E9F3;">
<!-- start HEADER TABLE -->
  <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">

    <tr style="height:120;background:url('{http_server}images/gc/box_blue.jpg');">
	
      <td width="200" height="90" align="left" style="border-collapse:collapse;"><a href="http://www.greatcollections.com/main.php?referal_name=email01" style="color:#336699; font-family:verdana,arial; font-size:11px; text-decoration:none;"><img src="{http_server}images/gc/uhr1.png" height="110" width="110" alt="Ultra High Relief" title="2009 Ultra High Relief" border="0" style="display:block;" /></a></td>
      <td width="400" height="90" style="text-align:center;">
	    <table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr height="20"><td>&nbsp;</td></tr>
		<tr>
        <td><span style="border-collapse:collapse; text-align:center; font-family:verdana,arial; font-size:20px; color:#2c5987;">2009 Ultra High Relief at GreatCollections</span>
      </td></tr>
	  <tr height="30"><td>&nbsp;</td></tr>
	   <tr>
      <td width="600" height="21" align="center" style="background-color:#2C5987; background:url('http://www.greatcollections.com/images/gc/nav-bg.jpg') center left repeat-x #2C5987;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign="middle" style="background-color:#2C5987; background:url('http://www.greatcollections.com/images/gc/nav-bg.jpg') center left repeat-x #2C5987;">
          <tr height="30">
  <td align="center" style="border-collapse:collapse;"><a href="http://www.greatcollections.com/merch.php?cmd=listings&referal_name=email01" style="padding:0 6px; font-family:verdana,arial; font-size:11px; color:#fff; text-align:center; text-decoration:none; text-transform:none;">View Coins</a></td>
  <td align="center" style="border-left:1px solid #fff; border-collapse:collapse;"><a href="http://www.greatcollections.com/search.php?q=ultra+high+relief&mode=product&sort=01" style="padding:0 6px; font-family:verdana,arial; font-size:11px; color:#fff; text-decoration:none; text-transform:none; text-align:center;">UHR's</a></td>
  <td align="center" style="border-left:1px solid #fff; border-collapse:collapse;"><a href="http://www.greatcollections.com/main-promise" style="padding:0 6px; font-family:verdana,arial; font-size:11px; color:#fff; text-decoration:none; text-transform:none; text-align:center;">Trust GC</a></td>
  <td align="center" style="border-left:1px solid #fff; border-collapse:collapse;"><a href="http://www.greatcollections.com/main-about" style="padding:0 6px; font-family:verdana,arial; font-size:11px; color:#fff; text-decoration:none; text-transform:none; text-align:center;">About GC</a></td>
  <td align="center" style="border-left:1px solid #fff; border-collapse:collapse;"><a href="http://www.greatcollections.com/main-contact" style="padding:0 6px; font-family:verdana,arial; font-size:11px; color:#fff; text-decoration:none; text-transform:none; text-align:center;">Contact US</a></td>

</tr>

        </table>
      </td>
    </tr>
	</table></td>
    </tr>
	

  </table>
<!-- end HEADER TABLE -->
</td>
</tr>

    <tr>
      <td width="598" style="border-collapse:collapse; padding:14px;"> 
<div id="new">	  
	 <table width="594" border="0" cellpadding="1" cellspacing="1">
  <tr valign="top">
    <td width="225" height="450">
	
  <table width="183" height="250" border="0" cellpadding="1" cellspacing="3" style="border:1px solid #B0C4CF;">
   <tr >
    <td height="32" colspan="2" style="background:url('{http_server}images/gc/box_blue_01.jpg');color:#FFFFFF;" ><b>Current Inventory</b> </td>
  </tr>
  <tr >
    <td colspan="2" >View Current Inventory </td>
  </tr>
  <tr style="background:url('{http_server}images/gc/box_blue_02.jpg');">
    <td colspan="2" >PCGS</td>
  </tr>
  <tr>
    <td width="77" bgcolor="#ededed"><a href="http://www.greatcollections.com/search.php?q=PCGS+MS-70+pl&mode=product&sort=01">MS-70 PL </a></td>
    <td width="99" bgcolor="#ededed"><a href="http://www.greatcollections.com/search.php?q=PCGS+MS-69+pl&mode=product&sort=01">MS-69 PL </a></td>
  </tr>
  <tr>
    <td bgcolor="#ededed"><a href="http://www.greatcollections.com/search.php?q=PCGS+MS-70+fs&mode=product&sort=01">MS-70 FS</a> </td>
    <td bgcolor="#ededed"><a href="http://www.greatcollections.com/search.php?q=PCGS+MS-69+fs&mode=product&sort=01">MS-69 FS</a> </td>
  </tr>
  <tr>
    <td bgcolor="#ededed"><a href="http://www.greatcollections.com/search.php?q=PCGS+MS-70&mode=product&sort=01">MS-70</a></td>
    <td bgcolor="#ededed"><a href="http://www.greatcollections.com/search.php?q=PCGS+MS-69&mode=product&sort=01">MS-69</a></td>
  </tr>

  <tr style="background:url('{http_server}images/gc/box_blue_02.jpg');">
    <td colspan="2">NGC</td>
  </tr>
  <tr>
    <td bgcolor="#EDEDED"><a href="http://www.greatcollections.com/search.php?q=NGC+MS-70+pl&mode=product&sort=01">MS-70 PL </a></td>
    <td bgcolor="#EDEDED"><a href="http://www.greatcollections.com/search.php?q=NGC+MS-69+pl&mode=product&sort=01">MS-69 PL</a></td>
  </tr>
  <tr style="border-bottom:1px solid #B0C4CF;">
    <td bgcolor="#EDEDED"><a href="http://www.greatcollections.com/search.php?q=NGC+MS-70&mode=product&sort=01">MS-70</a></td>
    <td bgcolor="#EDEDED"><a href="http://www.greatcollections.com/search.php?q=NGC+MS-69&mode=product&sort=01">MS-69</a></td>
  </tr>
  </table><br>
  <table width="183" height="250" border="0" cellpadding="1" cellspacing="3" style="border:1px solid #B0C4CF;">
  <tr style="background:url('{http_server}images/gc/box_blue_01.jpg');">
    <td height="32" colspan="2" style="color:#FFFFFF;"><b>Wanted to Buy</b> </td>
  </tr>
  <tr>
    <td height="25" colspan="2" bgcolor="#EDEDED"><a href="http://www.greatcollections.com/search.php?mode=product&q=PCGS+MS-70+PL+FS&series=&sort=01">PCGS MS-70 PL FS</a> </td>
  </tr>
  <tr>
    <td height="25" colspan="2" bgcolor="#EDEDED"><a href="http://www.greatcollections.com/search.php?mode=product&q=PCGS+MS-70+PL+FS&series=&sort=01">PCGS MS-70 PL FS </a></td>
  </tr>
  <tr>
    <td height="25" colspan="2" bgcolor="#EDEDED"><a href="http://www.greatcollections.com/search.php?mode=product&q=NGC+MS-70+PL&series=&sort=01">NGC MS-70 PL </a></td>
  </tr>
  <tr>
    <td height="25" colspan="2" bgcolor="#EDEDED"><a href="http://www.greatcollections.com/search.php?q=NGC+MS-70&mode=product&sort=01">NGC MS-70 </a></td>
  </tr>
 
</table></td>
    <td width="319" style="line-height:2em;"><p><strong>Lorem Ipsum</strong> is simply dummy text of the printing and   typesetting industry. Lorem Ipsum has been the industry's standard dummy   text ever since the 1500s, when an unknown printer took a galley of   type and scrambled it to make a type specimen book. It has survived not   only five centuries, but also the leap into electronic typesetting,   remaining essentially unchanged. It was popularised in the 1960s with   the release of Letraset sheets containing Lorem Ipsum passages, and more   recently with desktop publishing software like Aldus PageMaker   including versions of Lorem Ipsum.</p>
	<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
   </td>
  </tr>
</table>
      <div id="footer"> 
          	<div id="blue">  
			<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
            <tr><td>&nbsp;</td></tr>
			 <tr><td>&nbsp;</td></tr>
			<tr>
  <td align="center" style="border-collapse:collapse;text-align:center;"><a href="https://www.greatcollections.com/main.php?cmd=cp&referal_name=email01" style="padding:0 4px; border-left:none; font-family:verdana,arial; font-size:10px; color:#fff; text-decoration:none; font-weight:bold;">MyGC</a></td>
  <td align="center" style="border-left:1px solid #B0C4CF; border-collapse:collapse;text-align:center;"><a href="http://www.greatcollections.com/watchlist.php?referal_name=email01" style="padding:0 4px; border-left:none; font-family:verdana,arial; font-size:10px; color:#fff; text-decoration:none; font-weight:bold;">Watchlist</a></td>

  <td align="center" style="border-left:1px solid #B0C4CF; border-collapse:collapse;text-align:center;"><a href="http://www.greatcollections.com/main.php?cmd=about&referal_name=email01" style="padding:0 4px; border-left:none; font-family:verdana,arial; font-size:10px; color:#fff; text-decoration:none; font-weight:bold;">About Us</a></td>
  <td align="center" style="border-left:1px solid #B0C4CF; border-collapse:collapse;text-align:center;"><a href="http://www.greatcollections.com/kb/" style="padding:0 4px; border-left:none; font-family:verdana,arial; font-size:10px; color:#fff; text-decoration:none; font-weight:bold;">Help</a></td>
  <td align="center" style="border-left:1px solid #B0C4CF; border-collapse:collapse;text-align:center;"><a href="http://www.greatcollections.com/main.php?cmd=contact&referal_name=email01" style="padding:0 4px; border-left:none; font-family:verdana,arial; font-size:10px; color:#fff; text-decoration:none; font-weight:bold;">Contact Us</a></td>
  <td align="center" style="border-left:1px solid #B0C4CF; border-collapse:collapse;text-align:center;"><a href="http://www.greatcollections.com/main.php?cmd=promise&referal_name=email01" style="padding:0 4px; border-left:none; font-family:verdana,arial; font-size:10px; color:#fff; text-decoration:none; font-weight:bold;">Trust</a></td>
  <td align="center" style="border-left:1px solid #B0C4CF; border-collapse:collapse;text-align:center;"><a href="http://www.greatcollections.com/main.php?cmd=shows&referal_name=email01" style="padding:0 4px; border-left:none; font-family:verdana,arial; font-size:10px; color:#fff; text-decoration:none; font-weight:bold;">Coin Shows</a></td>
</tr>
 <tr><td>&nbsp;</td></tr>
 
      </table>
	  <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
          
			<tr>
  <td align="center" style="border-collapse:collapse;text-align:center;"><a href="https://www.greatcollections.com/main.php?cmd=through&referal_name=email01" style="padding:0 4px; border-left:none; font-family:verdana,arial; font-size:10px; color:#fff; text-decoration:none; font-weight:bold;">Bidding/Buying Coins Through GreatCollections</a></td>
  
  <td align="center" style="border-left:1px solid #B0C4CF; border-collapse:collapse;text-align:center;"><a href="http://www.facebook.com/GreatCollections" style="padding:0 4px; border-left:none; font-family:verdana,arial; font-size:10px; color:#fff; text-decoration:none; font-weight:bold;">Facebook</a></td>

  <td align="center" style="border-left:1px solid #B0C4CF; border-collapse:collapse;text-align:center;"><a href="http://twitter.com/greatcollection" style="padding:0 4px; border-left:none; font-family:verdana,arial; font-size:10px; color:#fff; text-decoration:none; font-weight:bold;">Follow Us On Twitter</a></td>
  
 
</tr>
 
      </table> </div>
          	<div id="green" align="center"> 
            	This message was sent to {EMAIL_ADDRESS}.<br />
				Please add info@greatcollections.com to your address book to ensure our emails reach your inbox!
            </div>
          
			<div id="trans" align="center">&copy; 2010 - 2012 GreatCollections.com, LLC<br />
							2030 Main Street, Suite 620, Irvine, CA 92614<br />
							Tel: 1.800.44.COINS (+1.949.679.4180) 
		  	</div>
        </div>

</div>
</div>
</body>
</html>


</div>
</div>
							
							<div class="block3-footer">
									<div class="block3-right">
											<div class="block3-left"></div>
									</div>
							</div>
							
					</div>
					
					<center><input type="button" value="Download HTML" onClick="PrintDiv();" ></center>
					
				</div>
				